<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>航天</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class='container'>
        <div class='header'>
            <div class='brand'>中国航天</div>
        </div>
        <div class='menu-box'>
            <ul class='menu-list'>
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="news.html">新闻中心</a>
                </li>
                <li>
                    <a href="notice.html">官方公告</a>
                </li>
            </ul>
        </div>
        <div class='banner'></div>
    </div>
    <div class='content'>
        <div class='news'>
            <h3>新闻中心</h3>
            <ul>
                <li>
                    <a href="news.html">
                        北京时间2021年12月9日15:40，“天宫课堂”第一课正式开讲，时隔8年之后，中国航天员再次进行太空授课。“太空教师”翟志刚、王亚平、...
                    </a>
                </li>
                <li>
                    <a href="news.html">2021年12月7日下午，中国航天员科研训练中心在北京航天城举行神舟十二号航天员乘组与记者见面会。人民日报、新华社、中央广播电视总台...</a>
                </li>
                <li>
                    <a href="news.html">“天宫课堂”第一课定于12月9日下午15:40开始，神舟十三号乘组航天员翟志刚、王亚平、叶光富将在中国空间站进行太空授课。中央广播电...</a>
                </li>
            </ul>
        </div>
        <div class='notice'>
            <h3>官方公告</h3>
            <ul>
                <li>
                    <a href="notice.html">核心舱组合体运行轨道参数</a>
                </li>
                <li>
                    <a href="notice.html">关于征集通过天舟系列货运飞船搭载科学技术试（实）验和应用项目的机会公告              （第一轮）</a>
                </li>
                <li>
                    <a href="notice.html">中国载人航天工程办公室发布《载人航天工程质量管理办法（试行）》</a>
                </li>
            </ul>
        </div>
    </div>
    <div class='footer'>
        <div class="footerL">
            <h2 class="">友情链接</h2>
            <ul class="footerYqUl">
              
              <li><a href="/" target="_blank">北斗卫星导航系统</a></li>
              
              <li><a href="/" target="_blank">中国航天科技集团有限公司</a></li>
              
              <li><a href="/" target="_blank">中国航天科工集团有限公司</a></li>
              
              <li><a href="/" target="_blank">中国电子科技集团有限公司</a></li>
              
              <li><a href="/" target="_blank">中国科学院</a></li>
              
              <li><a href="/" target="_blank">中国探月与深空探测</a></li>
              
              <li><a href="/" target="_blank">中国高分辨率对地观测系统</a></li>
              
              <li><a href="/" target="_blank">美国国家航空航天局（NASA）</a></li>
              
              <li><a href="/" target="_blank">欧洲航天局官网（ESA）</a></li>
              
              <li><a href="/" target="_blank">俄罗斯航天国家集团（ROSCOSMOS）</a></li>
              
            </ul>
    </div>
</body>
</html>