<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新闻中心</title>
    <link rel="stylesheet" href="./css/index.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div class="brand">中国航天</div>
      </div>
      <div class='menu-box'>
        <ul class='menu-list'>
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a href="news.html">新闻中心</a>
          </li>
          <li>
            <a href="notice.html">官方公告</a>
          </li>
        </ul>
        <div class="banner"></div>
      </div>
      <div class="content">
        <div class="content">
          <div class="crumbs">
            <span>当前位置:</span>
            <a href="../../" title="首页" class="CurrChnlCls">首页</a
            >&nbsp;&gt;&nbsp;<a href="../" title="新闻中心" class="CurrChnlCls"
              >新闻中心</a
            >&nbsp;&gt;&nbsp;<a href="./" title="综合新闻" class="CurrChnlCls"
              >综合新闻</a
            >
          </div>
          <h1 class='news-title'>综合新闻</h1>
          <ul class='news-list'>
            <li>
              <a href="#">中国空间站首次太空授课活动取得圆满成功</a>
            </li>
            <li>
              <a href="#">神舟十二号航天员乘组与记者见面会在北京航天城举行</a>
            </li>
            <li>
              <a href="#"
                >“天宫课堂”第一课定于12月9日下午在中国空间站开讲，此次太空授课活动将进行全程...</a
              >
            </li>
            <li>
              <a href="#">中国空间站“天宫课堂”首次太空授课活动将于近期进行</a>
            </li>
            <li>
              <a href="#">
                中国载人航天工程办公室首次面向社会公开征集天舟飞船搭载科学技术试（实）验和应...</a
              >
            </li>
            <li>
              <a href="#"
                >中共中央、国务院、中央军委决定给聂海胜、刘伯明、汤洪波颁发航天功勋奖章</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class='footer'>
        <div class="footerL">
            <h2 class="">友情链接</h2>
            <ul class="footerYqUl">
              
              <li><a href="/" target="_blank">北斗卫星导航系统</a></li>
              
              <li><a href="/" target="_blank">中国航天科技集团有限公司</a></li>
              
              <li><a href="/" target="_blank">中国航天科工集团有限公司</a></li>
              
              <li><a href="/" target="_blank">中国电子科技集团有限公司</a></li>
              
              <li><a href="/" target="_blank">中国科学院</a></li>
              
              <li><a href="/" target="_blank">中国探月与深空探测</a></li>
              
              <li><a href="/" target="_blank">中国高分辨率对地观测系统</a></li>
              
              <li><a href="/" target="_blank">美国国家航空航天局（NASA）</a></li>
              
              <li><a href="/" target="_blank">欧洲航天局官网（ESA）</a></li>
              
              <li><a href="/" target="_blank">俄罗斯航天国家集团（ROSCOSMOS）</a></li>
              
            </ul>
    </div>
    </div>
  </body>
</html>
