<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>官方公告</title>
    <link rel="stylesheet" href="./css/index.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="brand">中国航天</div>
      </div>
      <div class='menu-box'>
        <ul class='menu-list'>
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a href="news.html">新闻中心</a>
          </li>
          <li>
            <a href="notice.html">官方公告</a>
          </li>
        </ul>
        <div class="banner"></div>
      </div>
      <div class="content">
        <div class="crumbs crumbsNoLeft">
          <span>当前位置:</span>
          <a href="../" title="首页" class="CurrChnlCls">首页</a
          >&nbsp;&gt;&nbsp;<a href="./" title="官方公告" class="CurrChnlCls"
            >官方公告</a
          >
        </div>
        <h1 class='notice-title'>官方公告</h1>
        <ul class='notice-list'>
          <li>
            <a href="#">核心舱组合体运行轨道参数</a>
          </li>
          <li>
            <a href="#"
              >关于征集通过天舟系列货运飞船搭载科学技术试（实）验和应用项目的机会公告
              （第一轮）</a
            >
          </li>
          <li>
            <a href="#"
              >中国载人航天工程办公室发布《载人航天工程质量管理办法（试行）》</a
            >
          </li>
          <li>
            <a href="#">长征二号F遥十三运载火箭二级残骸轨道参数公告（一）</a>
          </li>
          <li>
            <a href="#">长征七号遥四运载火箭末级残骸已再入大气层</a>
          </li>
          <li>
            <a href="#">长征七号遥三火箭末级残骸再入大气层情况公告</a>
          </li>
          <li>
            <a href="#">中国载人航天国际论坛暨第六届载人航天学术大会征文通知</a>
          </li>
        </ul>
      </div>
      <div class='footer'>
        <div class="footerL">
            <h2 class="">友情链接</h2>
            <ul class="footerYqUl">
              
              <li><a href="/" target="_blank">北斗卫星导航系统</a></li>
              
              <li><a href="/" target="_blank">中国航天科技集团有限公司</a></li>
              
              <li><a href="/" target="_blank">中国航天科工集团有限公司</a></li>
              
              <li><a href="/" target="_blank">中国电子科技集团有限公司</a></li>
              
              <li><a href="/" target="_blank">中国科学院</a></li>
              
              <li><a href="/" target="_blank">中国探月与深空探测</a></li>
              
              <li><a href="/" target="_blank">中国高分辨率对地观测系统</a></li>
              
              <li><a href="/" target="_blank">美国国家航空航天局（NASA）</a></li>
              
              <li><a href="/" target="_blank">欧洲航天局官网（ESA）</a></li>
              
              <li><a href="/" target="_blank">俄罗斯航天国家集团（ROSCOSMOS）</a></li>
              
            </ul>
    </div>
    </div>
  </body>
</html>
