<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dungar - Details Right Sidebar</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="static/css/css2.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/animate.min.css">
	<link rel="stylesheet" href="static/css/jquery-ui.css">
	<link rel="stylesheet" href="static/css/slick.css">
	<link rel="stylesheet" href="static/css/chosen.min.css">
	<link rel="stylesheet" href="static/css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="static/css/magnific-popup.min.css">
	<link rel="stylesheet" href="static/css/lightbox.min.css">
	<link rel="stylesheet" href="static/css/jquery.fancybox.css">
	<link rel="stylesheet" href="static/css/jquery.scrollbar.min.css">
	<link rel="stylesheet" href="static/css/mobile-menu.css">
	<link rel="stylesheet" href="static/css/flaticon.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body class="details-page">
<header class="header style7">
	<div class="top-bar">
		<div class="container">
			<div class="top-bar-left">
				<div class="header-message">
					欢迎来到我们的商店!
				</div>
			</div>
			<div class="top-bar-right">
				<div class="header-language">
					<div class="dungar-language dungar-dropdown">
						<a href="#" class="active language-toggle" data-dungar="dungar-dropdown">
								<span>
									Chinese (RMB)
								</span>
						</a>
						<ul class="dungar-submenu">
							<li class="switcher-option">
								<a href="#">
										<span>
											English (USD)
										</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<ul class="header-user-links">
					<li>
						<a href="login.html">登陆 or 注册</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="main-header">
			<div class="row">
				<div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
					<div class="logo">
						<a href="index.html">
							<img src="static/picture/logo.png" alt="img">
						</a>
					</div>
				</div>
				<div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12">
					<div class="block-search-block">
						<form class="form-search form-search-width-category">
							<div class="form-content">
								<div class="category">
									<select title="cate" data-placeholder="全部分类" class="chosen-select" tabindex="1">
										<option value="United States">配件</option>
										<option value="United Kingdom">电视和视频</option>
										<option value="Afghanistan">桌子</option>
										<option value="Aland Islands">沙发</option>
										<option value="Albania">新品</option>
										
									</select>
								</div>
								<div class="inner">
									<input type="text" class="input" name="s" value="" placeholder="请输入">
								</div>
								<button class="btn-search" type="submit">
									<span class="icon-search"></span>
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-2 col-sm-12 col-md-3 col-xs-12 col-ts-12">
					<div class="header-control">
						<div class="block-minicart dungar-mini-cart block-header dungar-dropdown">
							<a href="javascript:void(0);" class="shopcart-icon" data-dungar="dungar-dropdown">
								购物车
								<span class="count">
									0
									</span>
							</a>
							<div class="no-产品 dungar-submenu">
								<p class="text">
									你有
									<span>
											 0 商品
										</span>
									in 你的 购物袋
								</p>
							</div>
						</div>
						<div class="block-账户 block-header dungar-dropdown">
							<a href="javascript:void(0);" data-dungar="dungar-dropdown">
								<span class="flaticon-user"></span>
							</a>
							<div class="header-账户 dungar-submenu">
								<div class="header-user-form-tabs">
									<ul class="tab-link">
										<li class="active">
											<a data-toggle="tab" aria-expanded="true" href="#header-tab-login">登陆</a>
										</li>
										<li>
											<a data-toggle="tab" aria-expanded="true" href="#header-tab-rigister">注册</a>
										</li>
									</ul>
									<div class="tab-container">
										<div id="header-tab-login" class="tab-panel active">
											<form method="post" class="login form-login">
												<p class="form-row form-row-wide">
													<input type="email" placeholder="邮箱" class="input-text">
												</p>
												<p class="form-row form-row-wide">
													<input type="密码" class="input-text" placeholder="密码">
												</p>
												<p class="form-row">
													<label class="form-checkbox">
														<input type="checkbox" class="input-checkbox">
														<span>
																记住密码
															</span>
													</label>
													<input type="submit" class="button" value="登陆">
												</p>
												<p class="lost_password">
													<a href="#">忘记 你的 密码?</a>
												</p>
											</form>
										</div>
										<div id="header-tab-rigister" class="tab-panel">
											<form method="post" class="register form-register">
												<p class="form-row form-row-wide">
													<input type="email" placeholder="邮箱" class="input-text">
												</p>
												<p class="form-row form-row-wide">
													<input type="密码" class="input-text" placeholder="密码">
												</p>
												<p class="form-row">
													<input type="submit" class="button" value="注册">
												</p>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a class="menu-bar mobile-navigation menu-toggle" href="#">
							<span></span>
							<span></span>
							<span></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-nav-container">
		<div class="container">
			<div class="header-nav-wapper main-menu-wapper">
				<div class="vertical-wapper block-nav-categori">
					<div class="block-title">
						<span class="icon-bar">
							<span></span>
							<span></span>
							<span></span>
						</span>
						<span class="text">全部分类</span>
					</div>
					<div class="block-content verticalmenu-content">
						<ul class="dungar-nav-vertical vertical-menu dungar-clone-mobile-menu">
							<li class="menu-item">
								<a href="#" class="dungar-menu-item-title" title="新品">新品</a>
							</li>
							<li class="menu-item">
								<a title="热卖" href="#" class="dungar-menu-item-title">热卖</a>
							</li>
							<li class="menu-item menu-item-has-children">
								<a title="配件" href="#" class="dungar-menu-item-title">配件</a>
								<span class="toggle-submenu"></span>
								<ul role="menu" class=" submenu">
									<li class="menu-item">
										<a title="钟表" href="#" class="dungar-item-title">钟表</a>
									</li>
									<li class="menu-item">
										<a title="电视和视频" href="#" class="dungar-item-title">电视和视频</a>
									</li>
									<li class="menu-item">
										<a title="新品" href="#" class="dungar-item-title">新品</a>
									</li>
									<li class="menu-item">
										<a title="配件" href="#" class="dungar-item-title">配件</a>
									</li>
									<li class="menu-item">
										<a title="Storage" href="#" class="dungar-item-title">Storage</a>
									</li>
								</ul>
							</li>
							<li class="menu-item">
								<a title="电视和视频" href="#" class="dungar-menu-item-title">电视和视频</a>
							</li>
							<li class="menu-item">
								<a title="耳机" href="#" class="dungar-menu-item-title">耳机</a>
							</li>
							<li class="menu-item">
								<a title="鼠标" href="#" class="dungar-menu-item-title">鼠标</a>
							</li>
							<li class="menu-item">
								<a title="手机" href="#" class="dungar-menu-item-title">手机</a>
							</li>
							<li class="menu-item">
								<a title="相机" href="#" class="dungar-menu-item-title">相机</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="header-nav">
					<div class="container-wapper">
						<ul class="dungar-clone-mobile-menu dungar-nav main-menu " id="menu-main-menu">
							<li class="menu-item  menu-item-has-children">
								<a href="index.html" class="dungar-menu-item-title" title="首页">首页</a>
								<span class="toggle-submenu"></span>
								<ul class="submenu">
									<li class="menu-item">
										<a href="index.html">首页 01</a>
									</li>
									<li class="menu-item">
										<a href="home2.html">首页 02</a>
									</li>
									<li class="menu-item">
										<a href="home3.html">首页 03</a>
									</li>
								</ul>
							</li>
							<li class="menu-item menu-item-has-children">
								<a href="gridproducts.html" class="dungar-menu-item-title" title="店铺">店铺</a>
								<span class="toggle-submenu"></span>
								<ul class="submenu">
									<li class="menu-item">
										<a href="gridproducts.html">Grid Fullwidth</a>
									</li>
									<li class="menu-item">
										<a href="gridproducts_leftsidebar.html">Grid Left sidebar</a>
									</li>
									<li class="menu-item">
										<a href="gridproducts_bannerslider.html">Grid Bannerslider</a>
									</li>
									<li class="menu-item">
										<a href="listproducts.html">List</a>
									</li>
								</ul>
							</li>
							<li class="menu-item  menu-item-has-children item-megamenu">
								<a href="#" class="dungar-menu-item-title" title="Pages">Pages</a>
								<span class="toggle-submenu"></span>
								<div class="submenu mega-menu menu-page">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
											<div class="dungar-custommenu default">
												<h2 class="widgettitle">店铺 Pages</h2>
												<ul class="menu">
													<li class="menu-item">
														<a href="shoppingcart.html">购物车</a>
													</li>
													<li class="menu-item">
														<a href="wishlist.html">心愿单</a>
													</li>
													<li class="menu-item">
														<a href="checkout.html">查看</a>
													</li>
													<li class="menu-item">
														<a href="contact.html">联系我们</a>
													</li>
													<li class="menu-item">
														<a href="404page.html">404</a>
													</li>
													<li class="menu-item">
														<a href="login.html">登陆/注册</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
											<div class="dungar-custommenu default">
												<h2 class="widgettitle">产品</h2>
												<ul class="menu">
													<li class="menu-item">
														<a href="productdetails-fullwidth.html">产品 Fullwidth</a>
													</li>
													<li class="menu-item">
														<a href="productdetails-leftsidebar.html">产品 left sidebar</a>
													</li>
													<li class="menu-item">
														<a href="">产品 right sidebar</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
										</div>
									</div>
								</div>
							</li>
							<li class="menu-item  menu-item-has-children">
								<a href="inblog_right-siderbar.html" class="dungar-menu-item-title" title="博客">博客</a>
								<span class="toggle-submenu"></span>
								<ul class="submenu">
									<li class="menu-item menu-item-has-children">
										<a href="#" class="dungar-menu-item-title" title="Blog Style">Blog Style</a>
										<span class="toggle-submenu"></span>
										<ul class="submenu">
											<li class="menu-item">
												<a href="bloggrid.html">Grid</a>
											</li>
											<li class="menu-item">
												<a href="bloglist.html">List</a>
											</li>
											<li class="menu-item">
												<a href="bloglist-leftsidebar.html">List Sidebar</a>
											</li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children">
										<a href="#" class="dungar-menu-item-title" title="Post Layout">Post Layout</a>
										<span class="toggle-submenu"></span>
										<ul class="submenu">
											<li class="menu-item">
												<a href="inblog_left-siderbar.html">Left Sidebar</a>
											</li>
											<li class="menu-item">
												<a href="inblog_right-siderbar.html">Right Sidebar</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="menu-item">
								<a href="about.html" class="dungar-menu-item-title" title="关于我们">关于我们</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="header-device-mobile">
	<div class="wapper">
		<div class="item mobile-logo">
			<div class="logo">
				<a href="index.html">
					<img src="static/picture/logo.png" alt="img">
				</a>
			</div>
		</div>
		<div class="item item mobile-search-box has-sub">
			<a href="#">
						<span class="icon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
			</a>
			<div class="block-sub">
				<a href="#" class="close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</a>
				<div class="header-searchform-box">
					<form class="header-searchform">
						<div class="searchform-wrap">
							<input type="text" class="search-input" placeholder="Enter keywords to search...">
							<input type="submit" class="submit button" value="Search">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="item mobile-settings-box has-sub">
			<a href="#">
						<span class="icon">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</span>
			</a>
			<div class="block-sub">
				<a href="#" class="close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</a>
				<div class="block-sub-item">
					<h5 class="block-item-title">Currency</h5>
					<form class="currency-form dungar-language">
						<ul class="dungar-language-wrap">
							<li class="active">
								<a href="#">
											<span>
												Chinese (RMB)
											</span>
								</a>
							</li>
							<li>
								<a href="#">
											<span>
												English (USD)
											</span>
								</a>
							</li>
							<li>
								<a href="#">
											<span>
												Japanese (JPY)
											</span>
								</a>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
		<div class="item menu-bar">
			<a class=" mobile-navigation  menu-toggle" href="#">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</div>
</div>
<div class="main-content main-content-details single right-sidebar">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-trail breadcrumbs">
					<ul class="trail-items breadcrumb">
						<li class="trail-item trail-begin">
							<a href="index.html">首页</a>
						</li>
						<li class="trail-item">
							<a href="gridproducts.html">电视和视频</a>
						</li>
						<li class="trail-item trail-end active">
							Homepod Mini
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="content-area content-details col-lg-9 col-md-8 col-sm-12 col-xs-12">
				<div class="site-main">
					<div class="details-产品">
						<div class="details-thumd">
							<div class="image-preview-container image-thick-box image_preview_container">
								<img id="img_zoom" data-zoom-image="assets/images/details-item-1.jpg" src="static/picture/details-item-1.jpg" alt="img">
								<a href="#" class="btn-zoom open_qv"><i class="fa fa-search" aria-hidden="true"></i></a>
							</div>
							<div class="产品-preview image-small product_preview">
								<div id="thumbnails" class="thumbnails_carousel owl-carousel" data-nav="true" data-autoplay="false" data-dots="false" data-loop="false" data-margin="10" data-responsive='{"0":{"items":3},"480":{"items":3},"600":{"items":3},"1000":{"items":3}}'>
									<a href="#" data-image="assets/images/details-item-1.jpg" data-zoom-image="assets/images/details-item-1.jpg" class="active">
										<img src="static/picture/details-item-1.jpg" data-large-image="assets/images/details-item-1.jpg" alt="img">
									</a>
									<a href="#" data-image="assets/images/details-item-2.jpg" data-zoom-image="assets/images/details-item-2.jpg">
										<img src="static/picture/details-item-2.jpg" data-large-image="assets/images/details-item-2.jpg" alt="img">
									</a>
									<a href="#" data-image="assets/images/details-item-3.jpg" data-zoom-image="assets/images/details-item-3.jpg">
										<img src="static/picture/details-item-3.jpg" data-large-image="assets/images/details-item-3.jpg" alt="img">
									</a>
									<a href="#" data-image="assets/images/details-item-4.jpg" data-zoom-image="assets/images/details-item-4.jpg">
										<img src="static/picture/details-item-4.jpg" data-large-image="assets/images/details-item-4.jpg" alt="img">
									</a>
								</div>
							</div>
						</div>
						<div class="details-infor">
							<h1 class="产品-title">
								Homepod Mini
							</h1>
							<div class="stars-rating">
								<div class="star-rating">
									<span class="star-5"></span>
								</div>
								<div class="count-star">
									(7)
								</div>
							</div>
							<div class="availability">
								availability:
								<a href="#">in Stock</a>
							</div>
							<div class="price">
								<span>$45</span>
							</div>
							<div class="产品-details-description">
								<ul>
									<li>Vestibulum tortor quam</li>
									<li>Imported</li>
									<li>Art.No. 06-7680</li>
								</ul>
							</div>
							<div class="variations">
								<div class="attribute attribute_color">
									<div class="color-text text-attribute">
										Color:
									</div>
									<div class="list-color list-item">
										<a href="#" class="color1"></a>
										<a href="#" class="color2"></a>
										<a href="#" class="color3 active"></a>
										<a href="#" class="color4"></a>
									</div>
								</div>
								<div class="attribute attribute_size">
									<div class="size-text text-attribute">
										Pots Size:
									</div>
									<div class="list-size list-item">
										<a href="#" class="">xs</a>
										<a href="#" class="">s</a>
										<a href="#" class="active">m</a>
										<a href="#" class="">l</a>
										<a href="#" class="">xl</a>
										<a href="#" class="">xxl</a>
									</div>
								</div>
							</div>
							<div class="group-button">
								<div class="yith-wcwl-add-to-wishlist">
									<div class="yith-wcwl-add-button">
										<a href="wishlist.html">Add to 心愿单</a>
									</div>
								</div>
								<div class="size-chart-wrapp">
									<div class="btn-size-chart">
										<a id="size_chart" href="javascript:;" class="fancybox">View Size Chart</a>
									</div>
								</div>
								<div class="quantity-add-to-cart">
									<div class="quantity">
										<div class="control">
											<a class="btn-number qtyminus quantity-minus" href="#">-</a>
											<input type="text" data-step="1" data-min="0" value="1" title="Qty" class="input-qty qty" size="4">
											<a href="#" class="btn-number qtyplus quantity-plus">+</a>
										</div>
									</div>
									<a href="shoppingcart.html" class="single_add_to_cart_button button">Add to cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-details-产品">
						<ul class="tab-link">
							<li class="active">
								<a data-toggle="tab" aria-expanded="true" href="#产品-descriptions">Descriptions </a>
							</li>
							<li class="">
								<a data-toggle="tab" aria-expanded="true" href="#information">Information </a>
							</li>
							<li class="">
								<a data-toggle="tab" aria-expanded="true" href="#reviews">Reviews</a>
							</li>
						</ul>
						<div class="tab-container">
							<div id="产品-descriptions" class="tab-panel active">
								<p>
									Quisque quis ipsum venenatis, fermentum ante volutpat, ornare enim.
									Phasellus molestie risus non aliquet cursus.
									Integer
									vestibulum mi lorem, id hendrerit ante lobortis non.
									Nunc ante ante, lobortis non pretium non, vulputate vel nisi.
									Maecenas dolor elit, fringilla nec turpis ac, auctor vulputate nulla. Phasellus sed laoreet velit.
								</p>
								<p>
									Proin fringilla urna vel mattis euismod.
									Etiam sodales, massa non tincidunt iaculis, mauris libero scelerisque justo, ut rutrum lectus urna sit amet quam.
									Nulla maximus vestibulum mi vitae accumsan.
								</p>
							</div>
							<div id="information" class="tab-panel">
								<table class="table table-bordered">
									<tr>
										<td>Size</td>
										<td> XS / S / M / L </td>
									</tr>
									<tr>
										<td>Color</td>
										<td>White/ Black/ Teal/ Brown</td>
									</tr>
									<tr>
										<td>Properties</td>
										<td>Colorful Dress</td>
									</tr>
								</table>
							</div>
							<div id="reviews" class="tab-panel">
								<div class="reviews-tab">
									<div class="comments">
										<h2 class="reviews-title">
											1 review for
											<span>Homepod Mini</span>
										</h2>
										<ol class="commentlist">
											<li class="conment">
												<div class="conment-container">
													<a href="#" class="avatar">
														<img src="static/picture/avartar.png" alt="img">
													</a>
													<div class="comment-text">
														<div class="stars-rating">
															<div class="star-rating">
																<span class="star-5"></span>
															</div>
															<div class="count-star">
																(1)
															</div>
														</div>
														<p class="meta">
															<strong class="author">Cobus Bester</strong>
															<span>-</span>
															<span class="time">June 7, 2013</span>
														</p>
														<div class="description">
															<p>Simple and effective design. One of my favorites.</p>
														</div>
													</div>
												</div>
											</li>
										</ol>
									</div>
									<div class="review_form_wrapper">
										<div class="review_form">
											<div class="comment-respond">
												<span class="comment-reply-title">Add a review </span>
												<form class="comment-form-review">
													<p class="comment-notes">
														<span class="email-notes">Your email address will not be published.</span>
														Required fields are marked
														<span class="required">*</span>
													</p>
													<div class="comment-form-rating">
														<label>Your rating</label>
														<p class="stars">
                                        						<span>
                                        							<a class="star-1" href="#"></a>
                                        							<a class="star-2" href="#"></a>
                                        							<a class="star-3" href="#"></a>
                                        							<a class="star-4" href="#"></a>
                                        							<a class="star-5" href="#"></a>
                                        						</span>
														</p>
													</div>
													<p class="comment-form-comment">
														<label>
															Your review
															<span class="required">*</span>
														</label>
														<textarea title="review" id="comment" name="comment" cols="45" rows="8"></textarea>
													</p>
													<p class="comment-form-author">
														<label>
															Name
															<span class="">*</span>
														</label>
														<input title="author" id="author" name="author" type="text" value="">
													</p>
													<p class="comment-form-email">
														<label>
															邮箱
															<span class="">*</span>
														</label>
														<input title="email" id="email" name="email" type="email" value="">
													</p>
													<p class="form-submit">
														<input name="submit" type="submit" id="submit" class="submit" value="Submit">
													</p>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="clear: left;"></div>
					<div class="related products 产品-grid">
						<h2 class="产品-grid-title">You may also like</h2>
						<div class="owl-products owl-slick equal-container nav-center" data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":true, "dots":false, "infinite":true, "speed":800, "rows":1}' data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":3}},{"breakpoint":"1200","settings":{"slidesToShow":2}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"480","settings":{"slidesToShow":1}}]'>
							<div class="product-item style-1">
								<div class="产品-inner equal-element">
									<div class="产品-top">
										<div class="flash">
													<span class="onnew">
														<span class="text">
															new
														</span>
													</span>
										</div>
									</div>
									<div class="产品-thumb">
										<div class="thumb-inner">
											<a href="productdetails-fullwidth.html">
												<img src="static/picture/product-item-1.jpg" alt="img">
											</a>
											<div class="thumb-group">
												<div class="yith-wcwl-add-to-wishlist">
													<div class="yith-wcwl-add-button">
														<a href="wishlist.html">Add to 心愿单</a>
													</div>
												</div>
												<a href="#" class="button quick-wiew-button">Quick View</a>
												<div class="loop-form-add-to-cart">
													<a href="shoppingcart.html" class="single_add_to_cart_button button">Add to cart
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="产品-info">
										<h5 class="产品-name product_title">
											<a href="productdetails-fullwidth.html">Dark Console</a>
										</h5>
										<div class="group-info">
											<div class="stars-rating">
												<div class="star-rating">
													<span class="star-3"></span>
												</div>
												<div class="count-star">
													(3)
												</div>
											</div>
											<div class="price">
												<del>
													$65
												</del>
												<ins>
													$45
												</ins>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="product-item style-1">
								<div class="产品-inner equal-element">
									<div class="产品-top">
										<div class="flash">
													<span class="onnew">
														<span class="text">
															new
														</span>
													</span>
										</div>
									</div>
									<div class="产品-thumb">
										<div class="thumb-inner">
											<a href="productdetails-fullwidth.html">
												<img src="static/picture/product-item-2.jpg" alt="img">
											</a>
											<div class="thumb-group">
												<div class="yith-wcwl-add-to-wishlist">
													<div class="yith-wcwl-add-button">
														<a href="wishlist.html">Add to 心愿单</a>
													</div>
												</div>
												<a href="#" class="button quick-wiew-button">Quick View</a>
												<div class="loop-form-add-to-cart">
													<a href="shoppingcart.html" class="single_add_to_cart_button button">Add to cart
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="产品-info">
										<h5 class="产品-name product_title">
											<a href="productdetails-fullwidth.html">Blue 手表</a>
										</h5>
										<div class="group-info">
											<div class="stars-rating">
												<div class="star-rating">
													<span class="star-3"></span>
												</div>
												<div class="count-star">
													(3)
												</div>
											</div>
											<div class="price">
												<del>
													$65
												</del>
												<ins>
													$45
												</ins>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="product-item style-1">
								<div class="产品-inner equal-element">
									<div class="产品-top">
										<div class="flash">
													<span class="onnew">
														<span class="text">
															new
														</span>
													</span>
										</div>
									</div>
									<div class="产品-thumb">
										<div class="thumb-inner">
											<a href="productdetails-fullwidth.html">
												<img src="static/picture/product-item-3.jpg" alt="img">
											</a>
											<div class="thumb-group">
												<div class="yith-wcwl-add-to-wishlist">
													<div class="yith-wcwl-add-button">
														<a href="wishlist.html">Add to 心愿单</a>
													</div>
												</div>
												<a href="#" class="button quick-wiew-button">Quick View</a>
												<div class="loop-form-add-to-cart">
													<a href="shoppingcart.html" class="single_add_to_cart_button button">Add to cart
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="产品-info">
										<h5 class="产品-name product_title">
											<a href="productdetails-fullwidth.html">Modern 游戏手柄</a>
										</h5>
										<div class="group-info">
											<div class="stars-rating">
												<div class="star-rating">
													<span class="star-3"></span>
												</div>
												<div class="count-star">
													(3)
												</div>
											</div>
											<div class="price">
												<del>
													$65
												</del>
												<ins>
													$45
												</ins>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="product-item style-1">
								<div class="产品-inner equal-element">
									<div class="产品-top">
										<div class="flash">
													<span class="onnew">
														<span class="text">
															new
														</span>
													</span>
										</div>
									</div>
									<div class="产品-thumb">
										<div class="thumb-inner">
											<a href="productdetails-fullwidth.html">
												<img src="static/picture/product-item-4.jpg" alt="img">
											</a>
											<div class="thumb-group">
												<div class="yith-wcwl-add-to-wishlist">
													<div class="yith-wcwl-add-button">
														<a href="wishlist.html">Add to 心愿单</a>
													</div>
												</div>
												<a href="#" class="button quick-wiew-button">Quick View</a>
												<div class="loop-form-add-to-cart">
													<a href="shoppingcart.html" class="single_add_to_cart_button button">Add to cart
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="产品-info">
										<h5 class="产品-name product_title">
											<a href="productdetails-fullwidth.html">苹果手表</a>
										</h5>
										<div class="group-info">
											<div class="stars-rating">
												<div class="star-rating">
													<span class="star-3"></span>
												</div>
												<div class="count-star">
													(3)
												</div>
											</div>
											<div class="price">
												<del>
													$65
												</del>
												<ins>
													$45
												</ins>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sidebar sidebar-details col-lg-3 col-md-4 col-sm-12 col-xs-12">
				<div class="wrapper-sidebar">
					<div class="widget widget-categories">
						<h3 class="widgettitle">Categories</h3>
						<ul class="list-categories">
							<li>
								<input type="checkbox" id="cb1">
								<label for="cb1" class="label-text">
									新品
								</label>
							</li>
							<li>
								<input type="checkbox" id="cb2">
								<label for="cb2" class="label-text">
									鼠标
								</label>
							</li>
							<li>
								<input type="checkbox" id="cb3">
								<label for="cb3" class="label-text">
									桌子
								</label>
							</li>
							<li>
								<input type="checkbox" id="cb4">
								<label for="cb4" class="label-text">
									电视和视频
								</label>
							</li>
							<li>
								<input type="checkbox" id="cb5">
								<label for="cb5" class="label-text">
									配件
								</label>
							</li>
							<li>
								<input type="checkbox" id="cb6">
								<label for="cb6" class="label-text">
									耳机
								</label>
							</li>
						</ul>
					</div>
					<div class="widget widget-related-products">
						<h3 class="widgettitle">Related Products</h3>
						<div class="slider-related-products owl-slick nav-top-right equal-container" data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":true, "dots":false, "infinite":true, "speed":800, "rows":1}' data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1 }},{"breakpoint":"992","settings":{"slidesToShow":2}}]'>
							<div class="product-item style-1">
								<div class="产品-inner equal-element">
									<div class="产品-top">
										<div class="flash">
													<span class="onnew">
														<span class="text">
															new
														</span>
													</span>
										</div>
									</div>
									<div class="产品-thumb">
										<div class="thumb-inner">
											<a href="productdetails-fullwidth.html">
												<img src="static/picture/product-item-1.jpg" alt="img">
											</a>
											<div class="thumb-group">
												<div class="yith-wcwl-add-to-wishlist">
													<div class="yith-wcwl-add-button">
														<a href="wishlist.html">Add to 心愿单</a>
													</div>
												</div>
												<a href="#" class="button quick-wiew-button">Quick View</a>
												<div class="loop-form-add-to-cart">
													<a href="shoppingcart.html" class="single_add_to_cart_button button">Add to cart
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="产品-info">
										<h5 class="产品-name product_title">
											<a href="productdetails-fullwidth.html">Homepod Mini</a>
										</h5>
										<div class="group-info">
											<div class="stars-rating">
												<div class="star-rating">
													<span class="star-3"></span>
												</div>
												<div class="count-star">
													(3)
												</div>
											</div>
											<div class="price">
												<del>
													$65
												</del>
												<ins>
													$45
												</ins>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="product-item style-1">
								<div class="产品-inner equal-element">
									<div class="产品-top">
										<div class="flash">
													<span class="onnew">
														<span class="text">
															new
														</span>
													</span>
										</div>
									</div>
									<div class="产品-thumb">
										<div class="thumb-inner">
											<a href="productdetails-fullwidth.html">
												<img src="static/picture/product-item-2.jpg" alt="img">
											</a>
											<div class="thumb-group">
												<div class="yith-wcwl-add-to-wishlist">
													<div class="yith-wcwl-add-button">
														<a href="wishlist.html">Add to 心愿单</a>
													</div>
												</div>
												<a href="#" class="button quick-wiew-button">Quick View</a>
												<div class="loop-form-add-to-cart">
													<a href="shoppingcart.html" class="single_add_to_cart_button button">Add to cart
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="产品-info">
										<h5 class="产品-name product_title">
											<a href="productdetails-fullwidth.html">Meta 鼠标</a>
										</h5>
										<div class="group-info">
											<div class="stars-rating">
												<div class="star-rating">
													<span class="star-3"></span>
												</div>
												<div class="count-star">
													(3)
												</div>
											</div>
											<div class="price">
												<del>
													$65
												</del>
												<ins>
													$45
												</ins>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="widget widget-testimonials">
						<h3 class="widgettitle">Testimonials</h3>
						<div class="slider-related-products owl-slick nav-top-right" data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":true, "dots":false, "infinite":true, "speed":800, "rows":1}' data-responsive='[{"breakpoint":"991","settings":{"slidesToShow":1 }}]'>
							<div class="testimonials-item">
								<div class="Testimonial-inner">
									<div class="comment">
										Donec ligula mauris, posuere sed tincidunt a, facilisis id enim. Class aptent taciti sociosqu ad litora torquent per conubia.
									</div>
									<div class="author">
										<div class="avt">
											<img src="static/picture/member1.png" alt="img">
										</div>
										<h3 class="name">
											Adam Smith
											<span class="position">
													CEO/Founder Apple
												</span>
										</h3>

									</div>
								</div>
							</div>
							<div class="testimonials-item">
								<div class="Testimonial-inner">
									<div class="comment">
										Donec ligula mauris, posuere sed tincidunt a, facilisis id enim. Class aptent taciti sociosqu ad litora torquent per conubia.
									</div>
									<div class="author">
										<div class="avt">
											<img src="static/picture/member2.png" alt="img">
										</div>
										<h3 class="name">
											Tom Milikin
											<span class="position">
													CEO/Founder Apple
												</span>
										</h3>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="footer style7">
	<div class="container">
		<div class="container-wapper">
			<div class="row">
				<div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg">
					<div class="dungar-newsletter style1">
						<div class="newsletter-head">
							<h3 class="title">通讯</h3>
						</div>
						<div class="newsletter-form-wrap">
							<div class="list">
								注册我们的免费视频课程 and <br> urban garden inspiration
							</div>
							<input type="email" class="input-text email email-newsletter" placeholder="您的电子邮箱">
							<button class="button btn-submit submit-newsletter">订阅</button>
						</div>
					</div>
				</div>
				<div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="dungar-custommenu default">
						<h2 class="widgettitle">快捷菜单</h2>
						<ul class="menu">
							<li class="menu-item">
								<a href="gridproducts.html">新品上市</a>
							</li>
							<li class="menu-item">
								<a href="gridproducts.html">生活方式</a>
							</li>
							<li class="menu-item">
								<a href="gridproducts.html">电视和视频</a>
							</li>
							<li class="menu-item">
								<a href="gridproducts.html">耳机</a>
							</li>
							<li class="menu-item">
								<a href="gridproducts.html">鼠标</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
					<div class="dungar-newsletter style1">
						<div class="newsletter-head">
							<h3 class="title">通讯</h3>
						</div>
						<div class="newsletter-form-wrap">
							<div class="list">
								注册我们的免费视频课程 and <br> urban garden inspiration
							</div>
							<input type="email" class="input-text email email-newsletter" placeholder="您的电子邮箱">
							<button class="button btn-submit submit-newsletter">订阅</button>
						</div>
					</div>
				</div>
				<div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="dungar-custommenu default">
						<h2 class="widgettitle">Information</h2>
						<ul class="menu">
							<li class="menu-item">
								<a href="#">常见问题</a>
							</li>
							<li class="menu-item">
								<a href="#">追踪订单</a>
							</li>
							<li class="menu-item">
								<a href="#">物流</a>
							</li>
							<li class="menu-item">
								<a href="contact.html">联系我们</a>
							</li>
							<li class="menu-item">
								<a href="#">Return</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-end">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="dungar-socials">
							<ul class="socials">
								<li>
									<a href="#" class="social-item" target="_blank">
										<i class="icon fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#" class="social-item" target="_blank">
										<i class="icon fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" class="social-item" target="_blank">
										<i class="icon fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="coppyright">Copyright &copy; 2021.Company name All rights reserved.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="footer-device-mobile">
	<div class="wapper">
		<div class="footer-device-mobile-item device-home">
			<a href="index.html">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
				首页
			</a>
		</div>
		<div class="footer-device-mobile-item device-home device-wishlist">
			<a href="#">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
				心愿单
			</a>
		</div>
		<div class="footer-device-mobile-item device-home device-cart">
			<a href="#">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
				<span class="text">购物车</span>
			</a>
		</div>
		<div class="footer-device-mobile-item device-home device-user">
			<a href="login.html">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				账户
			</a>
		</div>
	</div>
</div>
<a href="#" class="backtotop">
	<i class="fa fa-angle-double-up"></i>
</a>
<script src="static/js/jquery-1.12.4.min.js"></script>
<script src="static/js/jquery.plugin-countdown.min.js"></script>
<script src="static/js/jquery-countdown.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/magnific-popup.min.js"></script>
<script src="static/js/isotope.min.js"></script>
<script src="static/js/jquery.scrollbar.min.js"></script>
<script src="static/js/jquery-ui.min.js"></script>
<script src="static/js/mobile-menu.min.js"></script>
<script src="static/js/chosen.min.js"></script>
<script src="static/js/slick.min.js"></script>
<script src="static/js/jquery.elevateZoom.min.js"></script>
<script src="static/js/jquery.actual.min.js"></script>
<script src="static/js/jquery.fancybox.js"></script>
<script src="static/js/lightbox.min.js"></script>
<script src="static/js/owl.thumbs.min.js"></script>
<script src="static/js/jquery.scrollbar.min.js"></script>
<script src="static/js/frontend-plugin.js"></script>
</body>
</html>