<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>新闻中心</title>
    <link href="./css/slick.css" rel="stylesheet" />
    <link href="./css/font-awesome.min.css" rel="stylesheet" />
    <link href="./css/index.css" rel="stylesheet" />
    <link href="./css/reset.css" rel="stylesheet" />
    <script src="./js/jquery-1.11.1.min.js"></script>
    <script src="./js/jquery-ui.min.js"></script>
    <script src="./js/slick.js"></script>
    <script src="./js/g.js"></script>
</head>
<style>
    @media (max-width: 1024px) {
        .banner-n {
            margin-top: 60px;
        }
    }
</style>

<body>
    <div class="g_header clearfix">
        <div class="bar">
            <a href="#" class="menu"><img src="images/cd.png" /></a>
            <p class="logo"><a href="index.html"><img src="images/yd_lg.png"></a></p>
        </div>
        <div class="main">
            <div class=" g_cw_a">
                <a href="index.html" class="logo"><img src="images/logo.png"></a>
                <ul class="nav">
                    <li>
                        <a href="index.html">
                            <b>网站首页</b>
                        </a>
                    </li>
                    <li>
                        <a href="about.html">
                            <b>关于我们</b>
                        </a>
                    </li>
                    <li>
                        <a href="room.html">
                            <b>酒店房间</b>
                        </a>
                    </li>
                    <li>
                        <a href="food.html">
                            <b>酒店餐饮</b>
                        </a>
                    </li>
                    <li>
                        <a href="map.html">
                            <b>酒店分布</b>
                        </a>
                    </li>
                    <li>
                        <a href="news.html" class="on">
                            <b>公司新闻</b>
                        </a>
                    </li>
                    <li>
                        <a href="contact.html">
                            <b>联系我们</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="banner-n clearfix">
        <div class="frame" style="background: url(images/timg4.jpg) no-repeat center center; background-size:cover; width:100%;"></div>
    </div>


    <div class="wy_dw">
        <div class="dw g_cw">
            <p>
                <img class="" src="images/dw_nei.png">
                <a href="index.html">网站首页</a><span> &nbsp >> &nbsp </span><a href="">公司新闻</a>
            </p>
        </div>
    </div>



    <div class="news_home">
        <div class="g_cw g_mt">
            <div class="g_title">
                <h5></h5>
                <h6>NEWS</h6>
            </div>
            <div class="right">
                <ul class="list_a">
                    <li><a href="?_ct=公司新闻" class="">公司新闻</a></li>
                    <li><a href="?_ct=行业动态" class="">行业动态</a></li>
                </ul>
            </div>
        </div>



        <div class="news_list">
            <div class="g_cw">
                <ul class="list">

                    <li>
                        <a href="newsdetail.html?_id=10021" target="_blank">
                            <div class="rq_a">
                                <p class="t1">01-07</p>
                                <p class="xh_a"></p>
                                <div class="jt_a">
                                    <img class="jt_a" src="images/jt.svg">
                                </div>
                            </div>
                            <div class="rq_wb">
                                <div class="rq">
                                    <p class="t1">01-07</p>
                                    <p class="xh_a"></p>
                                    <div class="jt">
                                        <img class="jt" src="images/jt.svg">
                                    </div>
                                </div>
                                <div class="wb">
                                    <h4 class="l1">2019年你的旅游计划开始了吗？旅途中，民宿和酒店你更中意哪个</h4>
                                    <p class="l2">元旦假期已经正在离我们远去，真正的2019年已经开启了新的篇章，这个时候的你是不是已经有了对新的一年的诸多计划呢？不管书事业上，家庭上、还是个人感情上，在你心中或许都有了想要尝试的目标和方向，不知道旅游是不是也被你写在这份新年计划书里了呢？</p>
                                </div>
                            </div>
                            <div class="ct">
                                <img class="" src="images/g6hffg6u7exqk1o.jpg " />
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="newsdetail.html?_id=10020" target="_blank">
                            <div class="rq_a">
                                <p class="t1">01-07</p>
                                <p class="xh_a"></p>
                                <div class="jt_a">
                                    <img class="jt_a" src="images/jt.svg">
                                </div>
                            </div>
                            <div class="rq_wb">
                                <div class="rq">
                                    <p class="t1">01-07</p>
                                    <p class="xh_a"></p>
                                    <div class="jt">
                                        <img class="jt" src="images/jt.svg">
                                    </div>
                                </div>
                                <div class="wb">
                                    <h4 class="l1">中国首个“深坑”酒店，耗资20亿建成，却建在地下80多米出</h4>
                                    <p class="l2">中国首个“深坑”酒店：耗资20亿建成，却建在地下80多米出。旅游业的快速发展，带动了各个城市的住宿、酒店行业。除了一些便宜又有特色的民宿之外，大部分的酒店都很有自己的特色。像马尔代夫的海岛别墅、日本的温泉酒店、等等一些著名的酒店，不过今天要给大家分享的是我国的一个非常有特色的酒店。</p>
                                </div>
                            </div>
                            <div class="ct">
                                <img class="" src="images/zjjwh211zixuyp6.jpg " />
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="newsdetail.html?_id=10019" target="_blank">
                            <div class="rq_a">
                                <p class="t1">01-07</p>
                                <p class="xh_a"></p>
                                <div class="jt_a">
                                    <img class="jt_a" src="images/jt.svg">
                                </div>
                            </div>
                            <div class="rq_wb">
                                <div class="rq">
                                    <p class="t1">01-07</p>
                                    <p class="xh_a"></p>
                                    <div class="jt">
                                        <img class="jt" src="images/jt.svg">
                                    </div>
                                </div>
                                <div class="wb">
                                    <h4 class="l1">巴塞罗那最热门的六家酒店！五星级服务，海滩度假胜地！</h4>
                                    <p class="l2">艺术酒店 艺术酒店位于巴塞罗那的奥林匹克港码头，拥有44层高的蓝色玻璃和外露钢结构，是巴塞罗那海滨最引人注目的地标之一。这里是享有地中海和城市美景的度假胜地，顶楼的豪华水疗中心以及米其林星级美食，对于寻求阳光的人来说，如果您想要一个更安静的空间阅读书籍，酒店可以让您在两个游泳池和草地休息室壁龛之间停留。最重要的是，这里能让你感受到五星级的服务，细心而友好的工作人员，豪华的水晶吊灯和超大的花卉布</p>
                                </div>
                            </div>
                            <div class="ct">
                                <img class="" src="images/yg74vrh79wim8lj.jpg " />
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="newsdetail.html?_id=10018" target="_blank">
                            <div class="rq_a">
                                <p class="t1">01-07</p>
                                <p class="xh_a"></p>
                                <div class="jt_a">
                                    <img class="jt_a" src="images/jt.svg">
                                </div>
                            </div>
                            <div class="rq_wb">
                                <div class="rq">
                                    <p class="t1">01-07</p>
                                    <p class="xh_a"></p>
                                    <div class="jt">
                                        <img class="jt" src="images/jt.svg">
                                    </div>
                                </div>
                                <div class="wb">
                                    <h4 class="l1">住进瑞典这家生态酒店，过着原始人一般的生活，游客乐在其中</h4>
                                    <p class="l2">外出旅行，最重要的无外乎吃和住，白天享受美食，晚上好好休息。对于住，相信大多数选择的都是舒适的星级酒店，美美的洗个澡，躺在酒店柔软的床上，褪去一整天旅途的疲惫。而在瑞典，有一家条件十分简陋的生态酒店，却深受广大游客欢迎。</p>
                                </div>
                            </div>
                            <div class="ct">
                                <img class="" src="images/6xw6kf46q9igkmm.jpg " />
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="newsdetail.html?_id=10017" target="_blank">
                            <div class="rq_a">
                                <p class="t1">01-07</p>
                                <p class="xh_a"></p>
                                <div class="jt_a">
                                    <img class="jt_a" src="images/jt.svg">
                                </div>
                            </div>
                            <div class="rq_wb">
                                <div class="rq">
                                    <p class="t1">01-07</p>
                                    <p class="xh_a"></p>
                                    <div class="jt">
                                        <img class="jt" src="images/jt.svg">
                                    </div>
                                </div>
                                <div class="wb">
                                    <h4 class="l1">日本“胶囊酒店”，为什么年轻人喜欢住？晚上真的方便</h4>
                                    <p class="l2">在出行中，很多年轻群体在追求穷游的过程中，选择的住宿环境多为不花费太多的帐篷租借以及一些青年旅馆的床位放，而事实上这两种方式也是给穷游的小伙伴提供了诸多便利性。</p>
                                </div>
                            </div>
                            <div class="ct">
                                <img class="" src="images/6xw6kf46q9igkmm.jpg " />
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="newsdetail.html?_id=10016" target="_blank">
                            <div class="rq_a">
                                <p class="t1">01-07</p>
                                <p class="xh_a"></p>
                                <div class="jt_a">
                                    <img class="jt_a" src="images/jt.svg">
                                </div>
                            </div>
                            <div class="rq_wb">
                                <div class="rq">
                                    <p class="t1">01-07</p>
                                    <p class="xh_a"></p>
                                    <div class="jt">
                                        <img class="jt" src="images/jt.svg">
                                    </div>
                                </div>
                                <div class="wb">
                                    <h4 class="l1">我国最顶级的“七星酒店”，前后耗资近40亿，游客乘飞机入住</h4>
                                    <p class="l2">我国最顶级的“七星酒店”，前后耗资近40亿，游客乘飞机入住</p>
                                </div>
                            </div>
                            <div class="ct">
                                <img class="" src="images/n0svxa00cny1tmv.jpg " />
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="pages">
                <ul>



                    <li><a href="?_ct=&_pi=1" class="on"> 1</a></li>

                    <li><a href="?_ct=&_pi=2"> 2</a></li>



                    <li><a href="?_ct=&_pi=2" class="next"> <em class="">下一页</em></a></li>


                </ul>
            </div>

        </div>

    </div>



    <div class="footer">

        <div class="bq g_mt clearfix">
            <div class="g_cw tb">

                <div class="bq_a">
                    <div class="bt">
                        <h3>网站导航</h3>
                        <div class="xh">
                            <p class="xh_a"></p>
                            <p class="xh_b"></p>
                        </div>
                    </div>
                    <ul class="list right">
                        <li><a href="index.html">网站首页</a></li>
                        <li><a href="about.html">关于我们</a></li>
                        <li><a href="room.html">酒店房间</a></li>
                        <li><a href="food.html">酒店餐饮</a></li>
                        <li><a href="map.html">门店位置</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>


                <div class="bq_a">
                    <div class="bt">
                        <h3>联系我们</h3>
                        <div class="xh">
                            <p class="xh_a"></p>
                            <p class="xh_b"></p>
                        </div>
                    </div>
                    <ul class="list width">
                        <li>
                            <p><img class="" src="images/co_a.svg">咨询热线：XXX</p>
                        </li>
                        <li>
                            <p><img class="bq_tb" src="images/co_d.svg">联系地址：XXX</p>
                        </li>
                        <li>
                            <p><img class="" src="images/co_c.svg">联系邮箱：XXX</p>
                        </li>
                    </ul>
                </div>


                <div class="bq_a ne">
                    <div class="bt">
                        <h3>关注我们</h3>
                        <div class="xh">
                            <p class="xh_a"></p>
                            <p class="xh_b"></p>
                        </div>
                    </div>
                    <div class="sm">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <img src="images/qr_wxgz.png">
                        <p>扫一扫关注微信公众号</p>
                    </div>
                </div>



                <div class="bq_a no">
                    <p class="top">
                        分享至:
                        <a href=""><img src="images/bq_ct_a.png"></a>
                        <a href=""><img src="images/bq_ct_b.png"></a>
                        <a href=""><img src="images/bq_ct_c.png"></a>
                        <a href=""><img src="images/bq_ct_d.png"></a>
                    </p>
                </div>
            </div>

            <div class="bq_b">
                <div class="g_cw">
                    <div class="left">
                        <p>
                            分享至:
                            <a href=""><img src="images/bq_ct_a.png"></a>
                            <a href=""><img src="images/bq_ct_b.png"></a>
                            <a href=""><img src="images/bq_ct_c.png"></a>
                            <a href=""><img src="images/bq_ct_d.png"></a>
                        </p>
                    </div>
                    <div class="right">
                        <p>&copy; 2019 </p>
                    </div>
                </div>
            </div>



        </div>

    </div>
</body>

</html>