<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
	<title></title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<!-- 结构 -->
	<!-- 页面头部分 -->
	<header>
		<nav>
		   <div class="navbar">
		      <ul>
		      	 <li><a href="">小米商城</a></li><span class="seb">|</span>
		      	 <li><a href="">MIUI</a></li><span class="seb">|</span>
		      	 <li><a href="">LOT</a></li><span class="seb">|</span>
		      	 <li><a href="">云服务</a></li><span class="seb">|</span>
		      	 <li><a href="">金融</a></li><span class="seb">|</span>
		      	 <li><a href="">有品 </a></li><span class="seb">|</span>
		      	 <li><a href="">小爱开放平台</a></li><span class="seb">|</span>
		      	 <li><a href="">政企服务</a></li><span class="seb">|</span>
		      	 <li><a href="">下载app</a></li><span class="seb">|</span>
		      	 <li><a href="">Select Region</a></li><span class="seb">|</span>
		      </ul>
		   </div>
		   <div class="navbar02">
		   	   <ul>
		   	   	 <li><a href="">登录</a></li><span class="seb02">|</span>
		   	   	 <li><a href="">注册</a></li><span class="seb02">|</span>
		   	   	 <li><a href="">消息通知</a></li>	
		   	   </ul>
		   	   <a href="" class="gouwc">
		   	   	 <img src="images/a1.png">购物车
		   	   	 <span>(0)</span>
               </a>
		   </div>
		</nav>
	</header>
    <div class="site-header">
    	<div class="site-pic">
    		<div class="sit01" >
    			<!-- <img src="images/a3.png"> -->
    		</div>
    		<div class="site-img" >
    			<img src="http://i1.mifile.cn/a4/cms_15410669089659_TZmzr.gif">	
    		</div>
    		<div class="navbarer">
    			<ul>
    		       <li><a href="">小米手机</a></li>
    		       <li><a href="">红米    </a></li>
    		       <li><a href="">电视    </a></li>
    		       <li><a href="">笔记本  </a></li>
    		       <li><a href="">空调    </a></li>
    		       <li><a href="">新品    </a></li>
    		       <li><a href="">路由器  </a></li>
    		       <li><a href="">智能硬件</a></li>
    		       <li><a href="">服务    </a></li>
    		       <li><a href="">社区    </a></li>
    	        </ul>
    		</div>
    		<!-- 搜索框部分 -->
    		<div class="search">
    			<form action="">
    				<input type="text" name="" placeholder="请输入关键字">
    			    <input type="submit" name="" value="">
    			</form>
    		</div>
	    </div>
    </div>
    <!-- banner广告位 -->
    <div class="banner container">
    	<!-- banner侧边栏 -->
         <ul class="circle">
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>

         </ul> 
    	 <div class="banner-aside">
    	 	<ul>
    	 		<li><a href="">手机 电话卡 <span>></span></a></li>
    	 		<li><a href="">电视 盒子   <span>></span></a></li>
    	 		<li><a href="">笔记本 平板 <span>></span></a></li>
    	 		<li><a href="">家电 插线板 <span>></span></a></li>
    	 		<li><a href="">出行 穿戴   <span>></span></a></li>
    	 		<li><a href="">智能 路由器 <span>></span></a></li>
    	 		<li><a href="">电源 配件   <span>></span></a></li>
    	 		<li><a href="">健康 儿童   <span>></span></a></li>
    	 		<li><a href="">耳机 音箱   <span>></span></a></li>
    	 		<li><a href="">生活 箱包   <span>></span></a></li>
    	 	</ul>          
    	 </div>
    </div>
    <div class="banner-footer container">
<!--         <div class="bafter-hd">
            <h4>精品推荐</h4>
            <a href="">查看全部</a>
        </div> -->

         <!-- /*广告位底部-左边广告 开始*/ -->
        <div class="bafter-bd">
            <ul>  
                <li class="icon01 icon"><a class="icon" href="" ></a> </li>
                <li class="icon02 icon" ><a  class="icon" href=""></a></li>
                <li  class="icon03 icon" ><a class="icon"  href=""></a></li>
                <li  class="icon04 icon" ><a  class="icon" href=""></a></li>
                <li  class="icon05 icon" ><a class="icon" href=""></a></li>
                <li  class="icon06 icon"   ><a  class="icon" href=""></a></li>    
            </ul>
        </div>
       <!--   /*广告位底部-左边广告 结束*/ -->
       <!-- 广告位底部——右边广告 开始 -->
       <div class="bafter-right">
           <ul>
               <li><a href="#"><img src="images/b1.png"></a></li>
               <li><a href=""><img src="images/b2.png"></a></li>
               <li><a href=""><img src="images/b3.png"></a></li>
           </ul>
           
       </div>
      
    </div>
     <!--  广告位底部——右边广告 结束 -->
     <!-- 小米闪购开始 -->
     <div class="migou container">
        <div class="bafter-hd">
            <h4>小米闪购</h4>
            <ul>
              <li> 
                 <a href="">></a>
             </li>
              <li>
                  <a href=""><</a>
              </li>
            </ul>
        </div>
        <div class="migou-bd ">
            <div class="bd-pic">
                <a href=""><img src="images/b2_1.png"></a>
            </div>
            <ul>
               
                <li>
                    <span class="migou-jian"></span>
                    <a href="">
                        <img src="images/b2_2.png">
                    </a>
                    <h5>
                        <a href="">红米6 Pro 4GB+32GB</a>
                    </h5>
                    <p>高颜值大电量/异形全面屏/后置12000像素 你值得拥有</p>
                    <p class="migou-p">
                        <span class="migou-span">1929元 </span><del>929元 </del>
                    </p>
                </li>
                <li>
                    <span class="migou-jian01"></span>
                    <a href=""><img src="images/b2_3.png"></a>
                    <h5>
                        <a href="">小米活塞耳机 清新版 银色</a>
                    </h5>
                    <p>新鲜绽放，五色可选</p>
                    <p class="migou-p">
                        <span class="migou-span">1元 </span><del>29元 </del>
                    </p>
                </li>
                <li>
                    <a href=""><img src="images/b2_4.png"></a>
                    <h5>
                        <a href="">小米方盒子蓝牙音箱 2 白色</a>
                    </h5>
                    <p>延续经典好声音</p>
                    <p class="migou-p">
                        <span class="migou-span">11.1元 </span><del>129元 </del>
                    </p>                   
                </li>
                <li>
                    <a href=""><img src="images/b2_5.png"></a>
                    <h5>
                        <a href="">70迈 智能记录仪 黑色</a>
                    </h5>
                    <p>智能语音控制，1080p高清</p>
                    <p>
                        <span class="migou-span">11.1元 </span><del>199元 </del>
                    </p>                    
                </li>
            </ul>
        </div>
     </div>
     <!-- 小米闪购结束 -->
     <!-- 黑鲨游戏手机 开始 -->
     <div class="heisha container">
         <img src="images/c1.png">
     </div>
     <!-- 黑鲨游戏手机 结束 -->
     <div class="f5-bd ">
         <div class="shouji-hd">
            <h4>手机</h4>
            <p><a href="">查看全部 <i>></i></a></p>
        </div>
        <!-- /*手机广告位*/ -->
        <div class="shouji-banner container">
            <div class="shouji-aside">
                <img src="images/d1.png">
            </div>
            <div class="shouji-top">
                <ul>
                    <li>
                        <a href=""><img src="images/e1.png"></a>
                        <h5>
                           <a href="">小米8 青春版 4GB+64GB</a>
                        </h5>
                        <p>潮流镜面渐变色， 2400自拍旗舰</p>
                        <p class="migou-p">
                           <span class="migou-span">1399元 </span><del></del>
                        </p>                      
                    </li>
                    <li>
                        <a href=""><img src="images/e2.png"></a>
                        <h5>
                           <a href="">小米8 屏幕指纹版，8GB+64GB</a>
                        </h5>
                        <p>全球首款压感屏幕指纹，双屏GPS超级呃呃呃</p>
                        <p class="migou-p">
                           <span class="migou-span">3599元 </span><del></del>
                        </p>  
                    </li>
                    <li>
                        <a href=""><img src="images/e3.png"></a>
                        <h5>
                           <a href="">小米8 SE 4GB+64GB</a>
                        </h5>
                        <p>AI超感光双摄 三星 AMOLED 屏幕人人人那边</p>
                        <p class="migou-p">
                           <span class="migou-span">1499元 </span><del>1799元 </del>
                        </p>  
                    </li>
                    <li>
                        <a href=""><img src="images/e4.png"></a>
                        <h5>
                           <a href="">小米MIX 2S 8GB+256GB</a>
                        </h5>
                        <p>骁龙845 年度旗舰处理器 艺术般的体验凤飞飞 </p>
                        <p class="migou-p">
                           <span class="migou-span">3399元 </span><del>3999元 </del>
                        </p>  
                    </li>
                    <li>
                        <a href=""><img src="images/e5.png"></a>
                        <h5>
                           <a href="">小米6S 128GB+256GB</a>
                        </h5>
                        <p>轻薄美观的拍照手机</p>
                        <p class="migou-p">
                           <span class="migou-span">1649元 </span><del>1999元 </del>
                        </p>  
                    </li>
                    <li>
                        <a href=""><img src="images/e6.png"></a>
                        <h5>
                           <a href="">小米MIX 3 64GB+128GB</a>
                        </h5>
                        <p></p>
                        <p class="migou-p">
                           <span class="migou-span">1699元 </span><del></del>
                        </p>  
                    </li>
                    <li>
                        <a href=""><img src="images/e7.png"></a>
                        <h5>
                           <a href="">红米6 Pro 64GB+128GB</a>
                        </h5>
                        <p></p>
                        <p class="migou-p">
                           <span class="migou-span">869元 </span><del>99元 </del>
                        </p>  
                    </li>
                    <li>
                        <a href=""><img src="images/e8.png"></a>
                        <h5>
                           <a href="">红米6A 2GB+16GB</a>
                        </h5>
                        <p></p>
                        <p class="migou-p">
                           <span class="migou-span">569元 </span><del>599元 </del>
                        </p>  
                    </li>
                </u>
            </div>       
        </div>
     <div class="mi-pic-tv container">
         <img src="images/f1.png">
     </div>
     <div class="mi-tv container">
        <div class="box-hd">
            <h2>家电</h2>
            <ul>
                <li><a href="">热门</a></li>
                <li><a href="">电视影音</a></li>
                <li><a href="">电脑</a></li>
                <li><a href="">家居</a></li>
            </ul>
        </div>
        <div class="box-bd container">
            <div class="box-bd-top">
                <ul>
                    <li>
                        <a href=""><img src="images/f2.png"></a>
                        
                    </li>
                    <li>
                        <a href=""><img src="images/f3.png"></a>
                        <h5>
                           <a href="">小米电视4A 43英寸青春版</a>
                        </h5>
                        <p>全高清屏幕 人工智能语言</p>
                        <p class="migou-p">
                           <span class="migou-span">1499元 </span><del>1799元 </del>
                        </p>                        
                        
                    </li>
                    <li>
                        <a href=""><img src="images/f4.png"></a>
                        <h5>
                           <a href="">小米电视4C 50英寸</a>
                        </h5>
                        <p>4K HDR / 人工智能语言</p>
                        <p class="migou-p">
                           <span class="migou-span">3699元 </span><del>3999元 </del>
                        </p>                         
                    </li>
                    <li>
                        <a href=""><img src="images/f5.png"></a>
                        <h5>
                           <a href="">15.6"笔记本 I5 4GMX110</a>
                        </h5>
                        <p></p>
                        <p class="migou-p">
                           <span class="migou-span">4199元 </span><del> </del>
                        </p> 
                    </li>
                    <li>
                        <a href=""><img src="images/f6.png"></a>
                        <h5>
                           <a href="">13.3" 小米笔记本 Air 四核 I7 8G</a>
                        </h5>
                        <p></p>
                        <p class="migou-p">
                           <span class="migou-span">59999元 </span><del></del>
                        </p> 
                    </li>

                </ul>
            </div>
            <div class="box-bd-bottom">
               <div class="box-bd-top">
                <ul>
                    <li>
                        <a href=""><img src="images/g1.png"></a>
                        
                    </li>
                    <li>
                        <a href=""><img src="images/g2.png"></a>
                        <h5>
                           <a href="">小米电视4A 43英寸青春版</a>
                        </h5>
                        <p>全高清屏幕 人工智能语言</p>
                        <p class="migou-p">
                           <span class="migou-span">1499元 </span><del>1799元 </del>
                        </p>                        
                        
                    </li>
                    <li>
                        <a href=""><img src="images/g3.png"></a>
                        <h5>
                           <a href="">小米电视4C 50英寸</a>
                        </h5>
                        <p>4K HDR / 人工智能语言</p>
                        <p class="migou-p">
                           <span class="migou-span">3699元 </span><del>3999元 </del>
                        </p>                         
                    </li>
                    <li>
                        <a href=""><img src="images/g4.png"></a>
                        <h5>
                           <a href="">15.6"笔记本 I5 4GMX110</a>
                        </h5>
                        <p></p>
                        <p class="migou-p">
                           <span class="migou-span">4199元 </span><del> </del>
                        </p> 
                    </li>
                  </ul>
                  <div class="box-bd-r">
                      <ul>
                          <li>
                              <a href=""><img src="images/g5.png"></a>
                        <h5>
                           <a href="">小米净水器</a>
                        </h5>
                        <p></p>
                        <p class="migou-p">
                           <span class="migou-span">4199元 </span><del> </del>
                        </p>
                          </li>
                          <li>
                              <a href=""><img src="images/g6.png"></a>
                        <h5>
                           <a href="">浏览更多</a>
                        </h5>
                        <p>热门</p>
                        <p class="migou-p">
                           <span class="migou-span"> </span><del> </del>
                        </p>                             
                          </li>
                      </ul>
                  </div>
               </div>
            </div>

        </div>
        <div class="body-pos">
            <ul>
                <a href="" title="hahah">
                   <li class="body-pos-img01"></li>
                </a>
                <a href="" title="hahah">
                   <li class="body-pos-img02"></li>
                </a>
                <a href="" title="hahah">
                   <li class="body-pos-img03"></li>
                </a>
                <a href="" title="hahah">
                   <li class="body-pos-img04"></li>
                </a>
            </ul>
        </div>
        <div class="my-card">
            <img src="images/my.png">
        </div>


     </div>

     <div class="footer">
        <div class="footer-top container">
            <ul>
                <li><a href="">预约维修服务</a></li>
                <li><a href="">7天无理由退货</a></li>
                <li><a href="">15天免费换货</a></li>
                <li><a href="">满150元包邮</a></li>
                <li><a href="">520余家售后网点</a></li>
            </ul>
        </div>
        <div class="footer-bd container">
            <dl>
                <dt>帮助中心</dt>
                <dd><a href="">账户管理</a></dd>
                <dd><a href="">购物指南</a></dd>
                <dd><a href="">订单操作</a></dd>
            </dl>
                        <dl>
                <dt>服务支持</dt>
                <dd><a href="">账户管理</a></dd>
                <dd><a href="">购物指南</a></dd>
                <dd><a href="">订单操作</a></dd>
            </dl>
                        <dl>
                <dt>线下门店</dt>
                <dd><a href="">账户管理</a></dd>
                <dd><a href="">购物指南</a></dd>
                <dd><a href="">订单操作</a></dd>
            </dl>
                        <dl>
                <dt>关于小米</dt>
                <dd><a href="">账户管理</a></dd>
                <dd><a href="">购物指南</a></dd>
                <dd><a href="">订单操作</a></dd>
            </dl>
                        <dl>
                <dt>关注我们</dt>
                <dd><a href="">账户管理</a></dd>
                <dd><a href="">购物指南</a></dd>
                <dd><a href="">订单操作</a></dd>
            </dl>
            <div class="footer-r">
                <p>400-100-5678</p>
                <p>周一至周日 8:00-18:00
                   <br />（仅收市话费）</p>
                <a href="https://weibo.com/u/2925421341/home" target="target" title="将跳转至张海靖微博">联系客服</a>
                
            </div>
        </div>
        <div class="footer-main">
            申明：本网页仅供学习参考    <span>@XXX XXX XXX</span>
        </div>
       

     </div>

</body>
</html>