<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>影视文化</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav">
          <li><a href="index.html">首页</a></li>
          <li>
            <a href="history.html">家乡历史</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="scenery.html">家乡美景</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="famous.html">家乡名人</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="food.html">家乡美食</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="build.html" style="color: red">影视文化</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="build">
        <ul class="process">
          <li>
            <img src="image/wlxf.jpg" />
            <span>外来媳妇本地郎</span>
            <p>
              《外来媳妇本地郎》是由广东广播电视台出品的家庭情景系列电视短喜剧,该剧是中国电视史上播出时间最久、播出集数最多、同时段同类型节目收视率最高、影响力最广、经济效益最好的家庭情景系列电视短剧。
            </p>
          </li>
          <li>
            <img src="image/qsej.jpg" />
            <span>七十二家房客</span>
            <p>
              七十二家房客》是由广东广播电视台和珠江电影集团联合出品，广东珠影影视制作有限公司承制，该剧讲述了20世纪40年代的民国时期广东广州西关太平街生活着72家房客，故事主要描述房东与房客的较量，以及街坊生活的酸甜苦辣。
            </p>
          </li>
          <li>
            <img src="image/clgx.jpg" />
            <span>乘龙怪婿</span>
            <p>
              《乘龙怪婿》是由肖丹、
              郭昊明执导的喜剧电视剧，张颂文、蒙伟明、刘汗等主演。
              该剧讲述的是皇帝为了找回岭南王写的回忆录炮制一个假案，丢失了六件镇国宝物，追究侍卫首领的责任，“御狗”贾牙误以为皇帝要杀他，深夜潜逃回家，带着妻小东躲西藏十几年的故事。
            </p>
          </li>
        </ul>
        <p>广东的影视文化不仅仅如此，更多的等你来发现>></p>
        <ul class="modern">
          <li>
            <img src="image/b-4.jpg" />
            <img src="image/b-5.jpg" />
          </li>
          <li>
            <img src="image/b-6.jpg" />
            <img src="image/b-7.jpg" />
          </li>
          <li>
            <img src="image/b-8.jpg" />
            <img src="image/b-9.jpg" />
          </li>
          <li>
            <img src="image/b-10.jpg" />
            <img src="image/b-11.jpg" />
          </li>
        </ul>
      </div>
      <div class="footer">
        <p>
          <a href="javascript::">关于我们</a>
          <a href="javascript::">联系我们</a>
          <a href="javascript::">反馈</a>
          <a href="javascript::" style="border: none">更多</a>
        </p>
      </div>
    </div>
  </body>
</html>
