<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>家乡名人</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav">
          <li><a href="index.html">首页</a></li>
          <li>
            <a href="history.html">家乡历史</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="scenery.html">家乡美景</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="famous.html" style="color: red">家乡名人</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="food.html">家乡美食</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="build.html">影视文化</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="famous">
        <ul class="flist">
          <li class="fpeople">
            <ul>
              <li>
                <img src="image/szs.jpg" />
                <span>孙中山</span>
                <span>奋斗这一件事是自有人类以来天天不息的。</span>
              </li>
              <li>
                <p>
                  孙中山（1866年11月12日-1925年3月12日），名文，字载之，号日新，又号逸仙，又名帝象，化名中山樵，伟大的民族英雄、伟大的爱国主义者、中国民主革命的伟大先驱，中华民国和中国国民党的缔造者，三民主义的倡导者，创立了《五权宪法》。他首举彻底反帝反封建的旗帜，“起共和而终两千年封建帝制”。　
                </p>
              </li>
            </ul>
          </li>
          <li class="fpeople">
            <ul>
              <li>
                <img src="image/lqc.jpg" />
                <span>梁启超</span>
                <span>男儿志兮天下事,但有进步不有止,言志已酬便无志。</span>
              </li>
              <li>
                <p>
                  梁启超（1873年2月23日—1929年1月19日），字卓如，一字任甫，号任公，又号饮冰室主人、饮冰子、哀时客、中国之新民、自由斋主人。广东省广州府新会县熊子乡茶坑村（今广东省江门市新会区茶坑村）人
                  [52-53]
                  。清朝光绪年间举人，中国近代思想家、政治家、教育家、史学家、文学家，戊戌变法（百日维新）领袖之一、中国近代维新派、新法家代表人物。
                </p>
              </li>
            </ul>
          </li>
          <li class="fpeople">
            <ul>
              <li>
                <img src="image/kyw.jpg" />
                <span>康有为</span>
                <span>市可知治乱,商可见盛衰,商之本在农,商之用在工</span>
              </li>
              <li>
                <p>
                  康有为（1858年3月19日—1927年3月31日），原名祖诒，字广厦，号长素，又号明夷、更甡、西樵山人、游存叟、天游化人，广东省广州府南海县丹灶苏村人，人称康南海，中国晚清时期重要的政治家、思想家、教育家，资产阶级改良主义的代表人物。康有为出生于封建官僚家庭，光绪五年（1879年）开始接触西方文化。
                </p>
              </li>
            </ul>
          </li>
          <li class="fpeople">
            <ul>
              <li>
                <img src="image/lxl.jpg" />
                <span>李小龙</span>
                <span>以无法为有法,以有限为无限,是为武术最高境界!</span>
              </li>
              <li>
                <p>
                  李小龙（英文名：Bruce
                  Lee，1940年11月27日—1973年7月20日），本名李振藩，出生于美国加利福尼亚州旧金山，祖籍中国广东省佛山市顺德区均安镇，世界武道变革先驱者、武术技击家、武术哲学家、功夫片的开创者和截拳道创始人、华人武打电影演员，中国功夫首位全球推广者、好莱坞首位华人主角。
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer">
        <p>
          <a href="javascript::">关于我们</a>
          <a href="javascript::">联系我们</a>
          <a href="javascript::">反馈</a>
          <a href="javascript::" style="border: none">更多</a>
        </p>
      </div>
    </div>
  </body>
</html>
