<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家乡美食</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class='nav'>
				<li><a href="index.html">首页</a></li>
				<li>
					<a href="history.html">家乡历史</a>
					<div class='menu-wrap'>
						<ul>
							<li>
								<a href="#">菜单1</a>
							</li>
							<li>
								<a href="#">菜单2</a>
							</li>
							<li>
								<a href="#">菜单3</a>
							</li>
						</ul>
					</div>
				</li>
				<li><a href="scenery.html">家乡美景</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
				<li><a href="famous.html">家乡名人</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
				<li><a href="food.html" style="color: red">家乡美食</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
				<li><a href="build.html">影视文化</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
			</ul>
		</div>
		<div class="food">
			<div class="left">
				<ul>
					<li>
						<img src="image/f-1.jpg">
						<a href="javascript::">梅菜扣肉</a>
					</li>
					<li>
						<img src="image/f-2.jpg">
						<a href="javascript::">老火靓汤</a>
					</li>
					<li>
						<img src="image/f-3.jpg">
						<a href="javascript::">双皮奶</a>
					</li>
					<li>
						<img src="image/f-4.jpg">
						<a href="javascript::">盐焗鸡</a>
					</li>
					<li>
						<img src="image/f-5.jpg">
						<a href="javascript::">姜撞奶</a>
					</li>
					<li>
						<img src="image/f-6.jpg">
						<a href="javascript::">炒牛河</a>
					</li>
					<li>
						<img src="image/f-7.jpg">
						<a href="javascript::">煲仔饭</a>
					</li>
					<li>
						<img src="image/f-8.jpg">
						<a href="javascript::">白切鸡</a>
					</li>
					<li>
						<img src="image/f-9.jpg">
						<a href="javascript::">水晶虾饺</a>
					</li>
					<li>
						<img src="image/f-10.jpg">
						<a href="javascript::">肠粉</a>
					</li>
					<li>
						<img src="image/f-11.jpg">
						<a href="javascript::">云吞面</a>
					</li>
					<li>
						<img src="image/f-12.jpg">
						<a href="javascript::">砂锅粥</a>
					</li>
					<li>
						<img src="image/f-13.jpg">
						<a href="javascript::">萝卜糕</a>
					</li>
					<li>
						<img src="image/f-14.jpg">
						<a href="javascript::">鸭母捻</a>
					</li>
					<li>
						<img src="image/f-15.jpg">
						<a href="javascript::">烧鹅</a>
					</li>
					<li>
						<img src="image/f-16.jpg">
						<a href="javascript::">猪肠胀糯米</a>
					</li>
					<li>
						<img src="image/f-17.jpg">
						<a href="javascript::">猪脚粉</a>
					</li>
					<li>
						<img src="image/f-18.jpg">
						<a href="javascript::">和味牛杂</a>
					</li>
					<li>
						<img src="image/f-19.jpg">
						<a href="javascript::">烧味</a>
					</li>
					<li>
						<img src="image/f-20.jpg">
						<a href="javascript::">叉烧包</a>
					</li>
				</ul>
			</div>
			<div class="right">
				<h1>推荐</h1>
				<a href="javascript::">缺啥补啥</a>
				<a href="javascript::">秘方</a>
				<a href="javascript::">家常</a>
				<ol>
					<li style="color: red"><a href="javascript::" style="color: red">化州糖水</a></li>
					<li style="color: red"><a href="javascript::" style="color: red"> 老火靓汤</a></li>
					<li style="color: red"><a href="javascript::" style="color: red">双皮奶</a></li>
					<li><a href="javascript::">盐焗鸡</a></li>
					<li><a href="javascript::">姜撞奶</a></li>
					<li><a href="javascript::">炒牛河</a></li>
					<li><a href="javascript::">煲仔饭</a></li>
					<li><a href="javascript::">白切鸡</a></li>
					<li><a href="javascript::">水晶虾饺</a></li>
					<li><a href="javascript::">肠粉</a></li>
					<li><a href="javascript::">云吞面</a></li>
					<li><a href="javascript::">砂锅粥</a></li>
					<li><a href="javascript::">萝卜糕</a></li>
					<li><a href="javascript::">鸭母捻</a></li>
					<li><a href="javascript::">烧鹅</a></li>
					<li><a href="javascript::">猪肠胀糯米</a></li>
					<li><a href="javascript::">猪脚粉</a></li>
					<li><a href="javascript::">和味牛杂</a></li>
					<li><a href="javascript::">烧味</a></li>
					<li><a href="javascript::">叉烧包</a></li>
					<li><a href="javascript::"> 客家焖鹅</a></li>
					<li><a href="javascript::">梅菜扣肉</a></li>
				</ol>
				<h1>推荐</h1>
				<a href="javascript::">煲汤食谱</a>
				<a href="javascript::">美食专题</a>
				<ul>
					<li>
						<img src="image/f-1.gif">
						<p style="color: red">枸杞莲子鸡汤</p>
						<p> 清热利尿、消肿轻身</p>
						<p>药用价值极高</p>
					</li>
					<li>
						<img src="image/f-2.gif">
						<p style="color: red">参须红枣炖鲈鱼</p>
						<p>活血、生机、美肤、健体</p>
						<p>强身健体，青春活力</p>
					</li>
					<li>
						<img src="image/f-3.gif">
						<p style="color: red">参须枸杞炖羊肉</p>
						<p>养肾、补肝、明眸</p>
						<p>明眸亮眼，滋养补虚</p>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="footer">
			<p>
				<a href="javascript::">关于我们</a>
				<a href="javascript::">联系我们</a>
				<a href="javascript::">反馈</a>
				<a href="javascript::" style="border: none">更多</a>
			</p>
		</div>
	</div>
</body>
</html>