<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>家乡历史</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class='nav'>
				<li><a href="index.html">首页</a></li>
				<li>
					<a href="history.html" style="color: red">家乡历史</a>
					<div class='menu-wrap'>
						<ul>
							<li>
								<a href="#">菜单1</a>
							</li>
							<li>
								<a href="#">菜单2</a>
							</li>
							<li>
								<a href="#">菜单3</a>
							</li>
						</ul>
					</div>
				</li>
				<li><a href="scenery.html">家乡美景</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
				<li><a href="famous.html">家乡名人</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
				<li><a href="food.html">家乡美食</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
				<li><a href="build.html">影视文化</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
			</ul>
		</div>
		<div class="history">
			<p>广东、广西在秦朝统一中国之前，并不属于中原政权，被称为“百越”，但也没有形成“国家”，全是刀耕火种的少数民族氏族部落。秦始皇统一六国后，误判了形势，认为中原已经永远降服了。于是将军队分为两大部分，一支北上抗击匈奴，另一支号称50万人的大军则在由后来自立为“南越王”的大将“赵佗”（现河北地区人）率领下，南下征服百越。</p>
			<ul class="origin">
				<li>
					<img src="image/11.jpg">
					<span>三国、魏、晋、南北朝时期</span>
				</li>
				<li>
					<img src="image/12.jpg">
					<span>隋唐五代时期</span>
				</li>
				<li>
					<img src="image/13.jpg">
					<span>宋朝时期</span>
				</li>
				<li>
					<img src="image/14.jpg">
					<span>元朝时期 </span>
				</li>
			</ul>
			<ul class="luoyang">
				<li>
					<img src="image/5.jpeg">
					<p>广州</p>
				</li>
				<li>
					<img src="image/6.jpeg">
					<p>深圳</p>
				</li>
			</ul>
			<p>自1989年起，广东国内生产总值连续居全国第一位，成为中国第一经济大省，经济总量占全国的1/8，已达到中上等收入国家水平、中等发达国家水平。
			广东省域经济综合竞争力居全国第一。广东珠三角9市将联手港澳打造粤港澳大湾区，成为与纽约湾区、旧金山湾区、东京湾区并肩的世界四大湾区之一。</p>
			
		</div>
		<div class="footer">
			<p>
				<a href="javascript::">关于我们</a>
				<a href="javascript::">联系我们</a>
				<a href="javascript::">反馈</a>
				<a href="javascript::" style="border: none">更多</a>
			</p>
		</div>
	</div>
</body>
</html>