<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的家乡广东</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class="container">
                      <div class="bodystyle">
		<div class="header">
			<ul class='nav'>
				<li><a href="index.html" style="color: red">首页</a></li>
				<li>
					<a href="history.html">家乡历史</a>
					<div class='menu-wrap'>
						<ul>
							<li>
								<a href="#">菜单1</a>
							</li>
							<li>
								<a href="#">菜单2</a>
							</li>
							<li>
								<a href="#">菜单3</a>
							</li>
						</ul>
					</div>
				</li>
				<li><a href="scenery.html">家乡美景</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
				<li><a href="famous.html">家乡名人</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
				<li><a href="food.html">家乡美食</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
				<li><a href="build.html">影视文化</a>	<div class='menu-wrap'>
					<ul>
						<li>
							<a href="#">菜单1</a>
						</li>
						<li>
							<a href="#">菜单2</a>
						</li>
						<li>
							<a href="#">菜单3</a>
						</li>
					</ul>
				</div></li>
			</ul>
			</div>
			<div class="as ">
				<div id="input">
					<input class="user-input" type="text" name="search" placeholder="请输入搜索内容">
					 <input class="user-btn" type="button" value="搜索">
				</div>
				
				
			</div>
			
			
		
		<div class="main">
			<ul class="list">
				<li class="introduce">
					<ul>
						<li>
							<h1>广东简介</h1>
							<img src="./image/guangdongditu.jpg" width="50%">
						</li>
						<li>
							<p>广东省地处中国大陆最南部。东邻福建，北接江西、湖南，西连广西，
							南临南海，珠江三角洲东西两侧分别与香港、澳门特别行政区接壤，西南
							部雷州半岛隔琼州海峡与海南省相望。全境位于北纬20°13‘～25°31’和
							东经109°39‘～117°19’之间。东起南澳县南澎列岛的赤仔屿，西至雷州
							市纪家镇的良坡村，东西跨度约800公里。</p>
						</li>
					</ul>
				</li>
				<li class="introduce">
					<ul>
						<li>
							<h1>人口民族</h1>
							<img src="image/renkoumiznu.jpg">
						</li>
						<li>
							<p>广东是一个民族成份齐全的省份。据2000年第五次人口普查统计，广
							东省除汉族外，还有55个少数民族。少数民族人口127万人，占广东省总
							人口8642万人的1.47%，其中壮、瑶、土家、苗、侗等5个民族人口有10
							61537人，占少数民族总人口的86%。外省来广东务工、经商和从事其他
							各种活动的少数民族常住人口约67万人，主要分布在珠江三角洲地区。	
							</p>
						</li>
					</ul>
				</li>
				<li class="introduce">
					<ul>
						<li>
							<h1>教育事业</h1>
							<img src="./image/zsdx.webp">
						</li>
						<li>
							<p>广东省高等教育水平位居中国前列，据2021年广东省教育厅显示，广东省有普通高等学校160所。2013年两个学科中国排名第一，26个学科进入中国前5。2018年1月发布的基本科学指标数据库ESI，广东13所高校60个学科进入全球前1%，学校数占全国219所的5.9%，学科数占全国6.72%。全年各级各类教育（不含非学历培训，不含技工学校）招生688.38万人。
						</li>
					</ul>
				</li>
				<li class="introduce">
					<ul>
						<li>
							<h1>特产美食</h1>
							<img src="image/zaocha.jpg" width="50%">
						</li>
						<li>
							<p>广东（粤式）早茶是广东省早点小吃的统称，属于粤菜。以肠粉、叉烧包、虾饺、鸡爪、干蒸烧卖等为代表。
							既名为“早茶”，茶水便自然是广东早茶中不可缺少的一部分。粤菜由广州菜（也称广府菜）、潮州菜（也称潮汕菜）、东江菜三种地方风味组成，三种风味各具特色。
							</p>
						</li>
					</ul>
				</li>
			</ul>
		<div class="bs">	

	</div>
</body>
</html>