
.bodystyle{
                filter:alpha(opacity=50);  
                -moz-opacity:0.8;  
                 -khtml-opacity: 0.8;  
                 opacity: 0.8;
                 width:100%;
                 position:absolute;
                 background:url(image/w1.jpg); 
                 background-size: 100% 100%;
                 background-attachment:fixed;
                 margin:0 auto
                    }

}
.container{
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 100%;
}
.header{
	width: 100%;
	height: 40px;
	background: #834100;
	color: #ffffff;

}
.header ul{
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	
}
.header li{
	width: 16%;
	line-height: 40px;
	display: inline-block;
	position: relative;
	text-align: center;
	list-style: none;
}
a{
	color: #000000;
	font-size: 18px;
	text-decoration: none;
}
a:hover{
	color: red;
}
.main{
	width: 100%;
	height: 1000px;
	box-sizing:border-box;
	border: 1px solid #000;
	text-align: center;
}
.list{
	width: 98%;
	height: 700px;
	margin: 0;
	padding: 1%;
	list-style: none;
	position: relative;
}
.introduce{
	width: 40%;
	height: 350px;
	float: left;
	padding-left: 7%;
	position: relative;
	margin-bottom: 10px;
}
.introduce ul{
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
.introduce ul li{
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}
h1{
	width: 100%;
	line-height: 50px;
	font-size: 20px;
	border-bottom: 1px solid grey;
}
.main img{
	width: 100%;
	height: 78%;
	
}
.main p{
	width: 90%;
	height: 300px;
	margin:50px 6% 0 4%;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}
.more{
	width: 98%;
	height: 300px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.more li{
	width: 18%;
	height: 230px;
	margin-left: 1.67%;
	margin-top: 30px;
	float: left;
}
.more li img{
	width: 50%;
	height: 100px;
	float: left;
}
.more li span{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: red;
	display: inline-block;
}
.footer{
	width: 100%;
	height: 30px;
	background: lightblue;
	color: #000;
	text-align: center;
}
.footer p{
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 0;
	position: absolute
}
.footer  a{
	width: 100px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	border-right: 1px solid grey;
	vertical-align: middle;
}

/* history */
.history{
	width: 100%;
	height:800px;
	position: relative;
}
.history p{
	width: 96%;
	height: 60px;
	line-height: 30px;
	margin: 0px 2% 0px 2%;
	font-size: 18px;
	text-indent: 30px;
}
.origin,.luoyang{
	width: 96%;
	height: 300px;
	margin-top: 20px;
	padding: 0 2% 0 2%;
	list-style: none;
	text-align: center;
}
.origin li{
	width: 22%;
	height: 300px;
	float: left;
	padding-left: 2.5%;
	position: relative;
}
.history img{
	width: 100%;
	height:270px;
	position: relative;
}
.origin span{
	width: 100%;
	height: 30px;	
}
.luoyang li{
	width: 50%;
	height: 300px;
	float: left;
	position: relative;
}

/* scenery */
.scenery{
	width: 100%;
	height: 800px;
	position: relative;
	text-align: center;
}
.scenery h5{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	color: red;
	font-size: 20px;
}
.scenery span{
	width: 100%;
	line-height: 30px;
	height: 30px;
}
.scenery ul{
	width: 70%;
	height: 670px;
	margin: 0 auto;
	position: relative;
	list-style: none;
	padding: 0;
}
.scenery ul li{
	width: 31%;
	height: 200px;
	float: left;
	margin: 20px 1% 0 1%;
}
.scenery ul li img{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.scenery p{
	width: 60%;
	height: 50px;
	line-height: 25px;
	font-size: 18px;
	margin: 0 auto;
}

/* famous */
.famous{
	width: 100%;
	height:780px;
	
}
.flist{
	width: 90%;
	height: 750px;
	list-style: none;
	margin: 0 auto;
	padding-top: 20px;
	background:lightgrey;
}
.fpeople{
	width: 50%;
	height: 350px;
	float: left;
	position: relative;
	margin-bottom: 25px;
}
.fpeople ul{
	width:85%;
	height:350px;
	list-style: none;

}
.fpeople ul li{
	width: 45%;
	height:350px;
	float: left;
	padding-right: 5%;

}
.fpeople img{
	width: 100%;
	height: 70%;
}
.fpeople span{
	text-align: center;
	display: block;
	width: 100%;
	height: 10%;
	line-height:30px;
}
.fpeople p{
	width: 100%;
	height: 330px;
	line-height: 30px;
	overflow: hidden;
	margin: 0;
	padding-top: 20px;
}
/* food */
.food{
	width: 96%;
	height: 1000px;
	margin: 0 auto;
}
.left{
	width: 60%;
	height: 950px;
	float: left;
	margin-top: 10px;
}
.left ul{
	width:100%;
	height: 950px;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}
.left ul li{
	width: 23%;
	height: 170px;
	margin: 10px 1% 10px 1%;
	float: left;
	text-align: center;
}
.left ul li img{
	width: 100%;
	height: 140px;
}
.left ul li span{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}
.right{
	width: 30%;
	height: 940px;
	margin-left: 5%;
	margin-top: 20px;
	float: left;
}
.right h1{
	width: 100%;
	height: 40px;
	line-height:40px;
	border-bottom: 2px solid grey;
	font-size: 22px;
	color: red;
	display: inline;
}
.right a{
	width: 25%;
	height: 40px;
	line-height: 40px;
	float: right;
}
.right ol{
	width: 90%;
	height: 440px;
	margin: 0;
	margin-top: 10px;
	padding-left: 10%;
}
.right ol li{
	width: 50%;
	height: 40px;
	line-height: 40px;
	float: left;
}
.right ol li a{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
}
.right ul{
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.right ul li{
	width: 100%;
	height: 120px;
	padding-top: 10px;
}
.right ul li img{
	width: 50%;
	height: 100%;
	float: left;
}
.right ul li p{
	width: 45%;
	height: 40px;
	margin: 0;
	padding: 0;
	margin-left: 5%;
	line-height: 40px;
	font-size: 15px;
	float: left;
}
/* build */
.build{
	width: 100%;
	height: 650px;
}
.process{
	width: 100%;
	height: 450px;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	list-style: none;
}
.process li{
	width: 24%;
	height: 450px;
	margin-left: 7%;
	float: left;
}
.process li img{
	width: 100%;
	height: 240px;

}
.process li span{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	color: red;

}
.process li p{
	width: 100%;
	height: 150px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #000;
}
.build p{
	width: 90%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	color: red;
	font-size: 20px;
}
.modern{
	width: 90%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	margin-top: 20px;
	list-style: none;
}
.modern li{
	width: 20%;
	height: 100px;
	margin-left: 4%;
	float: left;
}
.modern li img{
	width: 50%;
	height: 100px;
	float: left;
}
.as{
	width: 100%;
	height: 250px;
	background-image: url(image/q1.jpg)  ;
	background-position: 100%.200px;
	position: relative;
}
#input{
	width: 650px;
	height: 60px;
	position: absolute;
	margin: 100px 400px;
}
.user-input {
            width: 500px;
            height: 40px;
            border: 2px solid blue;
            border-radius: 5px;
            box-sizing: border-box;
            outline: none;
            text-indent: 10px;
			
        }
        
        .user-btn {
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            background: blue;
            vertical-align: middle;
            outline: none;
            color: white;
            font-size: 20px;
        }
 
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 20px;
            color: #f4f1de;
        }


        .shell{
            display: flex;
            justify-content: center;
        }
        .button,.portrait{
            background-color: #50536e;
            width: 170px;
            height: 65px;
            text-align: center;
            line-height: 65px;
            transition: .3s;
            cursor: pointer;
        }
        .portrait::before{
            content: '';
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transform: translate(30px,-30px);
            background-image: url('./portrait.png');
            background-size: cover;
            border: 10px solid #fff;
        }
        .information{
            width: 220px;
            background-color: #e07a5f;
            transform: translate(-20px,-200px);
            border-radius: 10px;
            padding: 20px 0;
            line-height: 0;
            height: 0;
            transition: .3s;
            opacity: 0;
            
        }
        .button:hover{
            background-color: #d15a39;
        }
        .button li:hover{
            background-color: #ffb29d;
        }
        .button ul li{
            height: 0;
            transition: .2s;
            opacity: 0;
            transform: translateY(-65px);
            background-color: #e07a5f;
        }
        .button:hover li{
            height: 65px;
            opacity: 1;
            transform: translateY(0);
        }
        .portrait:hover .information{
            opacity: 1;
            line-height: 65px;
            transform: translate(-20px,-10px);
            height: auto;
        }

/* 二级菜单 */
.nav li{
	position: relative;
}
.menu-wrap{
	position:absolute;
	bottom:-39px;
	left:0;
	z-index:1;
	width:100%;
	transform: translateY(100px);
	opacity: 0;
	transition: all ease-in-out .5s;
}
.menu-wrap li{
	display: block;
	width:100%;
	text-align: center;
	background-color: chocolate;
	border-bottom: 1px solid #fff;
}
.menu-wrap li a{
	font-size:14px;
	color:#fff;
}
.menu-wrap li a:hover{
	color:red;
}
.nav li:hover .menu-wrap{
	opacity: 1;
	transform: translateY(0px);
}