<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>家乡美景</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav">
          <li><a href="index.html">首页</a></li>
          <li>
            <a href="history.html">家乡历史</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="scenery.html" style="color: red">家乡美景</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="famous.html">家乡名人</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="food.html">家乡美食</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="build.html">影视文化</a>
            <div class="menu-wrap">
              <ul>
                <li>
                  <a href="#">菜单1</a>
                </li>
                <li>
                  <a href="#">菜单2</a>
                </li>
                <li>
                  <a href="#">菜单3</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="scenery">
        <h5>我们的家乡——广东</h5>
        <span>此夜曲中闻折柳，何人不起故园情</span>
        <ul>
          <li><img src="image/1.jpg" /></li>
          <li><img src="image/2.jpg" /></li>
          <li><img src="image/3.jpg" /></li>
          <li><img src="image/4.jpg" /></li>
          <li><img src="image/5.jpg" /></li>
          <li><img src="image/6.jpg" /></li>
          <li><img src="image/7.jpg" /></li>
          <li><img src="image/8.jpg" /></li>
          <li><img src="image/9.jpg" /></li>
        </ul>
        <p>
          广东的美景非常多，白云山、广州塔、双月湾、露天矿、石门国家森林公园、韶关丹霞山......
        </p>
      </div>
      <div class="footer">
        <p>
          <a href="javascript::">关于我们</a>
          <a href="javascript::">联系我们</a>
          <a href="javascript::">反馈</a>
          <a href="javascript::" style="border: none">更多</a>
        </p>
      </div>
    </div>
  </body>
</html>
