<!DOCTYPE html>
<html class='index'>
	<head>
		<meta charset="UTF-8">
		<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0">
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/> -->
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" media="screen and (max-width=768px)" href="css/index.css">

		<!-- <script type="text/javascript" src="js/js1.js"></script> -->
	</head>
	<body class='index'>
		<div class="clearfix nav">
			<a class="logo" href="javascript:;"></a>
			<button id='sMenu'>
				<span></span><span></span><span></span>
			</button>
			<ul class="clearfix nav-wrap">
				<li><a class="nav-item nav-active" href="index.html">首页</a></li>
				<li><a class="nav-item" href="pinpai.html">品牌故事</a></li>
				<li><a class="nav-item" href="meishi.html">美食系列</a></li>
				<li><a class="nav-item" href="shop.html">店面展示</a></li>
				<li><a class="nav-item" href="news.html">新闻资讯</a></li>
				<li><a class="nav-item" href="about-us.html">关于我们</a></li>
			</ul>
		</div>
	
		   <!-- banner -->
			<div class="banner">
				<!-- <img id="imgB" src="img/banner1.jpg" width="100%"
				height="500px;"> -->
				<img id="imgB" src="img/banner1.jpg">
			</div>


		</div>
		
		<div class="new-wrap">
			<p class="newfood-tit">新品推荐</p>
			<div class="newfood-box clearfix" id="newfood-table">
				<ul class="newfood-wrap clearfix newfood-show">
					<li class="newfood-item newfood-right newfood-li1">
						<a href="meishi-con.html" class="newfood-p1">巧克力物语</a>
					</li>
					<li class="newfood-item newfood-right newfood-li2">
						<a href="meishi-con.html" class="newfood-p2">提拉米苏</a>
					</li>
					<li class="newfood-item newfood-right newfood-li3">
						<a href="meishi-con.html" class="newfood-p3">草莓朵朵</a>
					</li>
					<li class="newfood-item newfood-li4">
						<a href="meishi-con.html" class="newfood-p4">樱花慕斯蛋糕</a>
					</li>
					<li class="newfood-item newfood-right newfood-li5">
						<a href="meishi-con.html" class="newfood-p5">树莓蛋糕</a>
					</li>
					<li class="newfood-item newfood-right newfood-li6">
						<a href="meishi-con.html" class="newfood-p6">草莓法式甜点</a>
					</li>
					<li class="newfood-item newfood-right newfood-li7">
						<a href="meishi-con.html" class="newfood-p7">莓果马卡龙</a>
					</li>
					<li class="newfood-item newfood-li8">
						<a href="meishi-con.html" class="newfood-p8">草莓巧克力蛋糕</a>
					</li>
				</ul>
				<!-- <ul class="newfood-wrap clearfix">
					<li class="newfood-item newfood-right newfood-li5">
						<a href="meishi-con.html" class="newfood-p5">西冷牛排</a>
					</li>
					<li class="newfood-item newfood-right newfood-li6">
						<a href="meishi-con.html" class="newfood-p6">草莓布丁杯</a>
					</li>
					<li class="newfood-item newfood-right newfood-li7">
						<a href="meishi-con.html" class="newfood-p7">黑椒牛排</a>
					</li>
					<li class="newfood-item newfood-li8">
						<a href="meishi-con.html" class="newfood-p8">茶漱海鲜汤</a>
					</li>
					<li class="newfood-item newfood-right newfood-li1">
						<a href="meishi-con.html" class="newfood-p1">茶漱海鲜汤</a>
					</li>
					<li class="newfood-item newfood-right newfood-li2">
						<a href="meishi-con.html" class="newfood-p2">玉米海螺沟</a>
					</li>
					<li class="newfood-item newfood-right newfood-li3">
						<a href="meishi-con.html" class="newfood-p3">芝士蛋糕卷</a>
					</li>
					<li class="newfood-item newfood-li4">
						<a href="meishi-con.html" class="newfood-p4">芝士大虾</a>
					</li>
				</ul>
				<ul class="newfood-wrap clearfix">
					<li class="newfood-item newfood-right newfood-li3">
						<a href="meishi-con.html" class="newfood-p3">芝士蛋糕卷</a>
					</li>
					<li class="newfood-item newfood-li4">
						<a href="meishi-con.html" class="newfood-p4">芝士大虾</a>
					</li>
					<li class="newfood-item newfood-right newfood-li1">
						<a href="meishi-con.html" class="newfood-p1">茶漱海鲜汤</a>
					</li>
					<li class="newfood-item newfood-right newfood-li2">
						<a href="meishi-con.html" class="newfood-p2">玉米海螺沟</a>
					</li>
					<li class="newfood-item newfood-right newfood-li7">
						<a href="meishi-con.html" class="newfood-p7">黑椒牛排</a>
					</li>
					<li class="newfood-item newfood-right newfood-li5">
						<a href="meishi-con.html" class="newfood-p5">西冷牛排</a>
					</li>
					<li class="newfood-item newfood-right newfood-li6">
						<a href="meishi-con.html" class="newfood-p6">草莓布丁杯</a>
					</li>
					<li class="newfood-item newfood-li8">
						<a href="meishi-con.html" class="newfood-p8">茶漱海鲜汤</a>
					</li>
				</ul> -->
			</div>
			<!-- <div class="clearfix" id="newfood-span">
				<span style="background: url(img/icon-2.png);"></span>
				<span></span>
				<span></span>
			</div> -->
		</div>
		<div class="company-wrap">
			<p class="company-tit">产品介绍</p>
			<dl class="clearfix company-dl">
				<dt class="company-dt">
					<img src="img/pic1.png"/>
				</dt>
				<dd class="company-dd">
					<p>小馋猫甜品店的种类十分多样，蛋糕种类了也分成了好几种，有慕斯蛋糕，经典蛋糕，奶酪蛋糕，冰淇淋蛋糕，儿童蛋糕，各式蛋糕颜值高，味道美。</p>
					<p>它们的主要材料是由鸡蛋，牛奶，果汁，奶粉，香粉，色拉油，水，起酥油，泡打粉，然后在经过一系列的加工，搅拌，调制，烘烤后制成。</p>
					<p>小馋猫甜品店是一个很重视创新的品牌，就因为这点，小馋猫甜品店，不断的突破自己，不断的去尝试，所以才能一次又一次的惊艳广大的消费者用户。</p>
				</dd>
			</dl>
		</div>
		<div class="news-wrap">
			<p class="news-tit">信息动态</p>
			<dl class="clearfix news-dl">
				<dt class="news-dt">
					<img src="img/pic2.png"/>
				</dt>
				<dd class="company-dd">
					<p>小馋猫甜品店在2016年-2017年连续在甜品类销量里占据第一名。作为当时甜品类的佼佼者。小馋猫甜品店坚持以用户体验为核心，坚持提高行业标准，致力于做到最好吃，颜值最高的甜品品牌。</p>
					<p>本着以质量第一的原则，小馋猫甜品店努力拓展，从渠道售卖拓展到产品的研发，生产，品控，仓储，深度打通全链路，小馋猫甜品店一直在创新。定位趣味甜品探索家，其目的为天下爱好甜品的吃货们提供颜值高且好吃的甜品。</p>
				</dd>
			</dl>
		</div>
		<div class="foot">
			<div class="foot-wrap">
				<p class="foot-tit">友情链接</p>
				<ul class="foot-link clearfix">
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link6.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link5.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link4.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link3.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link2.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link1.png"/></a>
					</li>
				</ul>
				<div class="copyright">
					<p>CopyRight©2003-2015 All rigt rederved</p>
					<!-- <p>版权所有：天津佳焱餐饮管理有限公司   --><!-- 来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a> -->
					<p>ICP备案号：津ICP备20004177号-1</p>
				</div>
			</div>
		</div>
		
	</body>
	<!--jq调用-->
	<script src="js/jquery-1.11.0.js" type="text/javascript"></script>

	<script type="text/javascript">
		//导航当前项切换	
		$(".nav-item").click(function(){
			$(this).parent("li").siblings().children().removeClass("nav-active");		
			//点击对象的父级（li）的兄弟级（li）的子集（a）移除类
			$(this).addClass("nav-active");												
			//给点击对象添加类
		});
		$('.index').off('click').on('click',function(e){
			if(e.target.id === 'sMenu' || e.target.parentElement.id ===  'sMenu'){
				$('.nav-wrap').show()
			}else{
				$('.nav-wrap').hide()
			}
		});
	   	  //新品推荐table切换
	    var nSpan = document.getElementById("newfood-span");
			var newspan = nSpan.querySelectorAll("span");
			var oUl  = document.getElementById("newfood-table");
			var uls = oUl.querySelectorAll("ul");
			var last=newspan[0];
			for(var i=0;i<newspan.length;i++){
					newspan[i].index=i;  //给每一个按钮添加一个自定义属性，存储的是他们对应的索引值；
					newspan[i].onclick=function(){
						last.style.background="url(img/icon.png)";  //把上一次点击对象的背景更换掉
						uls[last.index].style.display="none"; //上一个对应的div，让他隐藏
						this.style.background="url(img/icon-2.png)"; //给当前点击的按钮添加背景
						uls[this.index].style.display="block"; //当前点击按钮对应的div显示			
						last=this; 	//把上一次点击的对象更新成当前点击的对象
					};
				};
	</script>
</html>
