<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>美食系列</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="clearfix nav">
			<a class="logo" href="javascript:;"></a>
			<ul class="clearfix nav-wrap">
				<li><a class="nav-item" href="index.html">首页</a></li>
				<li><a class="nav-item" href="pinpai.html">品牌故事</a></li>
				<li><a class="nav-item nav-active" href="meishi.html">美食系列</a></li>
				<li><a class="nav-item" href="shop.html">店面展示</a></li>
				<li><a class="nav-item" href="news.html">新闻资讯</a></li>
				<li><a class="nav-item" href="about-us.html">关于我们</a></li>
			</ul>
		</div>
		
		<div id="container">
			<!-- <div id="buttons">
		        <span index="1" class="on"></span>
		        <span index="2"></span>
		        <span index="3"></span>
		    </div> -->
		   <!--  <a href="javascript:;" id="prev" class="arrow"><img src="img/l.png"/></a>
		    <a href="javascript:;" id="next" class="arrow"><img src="img/r.png"/></a> -->
		</div>
		
		<ul class="breadnav clearfix">
			<li class="bnav-item"><a href="index.html">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="meishi.html">美食系列</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="javascript:;">小馋猫甜品</a></li>
		</ul>
		<div class="mei-wrap">
			<p class="mei-tit">小馋猫甜品</p>
			<!-- <div class="mei-pic">
				<img src="img/meishi-pic.jpg"/>
			</div> -->
			<div class="mei-txt">
				<p>据考古发现，在古埃及法老拉萨母斯二世的墓中有一组浮雕像，它显示了古埃及蛋糕作坊的劳动情景和蛋糕的各种外形，那时候人们制作蛋糕较为原始，以热石头为“烤箱”，仅用粗面粉，蜂蜜和生果为原料。自从穆斯林向西班牙和欧洲其他地区扩张，以及欧洲东征和东西方商业的发展，蛋糕首先传入意大利，而后又传到法国，英国。</p>
				<p>1699年，法国的糕点在配方中加入了鸡蛋，为制作本日的蛋糕跨进一大步。到了十九世纪，蛋糕制作技术不断进步，特别是德国和美国，运用了发酵粉好化学发酵法，为蛋糕的加工技术臻于完美做出了贡献。</p>
				<p>慕斯是英文mousse的译音，它是一种以奶油，明胶，蛋黄，糖为基本原料的奶冻式的甜点。实际上，慕斯中不含面粉，并算不上是蛋糕。但我们通常会在慕斯层中间和底部加垫蛋糕，成为慕斯蛋糕。这样做可以消除单纯慕斯层的油腻感，给食客带来多层次的味觉体验。</p>
				<p>在口感上来说慕斯是介于冰淇淋与果冻之间的一道奶冻式甜点。但它不像冰淇淋入口迅速融化，而是温柔地慢慢地融化。它又比果冻的Q弹柔软多了一种轻盈的气泡感。关于慕斯确实没有一个非常明确的定义。在打发至轻盈状态的淡奶油或者蛋白霜中加入凝固剂混合均匀，产生浓稠冻状的效果且具有轻柔、入口即化气泡感就是慕斯的基本做法。</p>
				<p>马卡龙，又称作玛卡龙，法式小圆饼，是一种用蛋白，杏仁粉，白砂糖和糖霜制作，并夹有水果酱或奶油的法式甜点。口感丰富，外脆内柔，外观五彩缤纷，精致小巧。马卡龙作为一种法式甜点为人们所熟知。法国大革命期间，天主教受到革命党人打压，神职人员境况不佳。修女们为了生计，偷偷贩卖她们的蛋白杏仁饼，渐渐把蛋白杏仁饼传到了法国。</p>
				<p>马卡龙层次感分明，外酥内软。咬一口，首先尝到的是很薄但酥脆的外壳，接着是又软又绵密的内层。和奶油的质感不同，杏仁饼的韧劲将馅料撑起，又给软腻的馅料增加了嚼劲。一枚完美的马卡龙，表面光滑，无坑疤，在灯光照射下泛着淡淡光泽，饼身下缘还会出现一圈很好看的材料，使得马卡龙呈现出五彩缤纷的颜色。</p>
				<p>生日蛋糕，顾名思义，这个是在生日的时候所品尝的蛋糕，中古时期的欧洲人相信，生日是灵魂最容易被恶魔入侵的日子，所以在生日当天，亲人朋友都会齐聚身边给予祝福，并且送蛋糕以带来好运驱逐恶魔。</p>
				<p>流传到现在，不论是大人或小孩，都可以在生日时，买个漂亮的蛋糕，享受众人给予的祝福。由于疼爱孩子，古希腊人在庆祝他们孩子的生日时，在糕饼上面放很多点亮的小蜡烛，并且加进一项新的活动——吹灭这些燃亮的蜡烛。</p>
				<p>奶酪蛋糕，又叫做起司蛋糕。而蛋糕中所使用的奶酪则起源自阿拉伯。很久以前，一个阿拉伯人在独自横越沙漠前，曾将新鲜牛奶倒进一个羊胃制成的皮囊里。但是当他到达目的地打开皮囊后，却发现里边的牛奶竟然已经变成了一块固体状物体和一汪液状的乳浆。</p><p>阿拉伯人随即便把这项新发现告诉了他的朋友。结果人们发现，本身极易腐败的鲜奶在制成奶酪后不但可以保存很久，牛奶中所含的营养也丝毫未损。之后，欧洲的一位糕点师傅在制作蛋糕时误将酵母菌放入鲜奶中，他没有察觉不妥，仍将这批蛋糕上架出售。结果人们在食用后发现这种蛋糕的味道居然奇好无比。而当时那些放有酵母的蛋糕便是今天已经很常见的奶酪蛋糕了。</p>
				<p>冰淇淋蛋糕，德国人和奥地利人也对冰淇淋情有独钟。巧克力冰淇淋的发明专利应该归属奥地利人。素来喜欢将一些最不搭界的食品拌在一起吃的意大利人发明了多色冰砖，里面加了水果、核桃、甜酒和饼干。是英国移民将生产冰淇淋的配方带到了美国。到了19世纪，由于发明了冰箱，也掌握了采冰和藏冰的办法，冰淇淋得到很大普及。</p>
			     <p>1904年，在美国的圣路易斯举办了冰淇淋国际博览会，会上展出了第一台生产维夫饼干杯子的自动机，于是便出现了称为“冰淇淋蛋糕”的杯装冰淇淋。4年之后，又出现了冰淇淋冰棍。俄罗斯也是从大老早便有了自己生产冰淇淋的配方。还在基辅罗斯时代就开始吃刨得很细的冻奶。俄罗斯正经的冰淇淋是从法国传入，很快便成了贵族餐桌上的美味佳肴。那个时候的菜谱便收入了好些种制作这种美食的配方。比如说，1794年在圣彼得堡出版的一本菜谱中就有制作草莓冰淇淋的配方。今天几乎世界上所有国家都在生产冰淇淋。</p>
			     <p>儿童蛋糕，这款蛋糕是专门为小孩子打造的，这种蛋糕的类型上面会设计各种类型的卡通图案，所以非常受小孩子的喜欢。</p>
			     <p>不过这款蛋糕也相对其他种类的蛋糕大小会相对偏小，毕竟也是因为这是专门适用于小孩子的。
			     发明这款蛋糕的主要原因，也是希望小孩子都能一直保持最开始的那份童真，希望内心里面有一个属于自己的小小世界。</p>
			</div>
			<a href="meishi.html" class="meishi-icon">返回列表页</a>
		</div>

		<div class="foot">
			<div class="foot-wrap">
				<p class="foot-tit">友情链接</p>
				<ul class="foot-link clearfix">
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link6.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link5.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link4.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link3.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link2.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link1.png"/></a>
					</li>
				</ul>
				<div class="copyright">
					<p>CopyRight©2003-2015 All rigt rederved</p>
					<!-- <p>版权所有：贵族食代牛排有限公司  来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p> -->
					<!-- <p>ICP备案号：京ICP备16047255号-3本站信息由会员自主添加，如信息涉及隐私等，网站不承担任何责任！</p> -->
				</div>
			</div>
		</div>
		
	</body>
	<!--jq调用-->
	<script src="js/jquery-1.11.0.js" type="text/javascript"></script>

	<script type="text/javascript">
		//导航当前项切换	
		$(".nav-item").click(function(){
			$(this).parent("li").siblings().children().removeClass("nav-active");		
			//点击对象的父级（li）的兄弟级（li）的子集（a）移除类
			$(this).addClass("nav-active");												
			//给点击对象添加类
		});
	</script>
</html>
