<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>美食系列</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="clearfix nav">
			<a class="logo" href="javascript:;"></a>
			<ul class="clearfix nav-wrap">
				<li><a class="nav-item" href="index.html">首页</a></li>
				<li><a class="nav-item" href="pinpai.html">品牌故事</a></li>
				<li><a class="nav-item nav-active" href="meishi.html">美食系列</a></li>
				<li><a class="nav-item" href="shop.html">店面展示</a></li>
				<li><a class="nav-item" href="news.html">新闻资讯</a></li>
				<li><a class="nav-item" href="about-us.html">关于我们</a></li>
			</ul>
		</div>
		
		<div id="container">
			<!-- <div id="buttons">
		        <span index="1" class="on"></span>
		        <span index="2"></span>
		        <span index="3"></span>
		    </div> -->
		   <!--  <a href="javascript:;" id="prev" class="arrow"><img src="img/l.png"/></a>
		    <a href="javascript:;" id="next" class="arrow"><img src="img/r.png"/></a> -->
		</div>
		
		<ul class="breadnav clearfix">
			<li class="bnav-item"><a href="index.html">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="meishi.html">美食系列</a></li>
			<!-- <li class="bnav-item">&lt;</li> -->
			<!-- <li class="bnav-item"><a href="javascript:;">全部甜品</a></li> -->
		</ul>
		<div class="clearfix table-wrap" id="tab-span">
			<span class="table-item table-active">特色甜品</span>
			<span class="table-item">慕斯蛋糕</span>
			<span class="table-item">马卡龙</span>
			<span class="table-item">经典蛋糕</span>
			<span class="table-item">奶酪蛋糕</span>
			<span class="table-item">冰淇淋蛋糕</span>
			<span class="table-item">儿童蛋糕</span>
			<!-- <div class="search clearfix">
				<input class="inp-txt" type="text" name="address" value="输入关键字" 
				onfocus="if(this.value=='输入关键字'){this.value=''};this.style.color='black';"
				onblur="if(this.value==''||this.value=='输入关键字'){this.value='输入关键字';this.style.color='gray';}" />
				<input class="inp-btn" type="button" name="" id="" value="搜索" />
			</div> -->
		</div>
		<div id="table-div">
			<div class="table-pic table-show clearfix">
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png9.png" alt="" />
					</span>
					<h2 class="ms-tit">巧克力物语</h2>
					<!-- <p class="ms-txt">价格：49元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png10.png" alt="" />
					</span>
					<h2 class="ms-tit">提拉米苏</h2>
					<!-- <p class="ms-txt">价格：12元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap">
					<span class="ms-pic">
						<img src="img/food-png11.png" alt="" />
					</span>
					<h2 class="ms-tit">草莓朵朵</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png12.png" alt="" />
					</span>
					<h2 class="ms-tit">樱花慕斯蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png13.png" alt="" />
					</span>
					<h2 class="ms-tit">树莓蛋糕</h2>
					<!-- <p class="ms-txt">价格：59元/24寸</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap">
					<span class="ms-pic">
						<img src="img/food-png14.png" alt="" />
					</span>
					<h2 class="ms-tit">草莓法式甜点</h2>
					<!-- <p class="ms-txt">价格：39元</p> -->
				</a>
			</div>
			<!-- <div class="table-pic  table-show clearfix">
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png15.png" alt="" />
					</span>
					<h2 class="ms-tit">巧克力慕斯蛋糕</h2>
					<p class="ms-txt">价格：69元</p>
				</a>
			</div> -->
			<div class="table-pic clearfix">
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png16.png" alt="" />
					</span>
					<h2 class="ms-tit">草莓慕斯蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png17.png" alt=""/>
					</span>
					<h2 class="ms-tit">黑森林慕斯蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png18.png" alt=""/>
					</span>
					<h2 class="ms-tit">树莓慕斯蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png19.png" alt=""/>
					</span>
					<h2 class="ms-tit">芒果慕斯蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png20.png" alt=""/>
					</span>
					<h2 class="ms-tit">抹茶慕斯蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png21.png" alt=""/>
					<h2 class="ms-tit">蓝莓慕斯蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>

			</div>
			<div class="table-pic clearfix">
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png22.png" alt=""/>
					</span>
					<h2 class="ms-tit">巧克力马卡龙</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png23.png" alt=""/>
					</span>
					<h2 class="ms-tit">香草味马卡龙</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png24.png" alt=""/>
					</span>
					<h2 class="ms-tit">柠檬味马卡龙</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png25.png" alt=""/>
					</span>
					<h2 class="ms-tit">盆覆子味马卡龙</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png26.png" alt=""/>
					</span>
					<h2 class="ms-tit">开心果味马卡龙</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png27.png" alt="" />
					</span>
					<h2 class="ms-tit">樱花味马卡龙</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
			</div>
			<div class="table-pic clearfix">
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png28.png" alt="" />
					</span>
					<h2 class="ms-tit">圆形奶油蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png29.png" alt="" />
					</span>
					<h2 class="ms-tit">水果蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png30.png" alt="" />
					</span>
					<h2 class="ms-tit">牛乳奶油蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png31.png" alt="" />
					</span>
					<h2 class="ms-tit">香蕉奶油蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png32.png" alt="" />
					</span>
					<h2 class="ms-tit">蓝莓奶油蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<!-- <a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png33.png" alt="" />
					</span>
					<h2 class="ms-tit">草莓慕斯蛋糕</h2>
				 <p class="ms-txt">价格：69元</p> -->
				<!-- </a> --> 

			</div>
			<div class="table-pic clearfix">
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png33.png" alt="" />
					</span>
					<h2 class="ms-tit">原味奶酪蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png34.png" alt="" />
					</span>
					<h2 class="ms-tit">巧克力奶酪蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png35.png" alt="" />
					</span>
					<h2 class="ms-tit">榴莲味奶酪蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png36.png" alt="" />
					</span>
					<h2 class="ms-tit">香草味奶酪蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png37.png" alt="" />
					</span>
					<h2 class="ms-tit">抹茶味奶酪蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<!-- <a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png38.png" alt="" />
					</span>
					<h2 class="ms-tit">奥利奥味奶酪蛋糕</h2>
					 <p class="ms-txt">价格：69元</p> -->
				<!-- </a> --> 

			</div>
			<div class="table-pic clearfix">
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png38.png" alt="" />
					</span>
					<h2 class="ms-tit">蓝莓冰淇淋蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png39.png" alt="" />
					</span>
					<h2 class="ms-tit">榛果草莓冰淇淋蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png40.png" alt="" />
					</span>
					<h2 class="ms-tit">香草冰淇淋蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png41.png" alt="" />
					</span>
					<h2 class="ms-tit">巧克力冰淇淋蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png42.png" alt="" />
					</span>
					<h2 class="ms-tit">柠檬味冰淇淋蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<!-- <a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png43.png" alt="" />
					</span>
					<h2 class="ms-tit">椰香味冰淇淋蛋糕</h2>
					< <p class="ms-txt">价格：69元</p> -->
			<!-- 	</a> --> -->

			</div>
			<div class="table-pic clearfix">
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png44.png" alt="" />
					</span>
					<h2 class="ms-tit">小鸟儿童蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png45.png" alt="" />
					</span>
					<h2 class="ms-tit">海绵宝宝儿童蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png46.png" alt="" />
					</span>
					<h2 class="ms-tit">米老鼠儿童蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png47.png" alt="" />
					</span>
					<h2 class="ms-tit">小汽车儿童蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<a href="meishi-con.html" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="img/food-png48.png" alt="" />
					</span>
					<h2 class="ms-tit">小熊儿童蛋糕</h2>
					<!-- <p class="ms-txt">价格：69元</p> -->
				</a>
				<!-- <a href="meishi-con.html" class="ms-wrap ">
					<span class="ms-pic">
						<img src="img/food-png49.png" alt="" />
					</span>
					<h2 class="ms-tit">草莓慕斯蛋糕</h2>
					< <p class="ms-txt">价格：69元</p> -->
				<!-- </a> -->
 -->
			</div>
			<!-- <ul class="ms-paging clearfix">
				<li><a href="javascript:;" class="pag-item">&lt;</a></li>
				<li><a href="javascript:;" class="pag-item pag-active">1</a></li>
				<li><a href="javascript:;" class="pag-item">2</a></li>
				<li><a href="javascript:;" class="pag-item">3</a></li>
				<li><a href="javascript:;" class="pag-item">4</a></li>
				<li><a href="javascript:;" class="pag-item">&gt;</a></li>
			</ul> -->
		</div>

		<div class="foot">
			<div class="foot-wrap">
				<p class="foot-tit">友情链接</p>
				<ul class="foot-link clearfix">
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link6.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link5.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link4.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link3.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link2.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link1.png"/></a>
					</li>
				</ul>
				<div class="copyright">
					<p>CopyRight©2003-2015 www.91cy.cn All rigt rederved</p>
				<!-- 	<p>版权所有：贵族食代牛排有限公司  来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p> -->
					<p>ICP备案号：京ICP备16047255号-3</p>
				</div>
			</div>
		</div>
		
	</body>
	<!--jq调用-->
	<script src="js/jquery-1.11.0.js" type="text/javascript"></script>

	<script type="text/javascript">
		//导航当前项切换	
		$(".nav-item").click(function(){
			$(this).parent("li").siblings().children().removeClass("nav-active");		
			//点击对象的父级（li）的兄弟级（li）的子集（a）移除类
			$(this).addClass("nav-active");												
			//给点击对象添加类
		});
		//美食系列当前项切换
		$(".table-item").click(function(){
			$(this).siblings().removeClass("table-active");
			$(this).addClass("table-active");
		});
	    //美食系列table切换
	    var oSpan = document.getElementById("tab-span");
			var spans = oSpan.querySelectorAll("span");
			var oDiv  = document.getElementById("table-div");
			var divs = oDiv.querySelectorAll("div");
			var last=spans[0];
			for(var i=0;i<spans.length;i++){
					spans[i].index=i;  //给每一个按钮添加一个自定义属性，存储的是他们对应的索引值；
					spans[i].onclick=function(){
						divs[last.index].style.display="none"; //上一个对应的div，让他隐藏
						divs[this.index].style.display="block"; //当前点击按钮对应的div显示			
						last=this; 	//把上一次点击的对象更新成当前点击的对象
					};
				};
	</script>
</html>
