<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻详情</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="clearfix nav">
			<a class="logo" href="javascript:;"></a>
			<ul class="clearfix nav-wrap">
				<li><a class="nav-item" href="index.html">首页</a></li>
				<li><a class="nav-item" href="pinpai.html">品牌故事</a></li>
				<li><a class="nav-item" href="meishi.html">美食系列</a></li>
				<li><a class="nav-item" href="shop.html">店面展示</a></li>
				<li><a class="nav-item nav-active" href="news.html">新闻资讯</a></li>
				<li><a class="nav-item" href="about-us.html">关于我们</a></li>
			</ul>
		</div>
		
		<div id="container">
			<!-- <div id="buttons">
		        <span index="1" class="on"></span>
		        <span index="2"></span>
		        <span index="3"></span>
		    </div> -->
		    <a href="javascript:;" id="prev" class="arrow"><img src="img/l.png"/></a>
		    <a href="javascript:;" id="next" class="arrow"><img src="img/r.png"/></a>
		</div>
		<div class="news-conwrap">                                                                                            
			<h1 class="news-contit">甜品的故事</h1>
			<p class="news-conitem">甜品的由来</p>
			<p class="news-conitem">甜品源自于埃及，希腊。远在5000多年以前的古埃及，就已经出现了当作供品的点心。</p>
			<p class="news-conitem">常用的原材料包括有面粉，牛奶，黄油，砂糖，奶油，巧克力，生果，果仁等，以高温烘培而成。</p>
			<p class="news-conitem">在欧美洲开始使用砂糖的时候大约是十世纪左右，那个时候，意大利的各个地方就开始用砂糖制作点心，例如用坚果，花生及砂糖做成的点心等。另外，在十三世纪的法国，甜品店就发明了包入杏仁烘培而成的馅饼，从此就将点心称之为糕饼店。</p>
			<p class="news-conitem">提拉米苏</p>
			<p class="news-conitem">它是出自意大利的，不过在当时的短时间内，便就已经迅速席卷了整个城市，这在当时真的是影响及深。当然，放到现在，也是各个甜品店里炙手可热的明星产品。</p>
			<p class="news-conitem">马卡龙</p>
			<p class="news-conitem">据说在16世纪的时候，一位贵族的女儿嫁给了当时的法国国王，从而患上了思乡病，于是，当时做糕点的师傅就是做出了马卡龙来博取了这位贵族女儿的欢心。所以，到后来，就流传着这样一句话：不会做马卡龙的就不能称为一个真正的甜点大师。</p>
			<p class="news-conitem">慕斯蛋糕</p>
			<p class="news-conitem">这个最早之前是法国巴黎的美食，当时那些甜点大师们为了做出这个就在奶油中加入了稳定作用的东西，所以后来这款蛋糕在外型，色泽，结构，口味都发生了改变，后来也被人称为这是甜点里面的极品</p>
			<p class="news-conitem">巧克力蛋糕</p>
			<p class="news-conitem">它源自于法国的墨西哥，主要来源是西方的巧克力。也被人们称之为“幸福食品”。</p>
			<p class="news-conitem">根据科学研究表明，巧克力中含有多酚物质，该物质在水果、蔬菜、酒、茶里面也都存在，这对人体健康也有诸多好处。普通人如果每天食用大概两百克的巧克力的话，能让人的抗氧化能力增加，可有效的预防胆固醇的升高，从而减少心患血管疾病的可能。
			</p>
			<p class="news-conitem">法式甜点</p>
			<p class="news-conitem">法式甜点以天下闻名，是一款有着百年历史的甜点，每款产品的味道，质地，冷热，色彩都有着反差融合。能碰撞出让你惊艳的口味，留下余韵袅袅。它不单单是靠那外表打动您，而是把各种不同，甚至是将互相冲突的味道巧妙的融合在了一起。</p>
			<p class="news-conitem">奶酪蛋糕</p>
			<p class="news-conitem">十九世纪中期，奶油奶酪问世，后面就将奶酪和蛋糕融到一起，也就成为了现在所说的奶酪蛋糕。一般来说，奶酪蛋糕的整体面层略厚一点，这也根据常用的奶酪和具体方法不一样，奶酪蛋糕的外型和口感能够有很多的改变，有的较为绵密，有的较为蓬松，口味多变，色调也更为靓丽。</p>
			<p class="news-conitem">经典蛋糕</p>
			<p class="news-conitem">最早先是用几样简单的材料所做出来的，这些蛋糕是古老宗教神话与奇迹式的象征。早期的经贸路线是异国香料由远东向北输入，坚果、花露水、柑橘类水果与无花果从中东引进，甘蔗则从东方国家与南方国家进口。在欧洲黑暗时代期间，这些珍奇的原料只有伴侣与贵族才能拥有，而他们的糕点创作则是蜂蜜甜饼以及扁平硬饼干之类的东西。</p>
			<p class="news-conitem">生日蛋糕</p>
			<p class="news-conitem">中古时期的欧洲人相信，生日是灵魂最容易被恶魔入侵的日子，所以在生日当天，亲人朋友都会齐聚身边给予祝福，并且送蛋糕以带来好运驱逐恶魔。生日蛋糕，最初是只有国王才有资格拥有的，流传到现在，不论是大人或小孩，都可以在生日时，买个漂亮的蛋糕，享受众人给予的祝福。</p>
		</div>
			<div class="foot">
			<div class="foot-wrap">
				<p class="foot-tit">友情链接</p>
				<ul class="foot-link clearfix">
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link6.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link5.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link4.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link3.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link2.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link1.png"/></a>
					</li>
				</ul>
				<div class="copyright">
					<p>CopyRight©2003-2015 www.91cy.cn All rigt rederved</p>
					<p>版权所有：贵族食代牛排有限公司  来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
					<p>ICP备案号：京ICP备16047255号-3本站信息由会员自主添加，如信息涉及隐私等，网站不承担任何责任！</p>
				</div>
			</div>
		</div>
		
	</body>
	<!--jq调用-->
	<script src="js/jquery-1.11.0.js" type="text/javascript"></script>
	<script type="text/javascript">
		//导航当前项切换	
		$(".nav-item").click(function(){
			$(this).parent("li").siblings().children().removeClass("nav-active");		
			//点击对象的父级（li）的兄弟级（li）的子集（a）移除类
			$(this).addClass("nav-active");												
			//给点击对象添加类
		});
		
	</script>
</html>
