<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻资讯</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="clearfix nav">
			<a class="logo" href="javascript:;"></a>
			<ul class="clearfix nav-wrap">
				<li><a class="nav-item" href="index.html">首页</a></li>
				<li><a class="nav-item" href="pinpai.html">品牌故事</a></li>
				<li><a class="nav-item" href="meishi.html">美食系列</a></li>
				<li><a class="nav-item" href="shop.html">店面展示</a></li>
				<li><a class="nav-item nav-active" href="news.html">新闻动态</a></li>
				<li><a class="nav-item" href="about-us.html">关于我们</a></li>
			</ul>
		</div>
		
		<div id="container">
			<!-- <div id="buttons">
		        <span index="1" class="on"></span>
		        <span index="2"></span>
		        <span index="3"></span>
		    </div> -->
		    <!-- <a href="javascript:;" id="prev" class="arrow"><img src="img/l.png"/></a>
		    <a href="javascript:;" id="next" class="arrow"><img src="img/r.png"/></a> -->
		</div>
		
		<ul class="breadnav clearfix">
			<li class="bnav-item"><a href="index.html">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="news.html">新闻动态</a></li>
		</ul>
		<div class="newslist-wrap">
			<p class="newslist-tit">新闻动态</p>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="img/food-png49.png"/>
				</dt>
				<dd class="newslist-txt">
					<a href="news-con.html" class="newslist-font24">小馋猫甜品店——毕业季！</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<!-- <p class="newslist-time">2016.12.25</p> -->
						</li>
						<li class="newslist-li">
							<a href="news-con.html" class="newslist-con">人生跑道因为有了拐角，才值得被期待，将来有太多为止的甜，我想去尝试。毕业季不仅是意味着学业的结束与身份的转换。迷茫与焦虑时常伴随着职场新人，渴望自己的努力可以被人看到，可现实却是一次又一次的打击，好姐妹一直在身边的鼓励，让我们相信自己不再是孤独前行，笃定努力了就会有收获。我们不应该是这样的，我们应该将职场比作是一场长跑，给予职场新人满满的鼓励与关怀，诉说“跑下去，会有人看见你”，因为拐弯处才能看见更好的你。一起吃过的哭，才是最想回味的甜，将来有太多未知的甜，等待你去尝试，人生跑道因为有拐角，所以才值得被期待。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<span class="news-line">
				<img src="img/news-line.png"/>
			</span>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="img/food-png50.png"/>
				</dt>
				<dd class="newslist-txt">
					<a href="news-con.html" class="newslist-font24">小馋猫甜品店——聚焦做甜品，还能走多远？</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
						<!-- 	<p class="newslist-time">2016.12.25</p> -->
						</li>
						<li class="newslist-li">
							<a href="news-con.html" class="newslist-con">甜品的出现，使大家的生活变得越来越丰富多彩。当消费者们在品尝甜品的时候，就会消除一天的疲劳，增加了生活上的乐趣，因此甜品在市场上的需求越来越大。甜品加盟店的淡旺季是整个行业的淡旺季，不同于旺季不错的营销场面及销售渠道，淡季稍微薄弱，甚至会有一些甜品店会选择在淡季的时候关门歇业，待到旺季开始重新营业。因此投资者要在其他店铺歇业的时候，要抢占市场上的终端资源，这样才能提高甜品加盟店的知名度，从而增加它在我们生活中出现的几率，使甜品加盟店在淡季的时候也能脱颖而出，不会出现甜品加盟店生意萧条的情况。甜品店在淡季的时候虽说开展营销方法的效果可能并不会很好，但却并非不可宣传营销，在淡季的时候还是会有一些适宜的特定的节日，可根据该节日进行策划活动营销促销，这样可以迅速提高甜品加盟店的人气，从而提高甜品加盟店的营业收入。在搞活动的时候，千万不要太千篇一律了，要有自己店铺的特色，这样才能使促销活动更加具有吸引力，刺激更多的顾客进行消费，达到活动营销的目的。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<span class="news-line">
				<img src="img/news-line.png"/>
			</span>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="pic/food-png51.png"/>
				</dt>
				<dd class="newslist-txt">
					<a href="news-con.html" class="newslist-font24">小馋猫甜品店——少女心炸裂的甜品店 其独有的印记赋予人恋爱的感觉</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<!-- <p class="newslist-time">2016.12.25</p> -->
						</li>
						<li class="newslist-li">
							<a href="news-con.html" class="newslist-con">有人说：“女生天生爱甜品，就像她们爱听甜言蜜语”。世界上的女生，或可爱，或优雅，或温柔，就如同甜品一样，有着独一无二的韵味。其实爱甜点的人无关年龄，无关性别，保持对美好的事物充满向往，那份心情就像初恋的感觉，甜甜的，纯纯的。　人都是视觉系动物，对好看的东西总是心生爱慕。对于铺满少女心的甜品店而言，无疑不是一处令人心神向往的好去处。这类甜品店多位于购物中心内，其在装修的整体色彩上不能有冲击眼球的颜色，多以温暖的粉色或暖色系为主，不仅给消费者一种暖暖的感觉，也充满了浪漫的氛围。因为颜色可以激发人的感情，产生对比效果，使得我们看到的画面会更加美丽。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<span class="news-line">
				<img src="img/news-line.png"/>
			</span>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="pic/food-png52.png"/>
				</dt>
				<dd class="newslist-txt">
					<a href="news-con.html" class="newslist-font24">小馋猫甜品店——独具匠心的“惊人蛋糕”</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<!-- <p class="newslist-time">2016.12.25</p> -->
						</li>
						<li class="newslist-li">
							<a href="news-con.html" class="newslist-con">麦凯里制作的第一件蛋糕艺术品是卡通牛的头部形象。他制作的每一块蛋糕都别出心裁、惟妙惟肖，例如栩栩如生的沙皮狗、张牙舞爪的恐龙、连根的槽牙、装满钞票的保险柜等。《每日邮报》展示的蛋糕保险柜图片中，大把美元从保险柜中逸出，飘飘洒洒地落到桌子上。第一眼看到它的人根本意识不到这是个蛋糕。麦凯里说，最具挑战性的当属他给迪士尼公司制作的迪士尼加州大酒店模型。整座“酒店”长度超过3米，展现出实物中的每一个细节，相似度极高。他说：“制作难点在于塑造弓形、把握弓形的角度。用可食原料制作出这样伟大的建筑物实属壮举。” </a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<span class="news-line">
				<img src="img/news-line.png"/>
			</span>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="pic/food-png53.png"/>
				</dt>
				<dd class="newslist-txt">
					<a href="news-con.html" class="newslist-font24">小馋猫甜品店——适当营业时间</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<!-- <p class="newslist-time">2016.12.25</p> -->
						</li>
						<li class="newslist-li">
							<a href="news-con.html" class="newslist-con">对于小馋猫甜品店的经营来说需要合理安排人力资源，一日三餐是吃饭的高峰期，一般这三个时间段是人特别多的。在此基础上甜品加盟店如何增加客流?首先要对甜品加盟店的经营管理做充分的分析了解，把握好顾客进店消费的时间，这样才能在高峰期时候及时供应出甜品，缩短顾客的等待时间，从而增加甜品加盟店的翻台率，提高甜品加盟店铺的营业收入。以上就是甜品加盟店应对淡季的策略介绍，希望能够帮助到各位投资者们。其实投资者做出相应的变化，才能顺应顾客的需求变化，从而吸引更多顾客们的关注，就不会出现淡季没有生意可做的情况。创业并不是一帆风顺的，投资者一定要良好的忍耐力和坚韧不拔的精神，这样才能尽快实现自己的目标。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<!-- <ul class="shop-paging clearfix">
				<li><a href="javascript:;" class="pag-item">&lt;</a></li>
				<li><a href="news.html" class="pag-item pag-active">1</a></li>
				<li><a href="javascript:;" class="pag-item">2</a></li>
				<li><a href="javascript:;" class="pag-item">3</a></li>
				<li><a href="javascript:;" class="pag-item">4</a></li>
				<li><a href="javascript:;" class="pag-item">&gt;</a></li>
			</ul> -->
		</div>
		<div class="foot">
			<div class="foot-wrap">
				<p class="foot-tit">友情链接</p>
				<ul class="foot-link clearfix">
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link6.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link5.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link4.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link3.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link2.png"/></a>
					</li>
					<li class="foot-pic">
						<a href="javascript:;"><img src="img/link1.png"/></a>
					</li>
				</ul>
				<div class="copyright">
					<p>CopyRight©2003-2015 All rigt rederved</p>
					<!-- <p>版权所有：贵族食代牛排有限公司  来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p> -->
					<p>ICP备案号：京ICP备16047255号</p>
				</div>
			</div>
		</div>
		
	</body>
	<!--jq调用-->
	<script src="js/jquery-1.11.0.js" type="text/javascript"></script>
	<script type="text/javascript">
		//导航当前项切换	
		$(".nav-item").click(function(){
			$(this).parent("li").siblings().children().removeClass("nav-active");		
			//点击对象的父级（li）的兄弟级（li）的子集（a）移除类
			$(this).addClass("nav-active");												
			//给点击对象添加类
		});
	</script>
</html>
