<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class='container history'>
        <div class='logo'>
            <img src="./images/logo.jpeg" alt="">
        </div>
        <div class='menu'>
            <ul class='menu-list clearfix'>
                <li>
                    <a href="./index.html">首页</a>
                </li>
                <li>
                    <a href="./news.html">新闻</a>
                </li>
                <li>
                    <a href="./history.html">党史</a>
                </li>
            </ul>
        </div>
    <div class='banner'>
        <img src="./images/bannder.jpeg" alt="" width="100%">
    </div>
    <div class='content clearfix'>
        <div class='history-left'>
            <div class='carousel'>
                <div class='bd'>
                    <ul>
                        <li>
                            <img src="./images/c1.jpeg" alt="">
                        </li>
                        <li>
                            <img src="./images/c2.jpeg" alt="">
                        </li>
                        <li>
                            <img src="./images/c3.jpeg" alt="">
                        </li>
                        <li>
                            <img src="./images/c4.jpeg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='history-right'>
            <h3>热门新闻</h3>
            <ul>
                <li>
                    <a href="#">习近平会见建党100周年庆祝活动筹办工作各方...</a>
                </li>
                <li>
                    <a href="#">庆祝建党100周年大会 习近平重要讲话</a>
                </li>
                <li>
                    <a href="#">习近平在“七一勋章”颁授仪式上重要讲话</a>
                </li>
                <li>
                    <a href="#">习近平等观看文艺演出《伟大征程》 </a>
                </li>
                <li>
                    <a href="#">党内统计公报：党员总数9514.8万名</a>
                </li>
                <li>
                    <a href="#">《中国共产党的历史使命与行动价值》发布</a>
                </li>
                <li>
                    <a href="#">中国共产党一百年大事记</a>
                </li>
                <li>
                    <a href="#">党的十八大以来基层党建工作综述</a>
                </li>
                <li>
                    <a href="#">百年来 加强党的组织建设历程回顾</a>
                </li>
            </ul>
        </div>
    </div>
    <div class='footer'>
        版权所有
    </div>
    </div>
    <script src='./js/jquery1.42.min.js'></script>
    <script src='./js/jquery.SuperSlide.2.1.3.js'></script>
    <script>
        $(function(){
            $('.carousel').slide({mainCell:".bd ul",autoPlay:true});
        })
    </script>
</body>
</html>