<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class='container news'>
        <div class='logo'>
            <img src="./images/logo.jpeg" alt="">
        </div>
        <div class='menu'>
            <ul class='menu-list clearfix'>
                <li>
                    <a href="./index.html">首页</a>
                </li>
                <li>
                    <a href="./news.html">新闻</a>
                </li>
                <li>
                    <a href="./history.html">党史</a>
                </li>
            </ul>
        </div>
    <div class='banner'>
        <img src="./images/bannder.jpeg" alt="" width="100%">
    </div>
    <div class='content'>
        <h1>中国共产党大事记</h1>
        <p>　　1840年以后，由于西方列强的入侵，由于封建统治的腐败，中国逐渐成为半殖民地半封建社会。实现中华民族伟大复兴成为全民族最伟大的梦想；争取民族独立、人民解放和实现国家富强、人民幸福，成为中国人民的历史任务。许多献身于民族进步事业的爱国先驱，前赴后继、不懈探索。太平天国运动、洋务运动、戊戌维新运动、义和团运动，一次又一次地失败了。1911年10月，孙中山领导的辛亥革命，推翻了清王朝统治，建立了中华民国，结束了统治中国两千多年的君主专制制度，开创了完全意义上的近代民族民主革命，但是仍然没有改变旧中国半殖民地半封建的社会性质，没有改变中国人民的悲惨命运，没有完成实现民族独立、人民解放的历史任务。中国期待着新的社会力量开辟新的救国救民道路。1915年兴起的新文化运动，在中国社会掀起思想解放的潮流。1917年俄国十月革命给东方被压迫民族以巨大鼓舞。中国一批先进分子开始选择马克思主义。同时，中国工人阶级伴随民族资本主义经济的发展而迅速壮大。一场新的人民大革命的兴起，已不可避免。</p>
        <p>　　1919年5月4日　由于中国在巴黎和会上的外交失败，北京学生3000余人到天安门前集会，游行示威，掀起彻底反帝反封建的爱国革命运动（五四运动）。6月5日起，上海工人罢工声援学生，随后罢工、罢课、罢市迅速扩展到20多个省区、100多个城市。中国工人阶级开始以独立的姿态登上政治舞台。迫于人民群众的压力，中国代表没有出席6月28日的巴黎和约签字仪式。五四运动后，传播马克思主义的文章、图书大量出现。李大钊、陈独秀、李达、李汉俊、毛泽东、何叔衡、董必武、陈潭秋、邓中夏、何孟雄、高君宇、王尽美、邓恩铭等具有初步共产主义思想的先进分子开始在工人群众中宣传马克思主义。五四运动是近代中国革命史上具有划时代意义的事件，标志着新民主主义革命的伟大开端。五四运动以彻底反帝反封建的革命性、追求救国强国真理的进步性、各族各界群众积极参与的广泛性，推动了中国社会进步，促进了马克思主义在中国的广泛传播，促进了马克思主义同中国工人运动的结合，为中国共产党成立做了思想上干部上的准备，在近代以来中华民族追求民族独立和发展进步的历史进程中具有里程碑意义。五四运动孕育了以爱国、进步、民主、科学为主要内容的伟大五四精神，其核心是爱国主义精神。</p>
        <p>　　1920年3月　李大钊在北京大学组织成立马克思学说研究会。5月，陈独秀在上海发起组织马克思主义研究会。上海、北京的研究会同湖北、湖南、浙江、山东、广东、天津等地及海外的先进分子逐步建立联系，进一步促进了马克思主义的传播。8月，陈独秀等在上海成立共产党早期组织。这实际上是中国共产党的发起组织，是各地共产主义者进行建党活动的联络中心。同月，陈望道翻译的《共产党宣言》中文全译本出版。10月，李大钊等在北京成立共产党早期组织。到1921年春，武汉、长沙、济南、广州等地及旅日、旅法华人中陆续成立共产党早期组织。</p>
    </div>
    <div class='footer'>
        版权所有
    </div>
    </div>
</body>
</html>