<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Homework</title>
   <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mystyle.css">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.js"></script>
    <![ednif]-->
    <style>
        ul.menu li:hover {
            background-color: transparent;
        }
    </style>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="0" style="height: 200px;overflow: auto;position: relative;">
    <!--   导航-->
    
    <div role="navigation">
        <div class="navbar navbar-fixed-top" id="navbar">
                   <div class="navbar-header">
               <button type="button" class="navbar-toggle btn btn-lg" data-toggle="collapse" data-target="#col" >
                   <span class="sr-only">切换导航</span>
                 
                   <span class="glyphicon glyphicon-menu-hamburger" style="color: white;"></span>
               </button>
              
           </div>
               
            <div class="container " >
      
                <div class="row  collapse navbar-collapse"  id="col" >
                    <div class="col-md-4">
                        <ul class="menu  nav">
                            <li class="active"><a href="#">主页</a></li>
                            <li class=""><a href="#person">个人简介</a></li>
                            <li class=""><a href="#score">成绩单</a></li>
                            <li class=""><a href="#award">获奖经历</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 navbar-brand">
                        <span class="dis"><a href="#">LINDA'S WEBSITE</a></span>
                    </div>
                    <div class="col-md-4">
                        <ul class="menu nav ">
                            <li><a href="#work">作品</a></li>
                            <li><a href="#like">个人爱好</a></li>
                            <li><a href="#contact">联系方式</a></li>
                            <li><a href="#other">其它</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="wrapper">
        <!--    首页-->
        <div class="container-bg img-responsive">
            <div class="container-fluid">
                <div class="row">
                    <div class="intro" id="home">
                    </div>
                </div>
                <div class="container">
                    <div class="row  ah1">
                        <span>GLITTER</span>
                        <div class="text-center">
                            <button class="btn btn-default" type="submit"><a href="#h2" style="color: white;">START</a></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container" id="person">
            <div class="row row-me">
                <h2 class="h2me" id="h2">关于我</h2>
                <img src="image/head.jpg" alt="" class="img-head" >
              
                <div class="col-md-4 tabb">
                    <table class="ble">
                        <tr>
                            <td>姓名</td>
                            <td>刘玲俊</td>
                        </tr>
                        <tr>
                            <td>性别</td>
                            <td>女</td>
                        </tr>
                        <tr>
                            <td>出生日期</td>
                            <td>1998/01/24</td>
                        </tr>
                        <tr>
                            <td>家庭住址</td>
                            <td>辽宁省抚顺市</td>
                        </tr>
                        <tr>
                            <td>毕业院校</td>
                            <td>大连东软信息学院</td>
                        </tr>
                        <tr>
                            <td>就读专业</td>
                            <td>数字媒体技术</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="container-fluid">
                <dl class="dll text-center">
                    <dd>&frasl;&nbsp;&nbsp;生活&nbsp;&nbsp;&frasl;</dd>
                    <dd>&frasl;&nbsp;&nbsp;不只有眼前的苟且&nbsp;&nbsp;&frasl;</dd>
                    <dd>&frasl;&nbsp;&nbsp;更有无尽的学习&nbsp;&nbsp;&frasl;</dd>
                    <dd>&frasl;&nbsp;&nbsp;沉迷学习&nbsp;&nbsp;&frasl;</dd>
                    <dd>&frasl;&nbsp;&nbsp;却没有瘦&nbsp;&nbsp;&frasl;</dd>
                </dl>
            </div>


        </div>

        <!--  成绩单     -->


        <div class="container score" id="score">

            <div class="row rtb">
                <h2 class="h2me tabhe">成绩单</h2>
                <table class="table tabl table-bordered table-hover">
                    <thead>
                        <tr>2015-2016学年第一学期</tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>高等数学上</th>
                            <td>98</td>
                            <th>心理健康</th>
                            <td>95</td>
                            <th>形势与政策</th>
                            <td>89</td>
                        </tr>
                        <tr>
                            <th>大学英语</th>
                            <td>93</td>
                            <th>数字图像处理</th>
                            <td>94</td>
                            <th>美术基础</th>
                            <td>90</td>
                        </tr>
                        <tr>
                            <th>用户体验设计</th>
                            <td>92</td>
                            <th>专业导引</th>
                            <td>86</td>
                            <th>思修</th>
                            <td>89</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table tabl table-bordered table-hover">
                    <thead>
                        <tr>2015-2016学年第二学期</tr>
                        <tbody>
                            <tr>
                                <th>高等数学下</th>
                                <td>95</td>
                                <th>线性代数</th>
                                <td>94</td>
                                <th>马原</th>
                                <td>91</td>
                            </tr>
                            <tr>
                                <th>沟通与演讲</th>
                                <td>95</td>
                                <th>体育</th>
                                <td>96</td>
                                <th>界面设计</th>
                                <td>93</td>
                            </tr>
                            <tr>
                                <th>C语言</th>
                                <td>89</td>
                                <th>计算机动画</th>
                                <td>80</td>
                                <th>花艺与茶道</th>
                                <td>92</td>
                            </tr>
                        </tbody>
                </table>

                <table class="table tabl table-bordered table-hover">
                    <thead>
                        <tr>2016-2017学年第一学期</tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>概率</th>
                            <td>97</td>
                            <th>JS</th>
                            <td>92</td>
                            <th>计算机网络</th>
                            <td>84</td>
                        </tr>

                    </tbody>
                </table>

                <table class="table tabl table-bordered table-hover">
                    <thead>
                        <tr>2016-2017学年第二学期</tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>商业计划</th>
                            <td>97</td>
                            <th>体育</th>
                            <td>92</td>
                            <th>游戏引擎基础</th>
                            <td>94</td>
                        </tr>
                        <tr>
                            <th>游戏物理学</th>
                            <td>94</td>
                            <th>口语</th>
                            <td>88</td>
                            <th>Web设计</th>
                            <td>85</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table tabl table-bordered table-hover">
                    <thead>
                        <tr>实践学期</tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>产品原型开发</th>
                            <td>91</td>
                            <th>数字游戏开发</th>
                            <td>95</td>

                        </tr>

                    </tbody>
                </table>
            </div>


        </div>

        <!--  获奖经历     -->

        <div class="container" id="award">
            <div class="row reward">
                <h2 class="h2me">获奖经历</h2>
                <div class="col-md-6 award">
                    <span class="date">2015</span>
                    <span class="awatext">校级计算机文字录入竞赛一等奖</span>
                </div>
                <div class="col-md-6 award">
                    <span class="date">2015&nbsp;&#45;&nbsp;2016</span>
                    <span class="awatext">优秀团员</span>
                </div>
                <div class="col-md-6 award">
                    <span class="date">2015&nbsp;&#45;&nbsp;2016</span>
                    <span class="awatext">东软·亿达二等奖学金</span>
                </div>
                <div class="col-md-6 award">
                    <span class="date">2016&nbsp;&#45;&nbsp;2017</span>
                    <span class="awatext">东软控股二等奖学金</span>
                </div>
            </div>
        </div>

        <!--  个人作品     -->

        <div class="container ">
            <div class="row work" id="work">
                <div class="row wkt">
                    <div class="col-md-3">
                        <hr> </div>
                    <div class="col-md-2 text-center ">
                        <h3>个人作品</h3>
                    </div>
                    <div class="col-md-3">
                        <hr> </div>
                </div>
                <div class="col-md-4"><img src="image/wk1.jpg" alt=""></div>
                <div class="col-md-4"><img src="image/wk4.jpg" alt=""></div>
                <div class="col-md-4"><img src="image/wk2%20(2).jpg" alt=""></div>
                <div class="col-md-4"><img src="image/wk3.png" alt=""></div>
                <div class="col-md-4"><img src="image/wk5.png" alt=""></div>
                <div class="col-md-4"><img src="image/wk6.png" alt=""></div>

            </div>
        </div>

        <!--  视频     -->
        <div class="container vide">
            <video src="video.mp4" class="video" controls="controls"></video>
        </div>


        <!--  个人爱好     -->
<div class="container">
    <div class="row" style="padding-top: 30%" id="like">
        <div class="h2me" >个人爱好</div>
        <div class="text-center">
          <ul style="list-style-type: none;font-size: 130%;line-height: 200%;padding-top: 15%;" >
              <li>发现生活中的所有美好</li>
              <li>寻找各种好玩的东西让自己心情舒畅</li>
              <li>绘画是一生挚爱</li>
              <li>梦想着学会一口流利的英音</li>
              <li>和喜欢的人一起去日本看烟火</li>
              <li>随心所欲 享受人生</li>
          </ul>
        </div>
    </div>
</div>

        <!--   联系方式-->
        <div class="container  method">
            <div class="row" id="contact">
                <hr class="divide">
                <h3 class="text-center ">联系方式 </h3>
                <hr class="divide">
                <div class="row conta">
                   <span class="word">QQ 2947873981</span>
                   <span class="word">Wechat hictoo</span>
                    <img src="image/er1.jpg" alt="" class="er">
                    <img src="image/er2.jpg" alt="" class="er">
                    <img src="image/er3.jpg" alt="" class="er">
                    <div class="col-md-4">
                        <h5>电话:</h5>
                        <div>18742527701</div>
                        <h5>Email:</h5>
                        <div>
                            <a href="mailto:2947873981@qq.com">2947873981@qq.com</a>
                        </div>
                        <h5>地址:</h5>
                        <div>
                            辽宁省大连市甘井子区
                            <br> 软件园路8号大连东软信息学院
                        </div>
                    </div>
                </div>
               <div class="text-center">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2::52" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
                </div>
            </div>


            <div class="container contant">

                <hr class="divide">
                <h3 class="text-center">与我联系

                </h3>
                <hr class="divide">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="text-heading">姓名</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="text-heading">邮箱</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="col-lg-4">
                            <label class="text-heading">电话</label>
                            <input type="tel" class="form-control">
                        </div>

                        <div class="col-lg-12">
                            <label class="text-heading">留言</label>
                            <textarea class="form-control" rows="6"></textarea>
                        </div>

                    </div>
       
                </form>
            </div>
            <div class="container">

                <div class="col-md-12" style="text-align: right;">
                    <button type="button" class="btn btn-primary">Submit</button>

                </div>
            </div>


            <!-- /.container -->

            <div>
                <footer class="text-center">
                    <div class="container">
                        <p>Copyright &copy;Linda's Website 2017</p>
                    </div>
                </footer>

            </div>
        </div>



    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
</body>

</html>
