
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>荣誉资质_西餐咖啡餐饮类网站模板</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="./favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=1080">
<link href="./template/pc/skin/css/master.css" rel="stylesheet">
<link href="./template/pc/skin/css/style.css" rel="stylesheet">
<link href="./template/pc/skin/css/subpage.css" rel="stylesheet">
<link href="./template/pc/skin/css/common.css" rel="stylesheet">
<script src="./template/pc/skin/js/jquery.js"></script>
<script src="./template/pc/skin/js/jquery.superslide.2.1.1.js"></script>
<script src="./template/pc/skin/js/form.js"></script>
<script src="./template/pc/skin/js/common.js"></script>
<script src="./template/pc/skin/js/jquery.validator.js"></script>
<script src="./template/pc/skin/js/zh_cn.js"></script>
</head>
<body>
<!--页头开始-->

<div class="header theme_color1">
  <div class="main">
    <div class="logo"><a href="https://demoall.yiyocms.com./" title="西餐咖啡餐饮类网站模板"> <img src="./public/upload/system/2018/05/30/16103ab2858dc6ddaca8da10331356ac.png" alt="西餐咖啡餐饮类网站模板" width="465" height="97"/></a></div>
    <div class="tel">0898-66668888</div>
    <!--搜索栏开始-->
    <div class="search_btn"><img src="./template/pc/skin/images/ssbtn.png"/></div>
    <div class="search01">
      <form class="sidebar-search" method="get" action="./search.html">
        <input type="hidden" name="channel" value="" />
        <input type="hidden" name="typeid" value="" />
        <div class="search02">
          <input class="search03" type="text" name="keywords" value="请输入关键字" onfocus="if(this.value==defaultValue)this.value=''" onblur="if(this.value=='')this.value=defaultValue">
        </div>
        <div class="search02">
          <input name="submit" type="submit" class="search04" value="搜索" />
        </div>
      </form>
    </div>
    <script>
    	$(function(){
			$('.jslct dl dd').click(function(){
				$(this).closest('form').attr('action',$(this).attr('value'));
			});
			///
			$(".search_btn").click(function(){
				$(".search01").slideToggle("slow");
			});////
		})
</script> 
    <!--搜索栏结束--> 
  </div>
</div>
<!--页头结束--> 

<!--导航开始-->
<div class="g_nav">
  <div class="g_nav01">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="ihome"><a href="https://demoall.yiyocms.com./" title="网站首页">网站首页</a></td>
          <td><a href="./about.html">关于我们</a>
            <div class="nav_tan"> </div>
          </td>
          <td><a href="./product.html">产品中心</a>
            <div class="nav_tan">
              <a href="./hongbeitiandian.html">烘焙甜点</a>
              <a href="./yishikafei.html">意式咖啡</a>
              <a href="./qingshuangyinpin.html">清爽饮品</a>
              <a href="./shangwutaocan.html">商务套餐</a>
            </div>
          </td>
          <td><a href="./news.html">新闻动态</a>
            <div class="nav_tan"> </div>
          </td>
          <td><a href="./case.html">成功案例</a>
            <div class="nav_tan"> </div>
          </td>
          <td><a href="./honor.html">荣誉资质</a>
            <div class="nav_tan"> </div>
          </td>
          <td><a href="./message.html">在线留言</a>
            <div class="nav_tan"> </div>
          </td>
          <td><a href="./contact.html">联系我们</a>
            <div class="nav_tan"> </div>
          </td>
        </tr>
      </table>
  </div>
</div>
<!--导航结束-->
<div class="clear"></div>
<!--幻灯片大图开始-->
<div id="slideBox" class="slideBox">
  <div class="bd">
    <ul>
            <li style="background: url(./public/upload/other/2018/05/30/c9e907f749f6d2948723f53f6f3b5f94.jpg) center center no-repeat;"><a href=""><img src="./template/pc/skin/images/no.gif"/></a></li>
            <li style="background: url(./public/upload/other/2018/05/30/284b25d2adcd0f3038d46e4628beec9d.jpg) center center no-repeat;"><a href="#"><img src="./template/pc/skin/images/no.gif"/></a></li>
            <li style="background: url(./public/upload/other/2018/05/30/823dd77a5a03da1e634eb73ca4d907bb.jpg) center center no-repeat;"><a href="#"><img src="./template/pc/skin/images/no.gif"/></a></li>
          </ul>
  </div>
  <div class="hd">
    <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
  </div>
  <a href="javascript:void(0)" class="prev"></a> <a href="javascript:void(0)" class="next"></a> </div>
<script src="./template/pc/skin/js/banner.js"></script> 
<!--幻灯片大图结束--> 
<div class="product sub_pro"> <div class="sub_pro01"> 
  <!--产品分类开始--> 
    <div class="sub_pro02">
    <div class="product07"><b>产品中心</b></div>
    <div class="sidenav">
      <ul>
                <li><a href="./hongbeitiandian/" title="烘焙甜点" class="sidenava ">
          <p>烘焙甜点</p>
          </a> </li>
                <li><a href="./yishikafei/" title="意式咖啡" class="sidenava ">
          <p>意式咖啡</p>
          </a> </li>
                <li><a href="./qingshuangyinpin/" title="清爽饮品" class="sidenava ">
          <p>清爽饮品</p>
          </a> </li>
                <li><a href="./shangwutaocan/" title="商务套餐" class="sidenava ">
          <p>商务套餐</p>
          </a> </li>
              </ul>
    </div>
  </div>
   
  
  <!--产品分类结束--> 
  
  <!--联系我们开始-->
  <div class="sub_lx">
    <div class="sub_lx01">咨询热线<br>
      0898-66668888<br>
      地址：海南省海口市<br>
      邮箱：admin@youweb.com</div>
  </div>
  <!--联系我们结束--> 
</div>

  <div class="product02">
    <div class="content_com_title">
      <h2>荣誉资质</h2>
      <div class="bread">当前位置： <a href='./' class='crumb'>首页</a> &gt; <a href='./honor/'>荣誉资质</a></div>
    </div>
    <!--产品列表开始-->
    <div class="content">
      <ul class="product3">
                <li>
          <div><a href="./honor/54.html" title="荣誉证书四"><img src="./public/upload/news/2018/05/30/73d0ba5a64d54b72203da23832d88383.jpg" alt="荣誉证书四"></a></div>
          <p><a href="./honor/54.html" title="荣誉证书四" class="pg-color" >荣誉证书四</a></p>
        </li>
                <li>
          <div><a href="./honor/53.html" title="荣誉证书三"><img src="./public/upload/news/2018/05/30/d437881340f73fed13071709b34eeb9c.jpg" alt="荣誉证书三"></a></div>
          <p><a href="./honor/53.html" title="荣誉证书三" class="pg-color" >荣誉证书三</a></p>
        </li>
                <li>
          <div><a href="./honor/52.html" title="荣誉证书二"><img src="./public/upload/news/2018/05/30/2d2a87158ca3fe2351c40d365e00c4ee.jpg" alt="荣誉证书二"></a></div>
          <p><a href="./honor/52.html" title="荣誉证书二" class="pg-color" >荣誉证书二</a></p>
        </li>
                <li>
          <div><a href="./honor/51.html" title="荣誉资质一"><img src="./public/upload/news/2018/05/30/93941c0d1b248d98f166c40e8bb2e849.jpg" alt="荣誉资质一"></a></div>
          <p><a href="./honor/51.html" title="荣誉资质一" class="pg-color" >荣誉资质一</a></p>
        </li>
              </ul>
      <!--分页样式-->
      <div class="pagination-wrapper">
        <div class="pagination">  <li><a>1页&nbsp;4条</a></li> </div>
      </div>
    </div>
    <!--产品列表结束--> 
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<!--页尾开始-->

<div class="footer">
  <div class="footer00"> 
    <!--二维码开始-->
    <div class="footer01"> <img src="./public/upload/system/2018/05/30/b5a597fb3ceae7a64a336f1907138922.png" alt="西餐咖啡餐饮类网站模板" width="138" height="138"/></div>
    <!--二维码结束-->
    <div class="footer02"> 
      <!--友情链接开始-->
      <div class="footer03">友情链接： <a href="http://www.weibo.com"  title="微博" target="_self">微博</a><a href="http://www.taobao.com"  title="淘宝" target="_self">淘宝</a><a href="http://www.sina.com.cn"  title="新浪" target="_self">新浪</a><a href="http://www.qq.com"  title="腾讯" target="_self">腾讯</a><a href="http://www.baidu.com"  title="百度" target="_self">百度</a> <br />
        地址：海南省海口市　　电话：<span>0898-66668888</span>　　手机：<span>13988889999</span></div>
      <!--友情链接结束--> 
      
      <!--分享代码开始-->
      <div class="footer04"><span>分享到：</span>
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>
        <script>
	window._bd_share_config = {
		share : [{
			"bdSize" : 24
		}],
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script> 
      </div>
      <!--分享代码结束--> 
    </div>
  </div>
</div>
<!--页尾结束--> 

<!--底部开始-->
<div class="f_bq">Copyright © 2012-2028 某某网络 版权所有 <a href="http://www.eyoucms.com" target="_blank">Powered by EyouCms</a>　　网站备案号：<a href="http://www.beian.miit.gov.cn/" rel="nofollow">ICP备********号</a></div>
<!--底部结束--> 

<!--浮动工具开始-->
<div class="c-tools">
  <ul>
    <li class="tel-ico"><span>固话：0898-66668888<br>
      手机：13988889999</span></li>
    <li class="ewm-ico"><span class="ewmPic"> <img src="./public/upload/system/2018/05/30/b5a597fb3ceae7a64a336f1907138922.png" alt="西餐咖啡餐饮类网站模板"/></span></li>
    <li class="qq-ico"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=88889999&amp;site=qq&amp;menu=yes"><span>QQ：88889999</span></a></li>
    <li class="top-ico"></li>
  </ul>
</div>
<!--浮动工具结束--> 
<script src="./template/pc/skin/js/search.js"></script> 
<!-- 应用插件标签 start --> 
  
<!-- 应用插件标签 end --> 
<!-- 网站第三方代码 start --> 
 
<!-- 网站第三方代码 end -->
</body>
</html>