<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>首页</title>
  </head>

  <body>
    <div class="head">我的主页</div>
    <ul class="nav">
      <li class="current"><a href="index.html">我的主页</a></li>
      <li><a href="pg2.html">专业技能</a></li>
      <li><a href="pg3.html">我的爱好</a></li>
      <li><a href="pg4.html">个人照片</a></li>
      <li><a href="pg5.html">给我留言</a></li>
    </ul>
    <div class='container'>
      <div class="content">
        <div class="content-left">
          <div class="tit" style="text-align: center">个人简介</div>
          <br />

          <p class="p1">
            <strong>姓名：</strong> 卫婧煜<br />
            <br />
            <strong>生日：</strong> 2001年8月8日<br />
            <br />
            <strong>政治面貌：</strong> 共青团员<br />
            <br />
            <strong>专业：</strong>数据科学与大数据技术<br />
            <br />
            <strong>电话：</strong> 16645678626<br />
            <br />
            <strong>邮箱：</strong> 970038536@qq.com
          </p>
          <br />
          <div class="encourage">
            <img src="images/2.jpg" />
          </div>
        </div>
        <div class="content-right">
          <div class="tit">我の相册</div>
          <div class="myAlbum">
            <a href="pg4.html"><img src="images/4.png" class="albumCover" /></a>
          </div>
          <div class="tit">自我评价</div>
          <div style="margin-top: 30px">
            性格开朗，十分热爱生活，在生活中我把自己锻炼成为一名吃苦耐劳的人，脚踏实地，勤奋踏实。喜欢与人交往，通过与各种朋友相处，学习到了很多自身的优缺点
            每个人都是不完美的，我也不例外。孔子说：“知错就改，善莫大焉”。
          </div>
          <div class="bgMusic">
            <audio
              autoplay="autoplay"
              loop="loop"
              preload="auto"
              controls="controls"
              src="videos/Sarah Brightman - 斯卡布罗集市.mp3"
            ></audio>
          </div>
        </div>
      </div>
    </div>

    <div class="foot">欢迎光临我的主页</div>
  </body>
</html>
