<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <title>专业技能</title>
</head>

<body>
  <div class="head">我的主页</div>
  <ul class="nav">
    <li><a href="index.html">我的主页</a></li>
    <li class="current"><a href="pg2.html">专业技能</a></li>
    <li><a href="pg3.html">我的爱好</a></li>
    <li><a href="pg4.html">个人照片</a></li>
    <li><a href="pg5.html">给我留言</a></li>
  </ul>
  <div class="content">
    <div class="left">

      <br />
      <div style="overflow:hidden">
        <div style="float:left; margin-right:15px;">
          <a href="#">
          <img src="images/1.jpg"  width='100%'/></a>
        </div>
        <p class="p1" style="font-size:26px; padding-top:30px;"><strong>专业技能</strong></p>
        <p class="p1">计算机等级考试三级、普通话等级考试二级甲等</p>
        <p class="p1" style="font-size:26px;"><strong>荣誉</strong></p>
        <p class="p1">校新媒体技能大赛优秀奖、市优秀志愿者</p>
        </p>
      </div>
    </div>
    <div class="right">
      <div class="tit">说说</div>
      <div style="margin-top:30px;">
        每天告诉自己一次，“我真的很不错”<br>

        决定我们每一天过的快乐或者槽糕的从来都不是别人，而是我们自己<br>

        可以被打倒，但绝不可以被打败<br>

        平淡日子泛着光<br>

        美好的一天，上帝不会就这样给你，需要自己去创造。<br>

        A good day, God will not just give you, need to create their own.<br>

        你的努力里，藏着你的幸运，你付出多少努力，就会收获多少幸运。<br>

        In your efforts, hide your luck, how much effort you make, you will gain as much luck.</div>
    </div>
  </div>
  <div class="foot">欢迎光临我的主页</div>
</body>

</html>