<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<title>我的爱好</title>
</head>

<body>
<div class="head">我的主页</div>
<ul class="nav">
  <li><a href="index.html">我的主页</a></li>
  <li><a href="pg2.html">专业技能</a></li>
  <li class="current"><a href="pg3.html">我的爱好</a></li>
  <li><a href="pg4.html">个人照片</a></li>
  <li><a href="pg5.html">给我留言</a></li>
</ul>
<div class="content">
  
    <div class="tit" style="text-align:center">美食 跳舞 旅行</div>
    <br />
    <p class="p2">品味美食就像品味人生一样。有声有色，有甜有咸，但是都要适可而止。</p>
    <table class="foodlist"><tr><td><img src="images/t1.jpg" width="200" /></td><td><img src="images/t2.jpg" width="200" /></td><td><img src="images/t3.jpg" width="200" /></td><td><img src="images/t4.jpg" width="200" /></td></tr>
    	<tr><td><img src="images/t5.jpg" width="200" /></td><td><img src="images/t6.jpg" width="200" /></td><td><img src="images/t7.jpg" width="200" /></td><td><img src="images/t8.jpg" width="200" /></td></tr>
    	
    </table>
   

</div>
<div class="foot">欢迎光临我的主页</div>
</body>
</html>
