<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<title>个人照片</title>
</head>

<body>
<div class="head">我的主页</div>
<ul class="nav">
  <li><a href="index.html">我的主页</a></li>
  <li><a href="pg2.html">个人简介</a></li>
  <li><a href="pg3.html">我的爱好</a></li>
  <li class="current"><a href="pg4.html">个人照片</a></li>
  <li><a href="pg5.html">给我留言</a></li>
</ul>
<div class="content">
  <div>
    <div class="tit">个人照片</div>
    <ul class="food">

      <li><a href="#"><img src="images/f3.jpg" height="400" /></a><br />
            <li><a href="#"><img src="images/f1.jpg" height="400" /></a><br />
        </li>
        </li>
      <li><a href="#"><img src="images/f2.jpg" height="400" /></a><br />
        </li>
      <li><a href="#"><img src="images/f4.jpg" height="400" /></a><br />
      
      <li><a href="#"><img src="images/f6.jpg" height="400" /></a><br />
        </li>
          </li>
 <li><a href="#"><img src="images/f5.jpg"  height="400" /></a><br />
        </li>
    </ul>
  </div>
</div>
<div class="foot">欢迎光临我的主页</div>
</body>
</html>