<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<title>给我留言</title>
</head>

<body>
<div class="head">我的主页</div>
<ul class="nav">
  <li><a href="index.html">我的主页</a></li>
  <li><a href="pg2.html">专业技能</a></li>
  <li><a href="pg3.html">我的爱好</a></li>
  <li><a href="pg4.html">个人照片</a></li>
  <li class="current"><a href="pg5.html">给我留言</a></li>
 
</ul>
<div class="content">
  <div class="left">
    <div class="massage">
      <input type="text" value="姓名" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '姓名';}"/>
      <br />
      <br />
      <input type="text" value="邮箱" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '邮箱';}"/>
      <br />
      <br />
      <div style="text-align:left; width:80%; padding:1em; margin:0 auto; border:1px solid #ccc; font-size:14px">性别：
        <input type="radio" name="男" />
        男
        <input type="radio" name="男" />
        女</div>
      <br />
     
      <div style="text-align:left; width:80%; padding:1em; margin:0 auto; border:1px solid #ccc; font-size:14px">爱好：
        <input type="checkbox" />
        旅行
        <input type="checkbox" />
        听歌
        <input type="checkbox" />
        游戏
        <input type="checkbox" />
        动漫</div>
    </div>
    <div class="contact-textarea">
      <textarea value="你的留言" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '你的留言';}">你的留言</textarea>
    </div>
    <div class="contact-but">
      <form>
        <input type="submit" value="发送" />
      </form>
    </div>
  </div>
  <div class="right">
    <div class="tit">我の相册</div>
    <div style="margin:30px auto; border:1px solid #ccc; padding:5px;"><a href="pg4.html"><img src="images/4.png" width="100%" /></a></div>
    <div class="tit">说说</div>
    <div style="margin-top:30px;">
每天告诉自己一次，“我真的很不错”<br>

决定我们每一天过的快乐或者槽糕的从来都不是别人，而是我们自己<br>

可以被打倒，但绝不可以被打败<br>

平淡日子泛着光<br>

美好的一天，上帝不会就这样给你，需要自己去创造。<br>

A good day, God will not just give you, need to create their own.<br>

你的努力里，藏着你的幸运，你付出多少努力，就会收获多少幸运。<br>

In your efforts, hide your luck, how much effort you make, you will gain as much luck.</div>
  </div>
</div>
<div>
  
</div>
<div class="foot">欢迎光临我的主页</div>
</body>
</html>