<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<title>我的大学生活-学校-文化传媒学院</title>
		<link rel="stylesheet" href="./res/layui/css/layui.css">
		<link rel="stylesheet" href="./res/static/css/index.css">
	</head>

	<body>
		<!-- nav部分 -->
		<div class="nav">
			<div class="layui-container">
				<!-- logo -->
				<div class="nav-logo">
					<a href="index.html">
						<img src="./res/static/img/logo.png" style="width: 200px" height="80px" alt="类友网络">
					</a>
				</div>
				<div class="nav-list">
					<button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
			<li class="layui-nav-item layui-this"><a href="index.html">首页</a></li>
			<li class="layui-nav-item"><a href="grjs.html">个人介绍</a></li>
			<li class="layui-nav-item "><a href="kysh.html">课余生活</a></li>
			<li class="layui-nav-item"><a href="xx.html">学校</a></li>
			<li class="layui-nav-item"><a href="zygh.html">职业规划</a></li>
			<li class="layui-nav-item"><a href="lyb.html">留言板</a></li>
		  </ul>
				</div>
			</div>
		</div>
		<!-- banner部分 -->
		<div class="banner xx">
			<div class="title">
				<p>文化传媒学院</p>
			</div>
		</div>
		<!-- main部分 -->
		<div class="main product">
			<div class="layui-container">
			  <div class="content layui-row">
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img">
				  <img src="./res/static/img/w1.jpg">
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
				  <p class="label">汉语言文学</p>
				  <p class="detail">本专业主要培养德、智、体、美、劳全面发展的高素质、应用型专门人才。主要学习新闻、文秘、档案管理、教育学、心理学和汉语言文学教学等方面的基本原理和基础知识，具备语言文字应用能力、文学鉴赏能力、写作能力和口头表达能力。毕业生可在各级各类学校进行汉语言文学教学及研究工作；在新闻文艺出版部门、科研机构和机关企业事业单位从事采访编辑、公关协调、组织管理、社会活动、文学评论、文化宣传以及文秘、文案策划等工作。</p>
				</div>
			  </div>
			  <div class="content layui-row">
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="./res/static/img/w2.png"></div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
				  <p class="label">英语</p>
				  <p class="detail">本专业主要培养德、智、体、美、劳全面发展的高素质、应用型专门人才。主要学习掌握英语国家的地理、历史、社会、经济、文化、文学、国内外旅游、涉外法规和外经外贸等方面的基本原理和基础知识，具备扎实英语语言基础和较强的英语语言应用能力。毕业生可在中小学从事英语教师工作，也可在外企从事翻译、管理工作。亦可在外经外贸、外事、旅游等部门以及各类企事业单位中从事翻译、管理等工作。</p>
				</div>
			  </div>
			  <div class="content layui-row">
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="./res/static/img/w3.jpg"></div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
				  <p class="label">新闻学</p>
				  <p class="detail">本专业主要培养德、智、体、美、劳全面发展的高素质、应用型专门人才。主要学习新闻采编制作技能、传播理论、传媒规律、媒介技术和传播艺术等方面的基本原理和基础知识，具备优秀的表达和计算机综合应用能力，良好的合作精神和沟通协调能力。毕业生可在电台、电视台、报社、杂志社、网络等媒体单位工作；可在各大党政机关、企事业单位从事新闻宣传、企业文化宣传、公关、现代文秘等工作。</p>
				</div>
			  </div>
			</div>
		  </div>
		<!-- footer部分 -->
		<div class="footer">
			<div class="layui-container">
				<p class="footer-web">
					<a href="#">共青团中央</a>
					<a href="#">团中央学校部</a>
				</p>
				<div class="layui-row footer-contact">
					<div class="layui-col-sm2 layui-col-lg1"><img src="./res/static/img/erweima.png"></div>
					<div class="layui-col-sm10 layui-col-lg11">
						<div class="layui-row">
							<div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
								<p class="contact-top"><span class="right">我的大学生活</span></p>
								<p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2021-2022</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../res/layui/layui.js"></script>
		<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
		<script>
			layui.config({
				base: '../res/static/js/'
			}).use('firm');
		</script>
	</body>

</html>