<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>类友网络-案例</title>
  <link rel="stylesheet" href="./res/layui/css/layui.css">
  <link rel="stylesheet" href="./res/static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="./res/static/img/logo.png" style="width: 200px" height="80px"alt="我的大学-学校">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item layui-this"><a href="index.html">首页</a></li>
          <li class="layui-nav-item"><a href="grjs.html">个人介绍</a></li>
          <li class="layui-nav-item "><a href="kysh.html">课余生活</a></li>
          <li class="layui-nav-item"><a href="xx.html">学校</a></li>
          <li class="layui-nav-item"><a href="zygh.html">职业规划</a></li>
          <li class="layui-nav-item"><a href="lyb.html">留言板</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- banner部分 -->
  <div class="banner xx">
    <div class="title">
      <p>商学院</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-case">
    <div class="layui-container">
      <div class="layui-row">
        <div class="layui-inline content">
          <div class="layui-inline case-img"><img src="./res/static/img/sxy.jpg"></div>
          <p class="lable">学院简介</p>
          <p>济南大学泉城学院商学院设有经济学、国际经济与贸易、市场营销、金融工程、财务管理以及文化产业管理六个本科专业和国际经济与贸易一个专科专业，面向全国招生，在校生2300人左右。</p>
        </div>
        <div class="layui-inline content even center">
          <div class="layui-inline case-img"></div>
          <p class="lable">师资建设</p>
          <p>学院现有教职工66人，拥有一支中青年相结合、以青年教师为主体的师资队伍，教学科研水平高、业务能力强，具有强劲的发展优势。学院教师队伍的知识结构、学历结构、职称结构以及年龄结构日趋合理</p>
        </div>
        <div class="layui-inline content">
          <div class="layui-inline case-img"></div>
          <p class="lable">办学特色</p>
          <p>学院始终坚持以教学质量为中心，秉承学校“以学生为本，以育人为主，以品牌立院”的办学理念，不断深化教学质量改革与学科建设，致力于培养具有创新精神、实践能力、研究能力的复合型人才</p>
        </div>
        <div class="layui-inline content even">
          <div class="layui-inline case-img"></div>
          <p class="lable">经济学</p>
          <p>本专业主要培养德、智、体、美、劳全面发展的高素质、应用型专门人才。主要学习现代经济学基本理论和基本方法，熟练掌握政治经济学、微观经济学、宏观经济学、统计学、计量经济学、财政学、货币银行学、管理学、会计学等主干课程，能在政府部门、企事业单位等从事经济分析、管理、预测、规划等工作</p>
        </div>
        <div class="layui-inline content center">
          <div class="layui-inline case-img"></div>
          <p class="lable">国际经济与贸易</p>
          <p>本专业主要培养德、智、体、美、劳全面发展的高素质、应用型专门人才。主要学习国际经济与贸易相关理论与知识，熟练掌握国际贸易、国际贸易实务、进出口报检实务、进出口报实务关、外贸函电、国际结算、国际贸易单证、国际金融等主要课程。能够在政府部门和企事业单位从事涉外经济管理、实际业务、调研和宣传策划等工作</p>
        </div>
        <div class="layui-inline content even">
          <div class="layui-inline case-img"></div>
          <p class="lable">财务管理</p>
          <p>本专业主要培养德、智、体、美、劳全面发展的高素质、应用型专门人才。主要学习财务管理的相关理论和基础知识，熟练掌握财务管理学、会计学、管理学、管理会计学、财务分析、税法等主干课程，能够在各类营利性和非营利性组织或机构从事与财务管理相关的工作以及教学与科研等工作。</p>
        </div>
      </div>
      <div id="casePage"></div>
    </div>
  </div>
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
        <p class="footer-web">
            <a href="#">共青团中央</a>
            <a href="#">团中央学校部</a>
        </p>
        <div class="layui-row footer-contact">
            <div class="layui-col-sm2 layui-col-lg1"><img src="./res/static/img/erweima.png"></div>
            <div class="layui-col-sm10 layui-col-lg11">
                <div class="layui-row">
                    <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
                        <p class="contact-top"><span class="right">我的大学生活</span></p>
                        <p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2021-2022</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../res/layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: '../res/static/js/' 
  }).use('firm'); 
</script>
</body>
</html>