<!DOCTYPE html>
<html>
  <head>
    <title>XXX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="Transit Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
          event.preventDefault();
          $("html,body").animate(
            { scrollTop: $(this.hash).offset().top },
            1000
          );
        });
      });
    </script>
  </head>
  <body>
      	<!-- banner -->
	<div class="banner">
		<!-- container -->
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="index.html">
						<img src="./images/logo.png" alt="">
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="top-nav">
					<span class="menu">菜单</span>
					<ul class="nav1">
						<li><a href="index.html">首页</a></li>
						<li><a href="scenery.html">景色</a></li>
						<li><a href="food.html" class="active">美食</a></li>
					</ul>
					<!-- script-for-menu -->
						<script>
							 $( "span.menu" ).click(function() {
							$( "ul.nav1" ).slideToggle( 300, function() {
							// Animation complete.
								});
								});
						</script>
					<!-- /script-for-menu -->
			</div>
		</div>
		<!-- //container -->
		<div class="banner-text">
			<!-- container -->
			<div class="container">
				<ul>
					<li>秋季是四季中的一季，在夏季与冬季之间的位置。</li>
				</ul>
			</div>
			<!-- //container -->
		</div>
	</div>	
	<!-- //banner -->
	<!-- banner-bottom -->
	<div class="banner-top-slide">
		<div class="banner-bottom-top">
			<h4>秋天</h4>
			<p>成熟的季节</p>
		</div>
		<div class="banner-bottom-bottom">
			<div class="banner-top-slide-grids">
				<script src="js/responsiveslides.min.js"></script>
					<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
					</script>
					<div  id="top" class="callbacks_container">
						<ul class="rslides" id="slider3">
							<li>
								<div class="banner-slid">
									<h3>秋的诗词</h3>
									<p>空山新雨后，天气晚来秋
									</p>
								</div>
							</li>
							<li>
								<div class="banner-slid">
									<p>秋的诗词</p>
									<p>落霞与孤鹜齐飞，秋水共长天一色
									</p>
								</div>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</div>
    <div class='food-content'>
        <h2>秋日美食</h2>
        <ul>
            <li>
                <div class='food-img'>
                    <img src="./images/ms1.jpeg" alt="">
                </div>
                <div class='food-text'>
                    <h3>螃蟹</h3>
                    <p>秋风起，蟹脚痒。菊花开，闻蟹来。秋天是盛产螃蟹的季节，农历九月前后，雌蟹成熟；农历十月之后，雄蟹成熟，可不要错过最佳的时节呦。螃蟹肉味鲜美、营养丰富，含有大量蛋白质和脂肪，较多的钙、磷、铁、维生素等物质，它既是滋补品又是佳肴</p>
                </div>
            </li>
            <li>
                <div class='food-img'>
                    <img src="./images/ms2.jpeg" alt="">
                </div>
                <div class='food-text'>
                    <h3>羊肉</h3>
                    <p>秋天，要是能来上一碗热腾腾的羊肉汤感觉全身都暖洋洋的。羊肉蛋白质含量较多，脂肪含量较少，常吃羊肉可益气补虚，增强御寒能力</p>
                </div>
            </li>
            <li>
                <div class='food-img'>
                    <img src="./images/ms3.jpeg" alt="">
                </div>
                <div class='food-text'>
                    <h3>柿子</h3>
                    <p>柿子含有维生素A和少量维生素C，成熟多在9月和10月。柿子不光可以像水果一样吃，还可以被晾干做成柿饼，甜甜糯糯的口感真是让人幸福感爆棚</p>
                </div>
            </li>
            <li>
                <div class='food-img'>
                    <img src="./images/ms4.jpeg" alt="">
                </div>
                <div class='food-text'>
                    <h3>柚子</h3>
                    <p>柚子是秋日常见的水果之一，成熟季节集中在中秋节前后。柚子果肉含维生素C较高，有消食、解酒毒等功效，营养丰富，有降血糖、降血脂、减肥、美肤养容等功效。柚子浑身都是宝，柚子皮也是很珍贵的东西，柚皮不但营养丰富，而且还具有暖胃、化痰、润化喉咙等食疗作用。</p>
                </div>
            </li>
            <li>
                <div class='food-img'>
                    <img src="./images/ms5.jpeg" alt="">
                </div>
                <div class='food-text'>
                    <h3>茭白</h3>
                    <p>世界上把茭白作为蔬菜栽培的，只有中国和越南。秋季茭白水嫩，正是上市时节。茭白并非越壮硕越好，而是紧致不虚空、切片后直沉入水为佳。或许是因为茭白的质感与肉相似，因而在炒制茭白时必定要有荤为伴。</p>
                </div>
            </li>
            <li>
                <div class='food-img'>
                    <img src="./images/ms6.jpeg" alt="">
                </div>
                <div class='food-text'>
                    <h3>莲藕</h3>
                    <p>仲秋过后，苏州的糖藕开始水灵灵上市了，秋天的莲藕有老嫩之分，嫩藕可以像水果一样直接取食，或是当冷拌菜。老藕可以刨丝做炒菜、藕圆、藕夹、炖汤等等。莲藕还有很多吃法，对于苏州人来说，带着儿时亲切记忆的莫过于糯米塞藕了。苏州糖藕，与南京板鸭、镇江香醋齐名，并称为江苏“三宝”</p>
                </div>
            </li>
            <li>
                <div class='food-img'>
                    <img src="./images/ms7.jpeg" alt="">
                </div>
                <div class='food-text'>
                    <h3>芋头</h3>
                    <p>芋头，有益胃、宽肠、通便的功效，秋季食用可以减弱干燥的天气对人体的伤害，因此受到苏州人的喜爱。芋艿可以蒸煮后直接吃，也可以做成芋艿排骨煲、茶树菇芋艿汤、桂花红糖芋艿来吃，苏州不少甜品店都推出了芋艿系列产品，不妨一试。</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="footer">
	</div>
	<!-- //footer -->
	<!-- copyright -->
	<div class="copyright">
		<!-- container -->
		<div class="container">
			<div class="copyright-left">
				<p>Copyright &copy; 2020.All rights reserved.&nbsp;</p>
			</div>
		</div>
		<!-- //container -->
	</div>
  </body>
</html>
