<!DOCTYPE HTML>
<html>
<head>
<title>XXX</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Transit Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />	
<script src="js/jquery-1.11.1.min.js"> </script>	
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>		
</head>
<body>
	<!-- banner -->
	<div class="banner">
		<!-- container -->
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="index.html">
						<img src="./images/logo.png" alt="">
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="top-nav">
					<span class="menu">菜单</span>
					<ul class="nav1">
						<li><a href="index.html" class="active">首页</a></li>
						<li><a href="scenery.html">景色</a></li>
						<li><a href="food.html">美食</a></li>
					</ul>
					<!-- script-for-menu -->
						<script>
							 $( "span.menu" ).click(function() {
							$( "ul.nav1" ).slideToggle( 300, function() {
							// Animation complete.
								});
								});
						</script>
					<!-- /script-for-menu -->
			</div>
		</div>
		<!-- //container -->
		<div class="banner-text">
			<!-- container -->
			<div class="container">
				<ul>
					<li>秋季是四季中的一季，在夏季与冬季之间的位置。</li>
				</ul>
			</div>
			<!-- //container -->
		</div>
	</div>	
	<!-- //banner -->
	<!-- banner-bottom -->
	<div class="banner-top-slide">
		<div class="banner-bottom-top">
			<h4>秋天</h4>
			<p>成熟的季节</p>
		</div>
		<div class="banner-bottom-bottom">
			<div class="banner-top-slide-grids">
				<script src="js/responsiveslides.min.js"></script>
					<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
					</script>
					<div  id="top" class="callbacks_container">
						<ul class="rslides" id="slider3">
							<li>
								<div class="banner-slid">
									<h3>秋的诗词</h3>
									<p>空山新雨后，天气晚来秋
									</p>
								</div>
							</li>
							<li>
								<div class="banner-slid">
									<p>秋的诗词</p>
									<p>落霞与孤鹜齐飞，秋水共长天一色
									</p>
								</div>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</div>
	<!-- //banner-bottom -->
	<!-- welcome -->
	<div class="welcome">
		<!-- container -->
		<div class="container">
			<div class="welcome-info">
				<h3>Hello autumn!</h3>
				<h5>新的一季，打卡秋天的正确姿势</h5>
				<h4>你要不要跟我一起感受秋天的氛围？</h4>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //welcome -->
    <div class="copyrights">Collect from </div>
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<!-- container -->
		<div class="container">
			<div class="banner-bottom-info">
				<h3>秋天的美景</h3>
				<p>景色总能让人心旷神怡</p>
			</div>
			<div class="banner-bottom-grids">
				<div class="col-md-6 banner-bottom-grid">
					<div class="col-md-5 banner-bottom-left">
						<img src="images/m1.jpeg" alt="">
					</div>
					<div class="col-md-7 banner-bottom-right">
						<h4>秋色无限好</h4>
						<p>为什么喜欢秋天，因为秋天不足够温暖， 不足够炎热，不足够寒冷，所以人与人拥抱时，刚好足够感知对方的温暖</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 banner-bottom-grid">
					<div class="col-md-5 banner-bottom-left">
						<img src="images/m2.jpeg" alt="">
					</div>
					<div class="col-md-7 banner-bottom-right">
						<h4>枫叶红</h4>
						<p>我看过秋日的夕阳，穿透薄雾的光芒，照在脸上的模样。 那之后很久某一天，我无意中瞥见 : 夕阳的光，彷佛黄昏的手，正悄悄拨开窗帘的缝隙，伸进房间里。 那一刻，回忆几乎触手可及</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- container -->
	</div>
	<!-- //banner-bottom -->
	<!-- news -->
	<div id="news" class="news">
		<div class="container">
			<div class="news-text">
				<h3>秋天的美食</h3>
                <p>美食，总是让人欲罢不能、流连忘返</p>
			</div>
			<div class="news-grids">
				<div class="col-md-3 news-grid">
					<h4>螃蟹</h4>
					<img src="images/ms1.jpeg" alt="">
					<div class="news-info">
						<p>秋风起，蟹脚痒。菊花开，闻蟹来。秋天是盛产螃蟹的季节，农历九月前后，雌蟹成熟；农历十月之后，雄蟹成熟，可不要错过最佳的时节呦。螃蟹肉味鲜美、营养丰富，含有大量蛋白质和脂肪，较多的钙、磷、铁、维生素等物质，它既是滋补品又是佳肴</p>
					</div>
				</div>
				<div class="col-md-3 news-grid">
					<h4>羊肉</h4>
					<img src="images/ms2.jpeg" alt="">
					<div class="news-info">
						<p>秋天，要是能来上一碗热腾腾的羊肉汤感觉全身都暖洋洋的。羊肉蛋白质含量较多，脂肪含量较少，常吃羊肉可益气补虚，增强御寒能力。</p>
					</div>
				</div>
				<div class="col-md-3 news-grid">
					<h4>柿子</h4>
					<img src="images/ms3.jpeg" alt="">
					<div class="news-info">
						<p>柿子含有维生素A和少量维生素C，成熟多在9月和10月。柿子不光可以像水果一样吃，还可以被晾干做成柿饼，甜甜糯糯的口感真是让人幸福感爆棚</p>
					</div>
				</div>
				<div class="col-md-3 news-grid">
					<h4>柚子</h4>
					<img src="images/ms4.jpeg" alt="">
					<div class="news-info">
						<p>柚子是秋日常见的水果之一，成熟季节集中在中秋节前后。柚子果肉含维生素C较高，有消食、解酒毒等功效，营养丰富，有降血糖、降血脂、减肥、美肤养容等功效。柚子浑身都是宝，柚子皮也是很珍贵的东西，柚皮不但营养丰富，而且还具有暖胃、化痰、润化喉咙等食疗作用。</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news -->
	<!-- footer -->
	<div class="footer">
	</div>
	<!-- //footer -->
	<!-- copyright -->
	<div class="copyright">
		<!-- container -->
		<div class="container">
			<div class="copyright-left">
				<p>Copyright &copy; 2020.All rights reserved.&nbsp;</p>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- copyright -->
</body>
</html>

