<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("ul.typeul .typeone").click(function()
	{
		var arrow = $(this).find("span.arrow");
		if(arrow.hasClass("up"))
		{
			arrow.removeClass("up");
			arrow.addClass("down");
		}
		else if(arrow.hasClass("down"))
		{
			arrow.removeClass("down");
			arrow.addClass("up");
		}
		$(this).parent().find(".typetwo").slideToggle();
	});
})
</script>
</head>

<body>
<div class="header">
  <div class="main">
     <a href="index.html"><img src="images/logo.png" /></a>
  </div>
</div>
<div class="clear"></div>
<div class="nav">
  <ul>
    <li><a href="index.html">首页</a></li>
    <li><a href="about.html">关于我们</a></li>
    <li><a href="product.html">产品展示</a></li>
    <li><a href="news.html">行业动态</a></li>
    <li><a href="book.html">我要留言</a></li>
    <li><a href="contact.html">联系我们</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="banner">
  <div class="b-img">
      <img src="images/banner.jpg" width="100%"/>
      <img src="images/banner.jpg" width="100%" />
  </div>
  <div class="clear"></div>
  <div class="b-list"> </div>
</div>
<div class="clear"></div>
<div class="main">
  <div class="mainL">
    <div class="titbox">产品分类</div>
    <ul class="typeul">
      <li>
        <div class="typeone"><a href="product.html">人物画</a><span class="arrow up"></span></div>
        <div class="typetwo">
          <a href="product.html">人物画</a>
          <a href="product.html">人物画</a>
          <a href="product.html">人物画</a>
        </div>
      </li>
      <li>
        <div class="typeone"><a href="product.html">花鸟画</a><span class="arrow up"></span></div>
        <div class="typetwo">
          <a href="product.html">花鸟画</a>
          <a href="product.html">花鸟画</a>
          <a href="product.html">花鸟画</a>
        </div>
      </li>
      <li>
        <div class="typeone"><a href="product.html">山水画</a><span class="arrow up"></span></div>
        <div class="typetwo">
          <a href="product.html">山水画</a>
          <a href="product.html">山水画</a>
          <a href="product.html">山水画</a>
        </div>
      </li>
    </ul>
    <div class="titbox">热门资讯</div>
    <ul class="newsul">
      <li><a href="detail.html" class="ccsl">字画装裱需要注意什么细节问题?</a></li>
      <li><a href="detail.html" class="ccsl">书画装裱后更应妥善保存，存放在地上要考虑防潮?</a></li>
      <li><a href="detail.html" class="ccsl">字画装裱机的选择需要注意那几点呢？</a></li>
      <li><a href="detail.html" class="ccsl">保管已经破损的古旧字画更要谨慎?</a></li>
      <li><a href="detail.html" class="ccsl">展示手绢，册页时要倍加注意?</a></li>
    </ul>
    <div class="titbox">联系我们</div>
    <div class="lxwm">
      <div class="con">
        手 机：12345678910<br />
        电 话：77000000<br />
        邮箱：123***@qq.com<br />
        地 址：XXX**楼  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>
      </div>
    </div>
  </div>
  <div class="mainR">
    <div class="brandnavbox">
      <h2>联系我们</h2>
      <div class="con">当前位置：首页》联系我们</div>
    </div>
    <div class="detailbox">
      <div class="xq">
        <div class="con">
          <p>手 机：12345678910</p>
          <p>电 话：77000000</p>
          <p>邮箱：123***@qq.com</p>
          <p>地 址：XXX**楼  </p>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="footerBox">
  <div class="main">
    <div class="footL">
      <div class="tit">联系我们</div>
      <ul>
        <li class="f1">手 机：12345678910</li>
        <li class="f2">电 话：77000000</li>
        <li class="f3">邮箱：123***@qq.com</li>
        <li class="f4">地 址：XXX**楼  </li>
      </ul>
    </div>
    <div class="footR">
      <div class="telbox">
        <div class="tel">
          <span>12345678910</span>
          <b><p>欢迎来电咨询</p></b>
        </div>
      </div>
      <div class="footer">
        <div>***有限公司<br />联系方式：12345678910<br />地 址：XXX**楼  </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="fnav">
  <div class="main">
    <a href="index.html">首页</a>
    <a href="about.html">关于我们</a>
    <a href="product.html">产品展示</a>
    <a href="news.html">行业动态</a>
    <a href="book.html">我要留言</a>
    <a href="contact.html">联系我们</a>
  </div>
</div>
</body>
</html>