<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>食品大全</title>
	<link rel="stylesheet" href="./css/style.css">

</head>

<body>
	<div class="nav">
		<ul class="uu-nav">
			<li class="logo">美食大全</li>
			<li class="nav-lists"><a href="./2.html">首页</a> </li>
			<li class="nav-lists"><a href="./3.html">饮食健康</a> </li>
			<li class="nav-lists"><a href="./4.html">美食达人</a> </li>
			<li class="nav-lists"><a href="./5.html">不白吃美食讲解</a> </li>
			<li class="nav-lists"><a href="./6.html">教你做美食</a> </li>
		</ul>
		<ul class="uu-lists">
			<li><a href="./2.html">首页</a> </li>
			<li><a href="./3.html">饮食健康</a> </li>
			<li><a href="./4.html">美食达人</a> </li>
			<li><a href="./5.html">不白吃美食讲解</a> </li>
		</ul>
	</div>
	<header>
		<div id="benner">
			<div class="img">
				<img src="./img/1.jpg" class="imga active">
				<img src="./img/2.jpg" class="imga">
				<img src="./img/3.jpg" class="imga">
				<img src="./img/4.jpg" class="imga">
				<img src="./img/5.jpg" class="imga">
			</div>
			<ul class="title">
				<li class="nr active"></li>
				<li class="nr"></li>
				<li class="nr"></li>
				<li class="nr"></li>
				<li class="nr"></li>
			</ul>
		</div>
	</header>
	<nav>
		<h3>关于我们</h3>
		<p>一个享受美食与交流美食的地方，在这里我们可以发现有许多的特色美食，以及许多美食达人分享的营养膳食。
			"美食汇"给你不一样的感觉！</p>
	</nav>
	<div class="wrap">
		<h3>特性服务</h3>
		<ul class="wrap-uu">
			<li>
				<h2>美味的食物</h2>
				<p>这里的食物既美味又有营养，美食多多，种类丰富，欢迎您的到来！</p>
			</li>
			<li>
				<h2>各种饮料</h2>
				<p>闲暇的时光与朋友品尝一杯咖啡，聊聊家长里短也是一种不错的方式！</p>
			</li>
			<li>
				<h2>您的认可</h2>
				<p>我们专致于服务，以最好的姿态服务您们，您肯定是对我们最大的支持！</p>
			</li>
			<li>
				<h2>送货上门</h2>
				<p>我们为了更好服务客人，开通了外卖，让您足不出户就能享受美食！</p>
			</li>
			<li>
				<h2>礼品赠送</h2>
				<p>我们在双“十二”推出了礼品赠送活动，礼品丰厚，期待您的参与！</p>
			</li>
			<li>
				<h2>私人订制</h2>
				<p>在您的特殊日子，例如：生日，纪念日等我们接受您的特殊要求！</p>
			</li>
		</ul>
	</div>

	<div class="news ">
		<ul class="min-width">
			<li>
				<div class="news-img">
					<img src="./img/6.jpg" />
				</div>
				<h4>我们的特色菜</h4>
				<p>我们有自己的特色菜，种类繁多，有家乡菜、农家菜、也有各地著名美食。</p>
			</li>
			<li>
				<div class="news-img">
					<img src="./img/7.jpg" />
				</div>
				<h4>我们的特色菜</h4>
				<p>我们有自己的特色菜，种类繁多，有家乡菜、农家菜、也有各地著名美食。</p>
			</li>
			<li>
				<div class="news-img">
					<img src="./img/8.jpg" />
				</div>
				<h4>我们的特色菜</h4>
				<p>我们有自己的特色菜，种类繁多，有家乡菜、农家菜、也有各地著名美食。</p>
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="./css/script.js">
	</script>
	<script type="text/javascript" src="css/script2.js">
	</script>
</body>

</html>