<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="./css/style2.css" />
</head>

<body>
	<div class="nav">
		<ul class="uu-nav">
			<li class="logo">美食大全</li>
			<li class="nav-lists"><a href="./2.html">首页</a> </li>
			<li class="nav-lists"><a href="./3.html">饮食健康</a> </li>
			<li class="nav-lists"><a href="./4.html">美食达人</a> </li>
			<li class="nav-lists"><a href="./5.html">不白吃美食讲解</a> </li>
			<li class="nav-lists"><a href="./6.html">教你做美食</a> </li>
		</ul>
		<ul class="uu-lists">
			<li><a href="./2.html">首页</a> </li>
			<li><a href="./3.html">饮食健康</a> </li>
			<li><a href="./4.html">美食达人</a> </li>
		</ul>
	</div>
	<div class="bananer">
		<img src="./img/9.jpg" />
	</div>
	<nav>
		<h3>饮食健康</h3>

	</nav>

	<div class="heal min-width">
		<div class="heal-left">
			<h1>饮食健康</h1>
			<p>早晨起床后喝一杯凉开水，有利于肝、肾代谢和降低血压，防止心肌梗
				塞，有的人称之为“复活水”。有关专家认为，人经过几个小时睡眠后，消化道已排空，晨起饮一杯凉开水，能很快被吸收进入血液循环，稀释血液，等于对体内各器官进行了一次“内洗涤”。注意饮用水健康，水是生命之源。不要渴了才喝水。
			</p>
			<strong>了解更多</strong>
		</div>
		<div class="heal-right">
			<img src="./img/10.jpg" />
		</div>
		<div class="heal-left">
			<img src="./img/11.jpg" />
		</div>
		<div class="heal-right">
			<h1>饮食健康</h1>
			<p>其实果蔬除了对人体健康有利外，也因为果蔬中含有各种有机酸、芳香物质及各种色素成分，对调解人们的口味也有重要的意义，饮食中适当的搭配果蔬，人们就可以烹调出各种口味、色香味俱全的菜肴，这样，既达到了减肥保健的目的，又满足了口福，何乐而不为呢！
			</p>
			<strong>了解更多</strong>
		</div>
	</div>
	<nav>
		<h3>健康小常识</h3>
	</nav>
	<div class="heals min-width">.
		<ul>
			<li>
				<div class="heals-info">
					<div class="heals-span">❤</div>
					<div class="heals-wrpa">
						<h3>健康小常识</h3>
						<p>良好合理的健康饮食习惯，可使身体健康地生长、发育；不良的饮食习惯则会导致人体正常的生理功能紊乱而感染疾病。相反，恰当的饮食对疾病会起到治疗的作用，帮助人体恢复健康。</p>
					</div>
				</div>
				<div class="heals-p">
					<p>喝豆浆时不要加鸡蛋及红糖，也不要喝太多</p>
					<p>每天摄取均衡的饮食，不过量</p>
					<p>减少食用盐腌、烟熏及烧烤的食物</p>
					<p>每天摄取富含高纤维的五谷类及豆类</p>
					<p>空腹时不要吃蕃茄，最好饭后吃</p>
					<p>刚出炉的面包不宜马上食用</p>
					<p>坚持饮食健康习惯身体倍棒！</p>
				</div>


			</li>
			<li>
				<div class="heals-info">
					<div class="heals-span">❤</div>
					<div class="heals-wrpa">
						<h3>健康小常识</h3>
						<p>良好合理的健康饮食习惯，可使身体健康地生长、发育；不良的饮食习惯则会导致人体正常的生理功能紊乱而感染疾病。相反，恰当的饮食对疾病会起到治疗的作用，帮助人体恢复健康。</p>
					</div>
				</div>
				<div class="heals-p">
					<p>喝豆浆时不要加鸡蛋及红糖，也不要喝太多</p>
					<p>每天摄取均衡的饮食，不过量</p>
					<p>减少食用盐腌、烟熏及烧烤的食物</p>
					<p>每天摄取富含高纤维的五谷类及豆类</p>
					<p>空腹时不要吃蕃茄，最好饭后吃</p>
					<p>刚出炉的面包不宜马上食用</p>
					<p>坚持饮食健康习惯身体倍棒！</p>
				</div>


			</li>
			<li>
				<div class="heals-info">
					<div class="heals-span">❤</div>
					<div class="heals-wrpa">
						<h3>健康小常识</h3>
						<p>良好合理的健康饮食习惯，可使身体健康地生长、发育；不良的饮食习惯则会导致人体正常的生理功能紊乱而感染疾病。相反，恰当的饮食对疾病会起到治疗的作用，帮助人体恢复健康。</p>
					</div>
				</div>
				<div class="heals-p">
					<p>喝豆浆时不要加鸡蛋及红糖，也不要喝太多</p>
					<p>每天摄取均衡的饮食，不过量</p>
					<p>减少食用盐腌、烟熏及烧烤的食物</p>
					<p>每天摄取富含高纤维的五谷类及豆类</p>
					<p>空腹时不要吃蕃茄，最好饭后吃</p>
					<p>刚出炉的面包不宜马上食用</p>
					<p>坚持饮食健康习惯身体倍棒！</p>
				</div>


			</li>
		</ul>

	</div>

	<script src="/css/script2.js">
	</script>
</body>

</html>