<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="./css/heal.css" />
</head>

<body>
	<div class="nav">
		<ul class="uu-nav">
			<li class="logo">美食大全</li>
			<li class="nav-lists"><a href="./2.html">首页</a> </li>
			<li class="nav-lists"><a href="./3.html">饮食健康</a> </li>
			<li class="nav-lists"><a href="./4.html">美食达人</a> </li>
			<li class="nav-lists"><a href="./5.html">不白吃美食讲解</a> </li>
			<li class="nav-lists"><a href="./6.html">教你做美食</a> </li>
			<li class="ico">三</li>
		</ul>
		<ul class="uu-lists">
			<li><a href="./2.html">首页</a> </li>
			<li><a href="./3.html">饮食健康</a> </li>
			<li><a href="./4.html">美食达人</a> </li>
		</ul>
	</div>
	<div class="bananer">
		<img src="./img/9.jpg" />
	</div>
	<nav>
		<h3>美食分享</h3>

	</nav>

	<div class="heal min-width">.

		<div class="heal-left">
			<img src="./img/12.jpg" />
		</div>
		<div class="heal-right">
			<h1>家常做法：</h1>
			<p>沙茶原产印度尼西亚，后传入潮州。沙茶原料丰富.因还有芥末、辣椒而色黄、味辣。广州人最爱以沙茶牛肉配炒面。 原料：牛里脊肉300克，芦笋50克，红辣椒1个，葱1棵，蒜、蛋清
				调料：盐、酱油、糖、料酒、沙茶酱、胡椒粉、油
				做法：牛肉切大片。芦笋去头，斜切成段。红辣椒斜切成圈。蒜切末。葱切段。牛肉加蛋清，少许盐、料酒、酱油抓匀，腌15分钟。芦笋在盐水中炒烫后沥干水分，淀粉加清水做成水淀粉。锅里放油中大火烧7分热，下蒜、葱、辣椒爆香，加牛肉爆炒快翻，再加盐、酱、油、糖、沙茶酱、胡椒粉、水淀粉。关火，加芦笋颠锅几下。
			</p>
			<strong>了解更多</strong>
		</div>
		<div class="heal-left">
			<img src="./img/13.jpg" />
		</div>
		<div class="heal-right">
			<h1>家常做法：</h1>
			<p>沙茶原产印度尼西亚，后传入潮州。沙茶原料丰富.因还有芥末、辣椒而色黄、味辣。广州人最爱以沙茶牛肉配炒面。 原料：牛里脊肉300克，芦笋50克，红辣椒1个，葱1棵，蒜、蛋清
				调料：盐、酱油、糖、料酒、沙茶酱、胡椒粉、油
				做法：牛肉切大片。芦笋去头，斜切成段。红辣椒斜切成圈。蒜切末。葱切段。牛肉加蛋清，少许盐、料酒、酱油抓匀，腌15分钟。芦笋在盐水中炒烫后沥干水分，淀粉加清水做成水淀粉。锅里放油中大火烧7分热，下蒜、葱、辣椒爆香，加牛肉爆炒快翻，再加盐、酱、油、糖、沙茶酱、胡椒粉、水淀粉。关火，加芦笋颠锅几下。
			</p>
			<strong>了解更多</strong>
		</div>

	</div>
	<nav>
		<h3>美食达人</h3>
	</nav>
	<div class="master min-width">.
		<ul>
			<li>
				<img src="./img/11.jpg" />
				<div class="master-info">
					<h1 class="master-h1">美食达人</h1>
				</div>
			</li>
			<li>
				<img src="./img/14.jpg" />
				<div class="master-info">
					<h1 class="master-h1">美食达人</h1>
				</div>
			</li>
			<li>
				<img src="./img/15.jpg" />
				<div class="master-info">
					<h1 class="master-h1">美食达人</h1>
				</div>
			</li>
			<li>
				<img src="./img/16.jpg" />
				<div class="master-info">
					<h1 class="master-h1">美食达人</h1>
				</div>
			</li>
		</ul>

	</div>
	<script src="js/nav.js" type="text/javascript">
	</script>
</body>

</html>