<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>不白吃美食讲解</title>
    <link rel="stylesheet" href="./css/5.css">
</head>

<body>
    <div class="nav">
        <ul class="uu-nav">
            <li class="logo">美食大全</li>
            <li class="nav-lists"><a href="./2.html">首页</a> </li>
            <li class="nav-lists"><a href="./3.html">饮食健康</a> </li>
            <li class="nav-lists"><a href="./4.html">美食达人</a> </li>
            <li class="nav-lists"><a href="./5.html">不白吃美食讲解</a> </li>
            <li class="nav-lists"><a href="./6.html">教你做美食</a> </li>
        </ul>
        <ul class="uu-lists">
            <li><a href="./2.html">首页</a> </li>
            <li><a href="./3.html">饮食健康</a> </li>
            <li><a href="./4.html">美食达人</a> </li>
        </ul>
    </div>
    <div class="text-box">
        <div class="content">
            <p class="text">《我是不白吃》是一部萌系科普动画，美食达人不白吃带你探索美食世界。
                动画主要发布在短视频平台，所以每集长度很短，但科普角度刁钻，观点
                新颖，幽默风趣。其招牌台词“我是不白吃，我真是太有文化了”一度成为
                热门流行语。更有每集必出场的嘤嘤怪助阵，让科普变得不死板不教条，
                令人看了还想看。</p>
        </div>
    </div>
        <nav>
            <h3>不白吃美食文化</h3>
            <div class='bbc-wrapper'>
                <img src="./img/18.jpg" alt="">
                <p id='blink'>《我是不白吃》是一部萌系科普动画，美食达人不白吃带你探索美食世界。
                    动画主要发布在短视频平台，所以每集长度很短，但科普角度刁钻，观点
                    新颖，幽默风趣。其招牌台词“我是不白吃，我真是太有文化了”一度成为
                    热门流行语。更有每集必出场的嘤嘤怪助阵，让科普变得不死板不教条，
                    令人看了还想看。</p>
            </div>
        </nav>

        <nav>
            <h3>不白吃美食系列</h3>
            <ul class='xl-list'>
                <li>
                    <h4>不白吃短视频</h4>
                    <p class='xl-p'>不白吃通过生动有趣的讲述，将令人垂涎三尺的美食
                        和底蕴深厚的传统文化巧妙的融合在一起，让粉丝在
                        捧腹大笑、忍俊不禁的同时，不仅对视频里的美食心
                        之向往，还在不知不觉中涨了知识。</p>
                </li>
                <li>
                    <h4>不白吃漫画食物简史</h4>
                    <p class='xl-p'>“我是不白吃”第一部美食
                        科普漫画书，用轻松幽默的漫画形式解读食物背后的
                        起源发展、名人轶事、生物学、植物学等等美食知识
                        ，生动有趣的画面，严谨易懂的语言，帮助每一个吃
                        货快速了解美食的文化和历史。</p>
                </li>
                <li>
                    <h4>不白吃漫画食物简史</h4>
                    <p class='xl-p'>详解了69种食物起源和轶事
                        ，让用户60秒get一种美食历史，如：茄子和土豆竟
                        然是一家；奇异果的祖籍居然是中国；孔子不学费只
                        收腊肉等等~各种美食的奇妙知识都能在这里找到答案。</p>
                </li>
            </ul>
        </nav>
        <nav>
            <h3>不白吃热门视频</h3>
            <ul class='sp-list'>
                <li>
                    <video src="./img/f1.mp4" controls></video>
                </li>
                <li>
                    <video src="./img/f2.mp4" controls></video>
                </li>
                <li>
                    <video src="./img/f3.mp4" controls></video>
                </li>
                <li>
                    <video src="./img/f4.mp4" controls></video>
                </li>
            </ul>
        </nav>
    <script src="./css/script.js"></script>
        <script src="./css/script5.js"></script>
</body>

</html>