<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>美食菜谱</title>
  </head>
  <link rel="stylesheet" href="./css/6.css" />

  <body>
    <div class="nav">
      <ul class="uu-nav">
        <li class="logo">美食大全</li>
        <li class="nav-lists"><a href="./2.html">首页</a></li>
        <li class="nav-lists"><a href="./3.html">饮食健康</a></li>
        <li class="nav-lists"><a href="./4.html">美食达人</a></li>
        <li class="nav-lists"><a href="./5.html">不白吃美食讲解</a></li>
        <li class="nav-lists"><a href="./6.html">教你做美食</a></li>
      </ul>
      <ul class="uu-lists">
        <li><a href="./2.html">首页</a></li>
        <li><a href="./3.html">饮食健康</a></li>
        <li><a href="./4.html">美食达人</a></li>
      </ul>
    </div>
    <div class="text-box">
      <div class="content">
          <p class="text">美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记美食日记</p>
      </div>
  </div>
    <nav>
      <h3>美食日记</h3>
    </nav>
    <h4 class="page-title">烘焙新手可以尝试的古早蛋糕</h4>
    <div class="box">
      <div class="cover"></div>
      <div class="ings">
          <div class='yl'>用料:</div>
        <table>
          <tbody>
            <tr>
              <td class="name">
                <a href="#">玉米油</a>
              </td>
              <td class="unit">60克</td>
            </tr>

            <tr>
              <td class="name">
                <a href="#">低筋面粉</a>
              </td>
              <td class="unit">110克</td>
            </tr>

            <tr>
              <td class="name">
                <a href="#">牛奶</a>
              </td>
              <td class="unit">100毫升</td>
            </tr>

            <tr>
              <td class="name">
                <a href="#">鸡蛋</a>
              </td>
              <td class="unit">6个</td>
            </tr>

            <tr>
              <td class="name">
                <a href="#">细砂糖</a>
              </td>
              <td class="unit">70克</td>
            </tr>

            <tr>
              <td class="name">
                <a href="#">盐</a>
              </td>
              <td class="unit">3克</td>
            </tr>

            <tr>
              <td class="name">白醋或柠檬汁</td>
              <td class="unit">5滴</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <h2 class="recipe"></h2>
      <h4 class="page-title">烘焙新手可以尝试的古早蛋糕的做法</h4>
      <div class="steps">
        <ol>
          <li class="container">
            <p class="text" style="">把油加热到出油丝。</p>
            <img
              src="./img/6758adbb2f6348dbbd369f2a35095ba2_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤1"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">筛入低筋面粉。</p>
            <img
              src="./img/ac68f172e3db494896e388abf02a552b_1656w_1242h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤2"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">搅拌成上图状。</p>
            <img
              src="./img/ca86a8c95c584a6e95550be6f5b1f156_1656w_1242h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤3"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">
              分次加入牛奶。我用的是德运牛奶，比较有奶香味。
            </p>
            <img
              src="./img/fdc68aae09ca4fba85eeb68b603ed9b7_1656w_1242h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤4"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">搅拌均匀。</p>
            <img
              src="./img/4831897ea1254cc3a97bf5c91e4a06ff_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤5"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">加入蛋黄。</p>
            <img
              src="./img/6f43b13b5d99423a908ac7fcde00f770_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤6"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">Z字形搅拌均匀。</p>
            <img
              src="./img/65794fb0912f47058d75138039f00b09_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤7"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">在蛋清中加入盐。</p>
            <img
              src="./img/e96ffdae63b34968bae7320f18f97d99_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤8"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">加入白醋或柠檬汁。</p>
            <img
              src="./img/4a558e89ca74470bbaf528acbb1e3a7a_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤9"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">
              打发至有打泡泡的时候，加入三分之一的白砂糖。
            </p>
            <img
              src="./img/35e09790020242f78fa792919fe74427_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤10"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">
              打发至有白色小泡泡时，再加入三分之一白砂糖。
            </p>
            <img
              src="./img/e9dad34329de4bab8be12df85d374c19_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤11"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">打发至有轻微的纹路时，加入剩下的糖。</p>
            <img
              src="./img/2cc074d5f9a4458bb00e7c905474b24d_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤12"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">打发至小尖角状态，倒扣不掉。</p>
            <img
              src="./img/e211bae1f64a4f758e10586f87354cfd_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤13"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">
              倒扣不掉。注意：此时要打开<a href="/category/40057/">烤箱</a
              >预热，格兰仕烤箱，开上下火，110度。
            </p>
            <img
              src="./img/d49e74532d3f463491ffdad2f0a583ee_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤14"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">
              在蛋黄糊中加入三分之一蛋清糊，翻拌均匀。
            </p>
            <img
              src="./img/d25fbd30bc64454fac11c7e25413f8a7_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤15"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">翻拌手法。</p>
            <img
              src="./img/ad0a746f7934453eba2f08a91e3a7cfe_480w_384h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤16"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">
              将翻拌均匀的那部分全部倒至剩下的蛋清糊中，翻拌均匀。
            </p>
            <img
              src="./img/599e968e32604afa80d321c89cf14597_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤17"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">在模具中铺好油纸。</p>
            <img
              src="./img/c1685521df254f8bb8e193856cdf39f6_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤18"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">
              倒入<a href="/category/20158/">蛋糕</a>糊。
            </p>
            <img
              src="./img/f5a8ba3c0db741b0bdb174be53c711cb_1242w_1656h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤19"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">放入烤箱最底层。烤55分钟。</p>
            <img
              src="./img/360a3aef9dc249b2a1006b54493997f3_1656w_1242h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤20"
              width="300"
            />
          </li>

          <li class="container">
            <p class="text" style="">出炉。</p>
            <img
              src="./img/c874a0142f394c87a395365c74de631d_480w_384h.jpeg"
              alt="烘焙新手可以尝试的古早蛋糕的做法 步骤21"
              width="300"
            />
          </li>
        </ol>
      </div>
    </div>
    <script src="./css/script.js"></script>
    <script src="./css/script6.js"></script>
  </body>
</html>
