<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>个人文集</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="banner">
          <img src="../images/banner.jpg" alt="" />
        </div>
        <div class="menu-wrap">
          <ul class="menu-list">
            <li>
              <a href="demo.html"> 首页 </a>
            </li>
            <li>
              <a href="demo.html"> 心情日记 </a>
            </li>
            <li>
              <a href="demo.html"> Free </a>
            </li>
            <li>
              <a href="#experience"> 心得 </a>
            </li>
            <li>
              <a href="#relay"> 转播设备 </a>
            </li>
            <li>
              <a href="#trip"> 旅途 </a>
            </li>
            <li>
              <a href="#introduce"> 自我介绍 </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="content-left">
          <div class="note">
            <p class='img-box'>
              <img src="../images/selfpic1.jpg" alt="" />
            </p>
            <p>我的日记本</p>
            <p>
              秋天过半的时候，我搭上了一列火车。我不知道它将要去往的方向，那铁路看上去无休无止地延伸着。
            </p>
          </div>
          <div class="mood">
            <p class='img-box'>
              <img src="../images/selfpic2.jpg" alt="" />
            </p>
            <p>心情轨迹</p>
            <p>
              无意间发见，白云的上面，长着许许多多的蒲公英。它在我面前迅速的长大，风吹过的时候，纷纷升起，飞向无数的远方。
            </p>
          </div>
        </div>
        <div class="content-right">
          <div class='right-box'>
          <div id="experience">
            <h3>心得</h3>
            <p>
              火车经过一个又一个站台，窗外漫卷的蒲公英向我微笑着。我逐渐记起了自己旅行的目的，一直都在下一站的前方。火车缓缓地驶入站台，汽笛声响的那一瞬间，车厢变得透明，我看见，自己和这长长的列车一起，正在漫天飘舞着的蒲公英中飞行。
            </p>
          </div>
          <div id="relay">
            <h3>转播设备</h3>
            <p>
              我现在是在万泉河附近，我们的转播车就在旁边不远的地方，师傅马上将会把车开过来。我们的转播设备非常的先进，具体怎么先进我也说不清，师傅比我清楚，总之就是特别特别先进。好，现在师傅已经把转播车开过来了。⋯⋯
            </p>
          </div>
          <div id="trip">
            <h3>旅途</h3>
            <p>
              夕阳 染红蓝天<br />
              带走 美好的一天<br />
              风 吹过大地<br />
              炫美的世界
            </p>
            <p>
              霞光 点亮星辰<br />
              燃起 辽远的梦幻<br />
              流星 划过夜空<br />
              忆起 逝夜的歌声
            </p>
            <p>
              是谁昨夜背上行囊<br />
              唱一首满载风尘的歌<br />
              今夜才又想起拥抱的时刻
            </p>
            <p>
              独自走的一段旅程<br />
              是否还装满苦涩<br />
              一路风雨飘摇 那坎坷对谁说
            </p>
            <p>
              来吧看这远处亮起的点点星火<br />
              伸手触摸那写在匆匆旅程的歌<br />
              谁在转过的街口从容挥手<br />
              谁用欢笑和拥抱<br />
              记住这一刻
            </p>
          </div>
          <div id="introduce">
            <h3>自我介绍</h3>
            <p>我是一个正在努力学习的在校学生。......</p>
          </div>
          </div>
        </div>
      </div>
      <div class='footer'>
        版权所有 2006.12.7 Next Station
      </div>
      <div class='fix-item right'>
        <p>不积硅步</p>
        <p>无以至千里</p>
      </div>
      <div class='fix-item left'>
        <p>一滴汗水</p>
        <p>一份收获</p>
      </div>
    </div>
  </body>
</html>
