<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频报道</title>
    <link rel="stylesheet" href="CSS/common.css">
    <link rel="stylesheet" href="CSS/bingqiubinghu.css">
    <link rel="stylesheet" href="CSS/huaxuehuabing.css">
</head>

<body>
    <!-- 顶部导航栏 -->
    <div class="nav_s">
        <div class="left">冬奥会</div>
        <div class="middle">
            <ul class="nav_ul_s">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a href="huaxuehuabing.html">滑冰</a>
                </li>
                <li class="pitch">
                    <a href="javascript:;">视频报道</a>
                </li>
                <li>
                    <a href="xuechexueqiao.html"> 焦点新闻</a>
                    <span></span>
                </li>
                <li>
                    <a href="dongjiliangxiang.html">冬季两项</a>
                </li>
                <li>
                    <a href="log_in.html">登录</a>
                </li>
                <li>
                    <a href="sign_in.html">注册</a>
                </li>
            </ul>
        </div>
        <div class="right username">
            <div class="pic">
            </div>
            <span>Quester</span>
        </div>
    </div>
    <!-- 视频部分 -->
    <table>
        <tr>
            <td>
                <h2>精彩视频</h2>
            </td>
        </tr>
        <tr>
            <td><video src="dongaohui.mp4" autoplay controls loop></video></td>
        </tr>
    </table>

    <hr>
</body>

</html>