<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>冬季两项</title>
    <link rel="stylesheet" href="CSS/common.css">
    <link rel="stylesheet" href="CSS/huaxuehuabing.css">
</head>

<body>
    <!-- 顶部导航栏 -->
    <div class="nav_s">
        <div class="left">冬奥会</div>
        <div class="middle">
            <ul class="nav_ul_s">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a href="huaxuehuabing.html">滑冰</a>
                </li>
                <li>
                    <a href="bingqiubinghu.html">视频报道</a>
                </li>
                <li>
                    <a href="xuechexueqiao.html"> 焦点新闻</a>
                    <span></span>
                </li>
                <li class="pitch">
                    <a href="javascript:;">冬季两项</a>
                </li>
                <li>
                    <a href="log_in.html">登录</a>
                </li>
                <li>
                    <a href="sign_in.html">注册</a>
                </li>
            </ul>
        </div>
        <div class="right username">
            <div class="pic">
            </div>
            <span>Quester</span>
        </div>
    </div>
    <div class="pic" style="background:url('images/11.jpeg') no-repeat center center;background-size: 1800px 900px;">
    </div>
    <hr>
    <div class="contain">
        <h3>简介</h3>
        <p>冬季两项是雪上运动项目之一，也是冬奥会的正式项目之一。由越野滑雪和射击两种特点不同的相结合的竞赛项目结合在一起进行的运动，要求运动员既要有由动转静的能力，又要有由静转动的能力</p>
        <h4>历史</h4>
        <p>冬季两项历史悠久，起源于斯堪的纳维亚半岛，由远古时代的滑雪狩猎演变而来。在挪威、荷兰和瑞典等北欧国家的一些约4000多年前的石制雕刻品中，就刻有两人足蹬雪板，手持棍棒在雪地里追捕动物的情景。中世纪开始逐渐纳入军事训练科目。
            1767年，守卫在挪威与瑞典边界的挪威边防军巡逻队，曾举办了第一次滑雪和射击比赛。规定滑完全程，滑行途中用步枪射击40至50步远的靶标，成绩最优者可得到价值相当于20克朗的奖品，据记载这是世界上最早的冬季两项比赛。
            1861年，挪威成立世界上最早的滑雪射击俱乐部。
            1912年，挪威军队在奥斯陆举行名称“为了战争”的滑雪射击比赛。后逐渐在欧美国家开展，成为一种体育运动项目。 1924年，被列为首届冬奥会（1924年夏慕尼冬季奥运会）表演项目。
            1958年，举行第1届世界冬季两项锦标赛。 1960年，在第八届冬季奥运会上被正式列为比赛项目的，并定名为冬季两项。只有20公里越野滑雪加4次射击组成的1个竞赛项目。
            1968年，在第10届冬季奥运会上增加了4×7.5公里接力。 1980年，在第13届冬季奥运会上又增加了10公里越野滑雪加2次射击的竞赛项目。
            1992年，在法国举办的第16届冬季奥运会上，女子冬季两项第1次被列为正式比赛项目。 1993年，国际奥委会正式批准国际冬季两项联盟成立。
            2002年，在美国盐湖城冬奥会上增设男子10公里和女子7.5公里追逐赛成为比赛项目。
            2006年，在意大利都灵冬奥会上，男子15公里集体出发赛和12.5公里集体出发赛在首次亮相奥运会。2014年，在索契冬奥会上，现代冬季两项增加了混合接力赛，首次成为冬奥项目
        </p>
        <h4>重要赛事</h4>
        <p>冬季两项世界杯：一项冬季项目的系列比赛，比赛分男子组和女子组进行。男子组从1977至1978年赛季开始，女子组从1982至1983年赛季开始，女子组比赛1986至1987年赛季前被称为欧洲冠军杯，但参与并不局限于欧洲人。世界杯冬季两项赛比赛的一般比赛持续时间在9至10周。在每场项目中，各选手及国家会依照其获得的名次换算为积分，在该赛季结束后总和积分最高者即为此届冬季两项世界杯的冠军。冬季两项世界杯每年皆会计算与举行。
            奥林匹克运动会：在冬季奥运会上，进行男子5项、女子5项及混合1项共11个项目。分为个人、短距离、接力、追逐、集体出发等项目。男子：冬季两项男子10公里短距离；冬季两项男子20公里个人；冬季两项男子4
            ×7.5公里接力；冬季两项男子12.5公里追逐；冬季两项男子15公里集体出发女子：冬季两项女子7.5公里短距离；冬季两项女子15公里个人；冬季两项女子4×6公里接力；冬季两项女子10公里追逐；冬季两项女子12.5公里集体出发；冬季两项混合接力：女子2×6公里+男子2×7.5公里。
        </p>
    </div>
    <hr>
    <div class="pic">
        <img src="images/18.jpeg" alt="">
    </div>
</body>

</html>