<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>滑冰</title>
    <link rel="stylesheet" href="CSS/common.css">
    <link rel="stylesheet" href="CSS/huaxuehuabing.css">
</head>

<body>
    <!-- 顶部导航栏 -->
    <div class="nav_s">
        <div class="left">冬奥会</div>
        <div class="middle">
            <ul class="nav_ul_s">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li class="pitch">
                    <a href="javascript:;">滑冰</a>
                </li>
                <li>
                    <a href="bingqiubinghu.html">视频报道</a>
                </li>
                <li>
                    <a href="xuechexueqiao.html"> 焦点新闻</a>
                    <span></span>
                </li>
                <li>
                    <a href="dongjiliangxiang.html">冬季两项</a>
                </li>
                <li>
                    <a href="log_in.html">登录</a>
                </li>
                <li>
                    <a href="sign_in.html">注册</a>
                </li>
            </ul>
        </div>
        <div class="right username">
            <div class="pic">
            </div>
            <span>Quester</span>
        </div>
    </div>
    <div class="pic"  style="background:url('images/2.jpeg') no-repeat center center;background-size: 1800px 900px;">
    </div>
    <hr>
    <div class="contain">
        <h3>速度滑冰</h3>
        <p>北京冬奥会速度滑冰比赛场地将在北京赛区的国家速滑馆（冰丝带）举行，一共将产生14枚金牌。北京冬奥会比赛场地将采用最新环保技术制冰，冰面温度为零下6℃至10.5℃，厚度为2.5厘米。
        <p>个人比赛每组两名选手，内外两道抽签决定，每滑行一圈双方都要交换赛道，根据滑行成绩排列名次，用时少者获胜。</p>
        <p>团体追逐赛每组2队，每队3名选手，从相对的直道上同时出发。男子滑行8圈、女子滑行6圈后，以最后通过终点选手的时间决出胜负。</p>
        <p>集体出发比赛，运动员在起跑处站成几排，每排最多6人。出发后第一圈，只能跟随1号选手滑行，等到再次鸣枪才能加速超越。</p>
        <p>速度滑冰赛道长，速度快，比赛服装都要考虑风的阻力，紧身服将帽子、上衣、裤子连成一体，由富有弹性的材料制成，经过严格的风洞测试，把阻力降到最小。
            克莱普新式冰刀别具一格，这种冰刀只有前点与冰鞋固定连接，后点与冰鞋不固定，从而延长了蹬冰距离，优化了动作结构，提高了滑行速度。
        </p>
        <h3>花样滑冰</h3>
        <p>花样滑冰起源于18世纪的英国，后相继在德国、美国、加拿大等欧美国家迅速开展。1872年奥地利首次举办花样滑冰比赛，1924年被列为首届冬奥会比赛项目。</p>
        <p>北京2022年冬奥会花样滑冰比赛将在北京赛区的首都体育馆进行，一共将产生5枚金牌。花滑比赛场地将采用最先进的环保技术制冰，冰面温度为零下3.5至4度，厚度为4.5至6厘米。</p>
        <p>花样滑冰比赛不允许使用布景和灯光效果，服装成为艺术表演的唯一辅助因素。男子着长裤，女子可以穿裙子或连体服。花滑比赛需要与背景音乐相配合，反映编排的主题与意境。花滑冰刀刀身下面有半圆弧形的浅槽。前端有刀齿，便于完成跳跃和旋转动作。
        </p>
        <p>花样滑冰比赛由两部分组成：男、女单人滑和双人滑分别进行短节目和自由滑的比赛；冰上舞蹈进行韵律舞和自由舞的比赛。短节目和韵律舞都有规定动作。裁判按技术分和节目内容分为选手的每段表演打分，每个阶段的总分之和为最后得分。
        </p>
        <p>虽然都是一男一女表演，但双人滑包含跳跃、抛跳、捻转等动作，注重动作的难度和完成质量。冰舞更强调舞蹈的韵味和表现力，技术动作不包括跳跃，托举时，男伴的主托举手不能超过头部。</p>

        <div class="huabing">
            <img src="images/13.jpeg" alt="">
            <img src="images/14.jpeg" alt="">
        </div>
    </div>
</body>

</html>