<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>
    <!-- 顶部导航栏 -->
    <div class="nav_s">
        <div class="left">冬奥会</div>
        <div class="middle">
            <ul class="nav_ul_s">
                <li class="pitch">
                    <a href="javascript:;">首页</a>
                </li>
                <li>
                    <a href="huaxuehuabing.html">滑冰</a>
                </li>
                <li>
                    <a href="bingqiubinghu.html">视频报道</a>
                </li>
                <li>
                    <a href="xuechexueqiao.html"> 焦点新闻</a>
                    <span></span>
                </li>
                <li>
                    <a href="dongjiliangxiang.html">冬季两项</a>
                </li>
                <li>
                    <a href="log_in.html">登录</a>
                </li>
                <li>
                    <a href="sign_in.html">注册</a>
                </li>
            </ul>
        </div>
        <div class="right username">
            <div class="pic">
            </div>
            <span>Quester</span>
        </div>
    </div>
    <!-- 轮播图部分 -->
    <div class="lunbotu">
        <ul class="pic">
            <li>
                <img src="./images/19.jpeg" alt="">
            </li>
            <li></li>
            <li></li>
        </ul>
        <ul class="point">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- 体育start -->
    <div class="sport">
        <div class="top">
            <h2>体育运动</h2>
        </div>
        <div class="bottom">
            <div class="s_box">
                <a href="javascript:;"><img src="images/2.jpeg" alt=""></a>
                <p>
                    <a href="javascript:;">滑雪运动是运动员把滑雪板装在靴底上在雪地上进行速度、跳跃和滑降的竞赛运动。</a>
                </p>
                <span class="left"><a href="javascript:;">冬奥会</a></span>
                <span class="right"><a href="javascript:;"></a></span>
            </div>
            <div class="s_box"  >
                <a href="javascript:;"><img src="images/3.jpeg" alt=""></a>
                <p>
                    <a href="javascript:;">滑冰是一项集速度、协调、力量、耐力、柔韧、平衡、灵活、优美、稳定于一身的运动项目。</a>
                </p>
                <span class="left"><a href="javascript:;">冬奥会</a></span>
                <span class="right"><a href="javascript:;"></a></span>
            </div>
            <div class="s_box"  >
                <a href="javascript:;"><img src="images/4.jpeg" alt=""></a>
                <p>
                    <a href="javascript:;">冰球运动（Ice
                        Hockey）是以冰刀和冰球杆为工具在冰上进行的一种相互对抗的集体性竞技运动。</a>
                </p>
                <span class="left"><a href="javascript:;">冬奥会</a></span>
                <span class="right"><a href="javascript:;"></a></span>
            </div>
            <div class="s_box">
                <a href="javascript:;"><img src="images/5.jpeg" alt=""></a>
                <p>
                    <a href="javascript:;">冰壶（Curling）又称掷冰壶，冰上溜石，是以队为单位在冰上进行的一种投掷性竞赛项目。</a>
                </p>
                <span class="left"><a href="javascript:;">冬奥会</a></span>
                <span class="right"><a href="javascript:;"></a></span>
            </div>
            <div class="s_box">
                <a href="javascript:;"><img src="images/6.jpg" alt=""></a>
                <p>
                    <a href="javascript:;">雪车也称“有舵雪橇”，是一种集体乘坐雪车，是乘坐可操纵方向的雪橇在冰道上滑行的运动项目。</a>
                </p>
                <span class="left"><a href="javascript:;">冬奥会</a></span>
                <span class="right"><a href="javascript:;"></a></span>
            </div>
            <div class="s_box">
                <a href="javascript:;"><img src="images/7.jpeg" alt=""></a>
                <p>
                    <a href="javascript:;">雪橇（sled），在比赛中乘坐双橇滑板沿着有各种弯度的专用冰道高速滑降至终点的一种运动。</a>
                </p>
                <span class="left"><a href="javascript:;">冬奥会</a></span>
                <span class="right"><a href="javascript:;"></a></span>
            </div>
            <div class="s_box">
                <a href="javascript:;"><img src="images/8.jpeg" alt=""></a>
                <p>
                    <a href=" javascript:;">冬季两项是雪上运动项目之一，也是冬奥会的正式项目之一。</a>
                </p>
                <span class="left"><a href="javascript:;">冬奥会</a></span>
                <span class="right"><a href="javascript:;"></a></span>
            </div>
            <div class="s_box">
                <a href="javascript:;"><img src="images/9.jpeg" alt=""></a>
                <p>
                    <a href=" javascript:;">冬季两项是由越野滑雪和射击两种特点不同的相结合的竞赛项目结合在一起进行的运动。</a>
                </p>
                <span class="left"><a href="javascript:;">冬奥会</a></span>
                <span class="right"><a href="javascript:;"></a></span>
            </div>
            <div class="s_box">
                <a href="javascript:;"><img src="images/9.jpeg" alt=""></a>
                <p>
                    <a href=" javascript:;">冬季两项是由越野滑雪和射击两种特点不同的相结合的竞赛项目结合在一起进行的运动。</a>
                </p>
                <span class="left"><a href="javascript:;">冬奥会</a></span>
                <span class="right"><a href="javascript:;"></a></span>
            </div>
        </div>
    </div>
    <!-- 体育end -->

</body>

</html>