<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="CSS/sign_in.css">
</head>

<body>
    <div class="sign_in">
        <h2>注册</h2>
        <p>用户名</p>
        <input type="text" placeholder="请输入用户名">
        <p>密码</p>
        <input type="password" name="" id="" placeholder="请输入密码">
        <button>注册</button>
        <a href="index.html">返回</a>
    </div>
</body>

</html>