<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 焦点新闻</title>
    <link rel="stylesheet" href="CSS/common.css">
    <link rel="stylesheet" href="CSS/huaxuehuabing.css">
</head>

<body>
    <!-- 顶部导航栏 -->
    <div class="nav_s">
        <div class="left">冬奥会</div>
        <div class="middle">
            <ul class="nav_ul_s">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a href="huaxuehuabing.html">滑冰</a>
                </li>
                <li>
                    <a href="bingqiubinghu.html">冰球冰壶</a>
                </li>
                <li class="pitch">
                    <a href="xuechexueqiao.html"> 焦点新闻</a>
                    <span></span>
                </li>
                <li>
                    <a href="dongjiliangxiang.html">冬季两项</a>
                </li>
                <li>
                    <a href="log_in.html">登录</a>
                </li>
                <li>
                    <a href="sign_in.html">注册</a>
                </li>
            </ul>
        </div>
        <div class="right username">
            <div class="pic">
            </div>
            <span>Quester</span>
        </div>
    </div>
    <hr>
    <div class="contain">
        <h3>以压线冲刺状态全力抓好冬奥疫情防控和筹办工作！ 蔡奇、陈吉宁检查冬奥北京赛区</h3>
        <p>
            11月13日上午，北京市委书记、北京冬奥组委主席蔡奇到北京冬奥会、冬残奥会北京赛区检查场馆疫情防控和筹办工作。他强调，冬奥筹办工作已进入最后冲刺阶段，要牢牢把握“简约、安全、精彩”的办赛要求，以压线冲刺状态，全力抓好冬奥疫情防控和筹办工作，确保北京冬奥会如期安全顺利举办。
            北京市委副书记、市长、北京冬奥组委执行主席陈吉宁，市人大常委会主任李伟，市委副书记张延昆一同检查。
        </p>
        <div class="xueche">
            <img src="images/000_1.jfif" alt="">
        </div>
        <p class="imgText">了解场馆功能分区等情况</p>
        <p>
        <div class="xueche">
            <img src="images/000——2.jfif" alt="">
        </div>
        <p class="imgText">改造一新的首都体育馆</p>
        <p>
            首都体育馆赛时承担短道速滑和花样滑冰比赛项目，蔡奇、陈吉宁逐一检查运动员区、新闻发布厅、混采区等场所，了解疫情防控、场馆运行、功能分区等情况。
            蔡奇为场馆科技防疫举措点赞，强调，确保安全是成功办赛的前提，疫情防控是重中之重。要严格按照防疫手册要求，仔细排查风险点，科学设计通风系统，做好场馆重点区域通风、消毒。
            要严格闭环管理，加强服务保障，规范细化场馆引导标识，使各客户群有更好参赛体验。对“相约北京”测试赛要及时复盘评估、改进提升。
            加强赛场医疗保障，提高应急救治服务水平。赛区各场馆实行扁平化管理，属地做好外围保障。
        </p>
        <div class="xueche">
            <img src="images/000_3.jfif" alt="">
        </div>
        <p class="imgText">
            运动员餐厅已准备就绪
        </p>
        <p>
            北京冬奥村包括运行区、居住区、广场区三大功能区域，是北京冬奥会最大的非竞赛场馆，正有序推进设备安装、物资移入等相关工作，11月20日将进行全要素测试。蔡奇依次检查运动员餐厅、综合商业区、居住区样板间和综合诊所等区域，称赞北京冬奥村从衣食住行各个方面，为运动员打造了舒适、安全、科技范儿十足的“北京样板”。他说，北京冬奥村就是一个小社区，是冬奥会运动员之家。要以运动员为中心，发扬东道主精神，提供热情、贴心的服务，展现北京风采，让每位运动员宾至如归。要落实村长负责制，加强安全管理，细化村内全业务领域防疫措施和人员流线，组织好每日核酸检测，确保冬奥村平稳运行、安全有序。
        </p>
        <p>
            国家会议中心二期南区是冬奥会主媒体中心。蔡奇在主新闻发布厅通过视频察看闭环内媒体工作情况，检查文字记者工作区和智慧餐厅。他指出，这里是媒体和转播商大本营，要做好场地“闭环内外”防疫管理，在确保安全前提下向媒体提供优质、便捷、周到的服务，更好呈现冬奥精彩赛事，宣介美丽北京，展现“双奥之城”魅力。场馆施工要抓紧收尾，保障消防安全。细节最能体现城市文明，要做好城市景观设计，抓好垃圾分类等“关键小事”。
        </p>
        <p>国家卫生健康委、国家体育总局、北京市和北京冬奥组委领导曾益新、高志丹、张家明、张建东、卢彦、于鲁明、刘伟、杨树安、韩子荣，市政府秘书长戴彬彬参加。</p>
        <p>欧洲的现代雪橇运动起源于瑞士。1884年英国举行首次雪橇公开赛。1924年列为首届冬奥会比赛项目，分有舵雪橇和无舵雪橇两种类型。 中国东北人使用马拉雪橇。 哈萨克斯坦人坐鹿雪橇。 古埃及的工匠会用到类似于雪橇的东西。
        </p>
        <p>（文/刘菲菲 武红利 摄影/戴冰）
        </p>
    </div>
</body>

</html>