<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>张家口</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-wraper">
          <div class="logo">
            <a href="/"></a>
          </div>
          <ul class="nav-list">
            <li>
              <a href="./index.html">首页</a>
            </li>
            <li>
              <a href="./mudidi.html">目的地</a>
            </li>
            <li>
              <a href="./luxian.html">路线</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="shadow"></div>
      <div class="content">
        <div class="placeTop">
          <div class="wrapper">
            <div class="title">
              <h1>张家口</h1>
              <span class="en">Zhangjiakou</span>
            </div>
            <div
              class="place-navbar"
              style="border-top: 0"
            >
            </div>
          </div>
        </div>
        <div class="introduction-box">
          <div class="introduction clearfix">
            <div class="introduction-main">
              <a class="photo" href="#">
                <img
                  src="../images/wKgB4lMPBRyAHVY4AAUaSrIwRmY371.png"
                  width="680"
                  height="360"
                />
              </a>
            </div>
            <div class="introduction-slide">
              <div class="m-impress">
                <h3 class="hd">张家口印象</h3>
                <div class="bd clearfix">
                  <div
                    class="t-info"
                    style="font-size: 14px; line-height: 26px"
                  >
                    <p>
                      张家口位于中国河北省西北部，是一座有着悠久历史和灿烂文化的北方名城，自古即为兵防重镇和进入蒙俄及东欧市场的陆路商埠，是奠定中华民族融合统一的重要圣地，有优越...
                      <a href="#" class="more-mdd-desc">更多&gt;&gt;</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="m-nearby">
                <img src="./images/WX20211213-135357@2x.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="travel-box">
          <div class="travel">
            <h2 class="r-title">自由行攻略</h2>
            <div class="local-pro">
              <ul class="clearfix">
                <li>
                  <a class="img" href="#">
                    <img
                      src="./images/wKgED1wSHRmAMrJSAAQ_Z_x75k495.jpeg"
                      width="320"
                      height="170"
                    />
                  </a>
                  <a class="title" href="#">到赤城泡温泉怎么玩</a>
                  <p>1、行车路线</p>
                  <p>（1）自驾</p>
                  <div class="more">
                    <a class="a-link" href="#"
                      ><span class="icon-link"></span>查看详情</a
                    >
                  </div>
                </li>
                <li>
                  <a class="img" href="#">
                    <img
                      src="./images/wKgBZ1oLvDCAFdo2AACbdLkxKXc97.jpeg"
                      width="320"
                      height="170"
                    />
                  </a>
                  <a class="title" href="#"
                    >燕赵军镇读书声，农耕与游牧世界之间的张家口</a
                  >
                  <p>抵御外敌威胁</p>
                  <p>化干戈为玉帛</p>
                  <div class="more">
                    <a class="a-link" href="#"
                      ><span class="icon-link"></span>查看详情</a
                    >
                  </div>
                </li>
                <li>
                  <a class="img" href="#">
                    <img
                      src="./images/wKgBZ1nuqqyALHa5ABUEeQM_PaM05.jpeg"
                      width="320"
                      height="170"
                    />
                  </a>
                  <a class="title" href="#"
                    >万龙滑雪场全攻略 | 去万龙滑雪，看这一篇就够啦！</a
                  >
                  <p>一、万龙滑雪场介绍</p>
                  <p>1.雪场规模</p>
                  <div class="more">
                    <a class="a-link" href="#"
                      ><span class="icon-link"></span>查看详情</a
                    >
                  </div>
                </li>
              </ul>
            </div>
            <div class="r-more">
              <a href="#">查看全部</a>
            </div>
          </div>
        </div>
        <div class="hotel-box">
          <div class="hotel">
            <h2 class="r-title">
              酒店精选
              <span>来的游客 大多会关注：</span>
              <a
                class="change"
                href="#"
              >
              </a>
            </h2>
            <div class="local-pro">
              <ul class="clearfix">
                <li>
                  <a href="#"  >
                    <img
                      src="http://t1-q.mafengwo.net/s12/M00/C6/69/wKgED1vYIvyAITecADkDtrDN0j058.jpeg?imageMogr2%2Fthumbnail%2F%21310x310r%2Fgravity%2FCenter%2Fcrop%2F%21310x310%2Fquality%2F100"
                    />
                    <div class="img-bag">
                      <h2>尽享草原风光</h2>
                      <p>
                        来张家口游玩一定不能错过草原风光，吃烤全羊、骑马、看当地表演，还能住进以下精选酒店，近距离感...
                      </p>
                    </div>
                  </a>
                </li>
                <li  >
                  <a href="#"  >
                    <img src="./images/wKgED1uh-Q2AR2w3AAMrLZp8C4o06.jpeg" />
                    <div class="img-bag">
                      <h2>崇礼滑雪度假</h2>
                      <p>
                        冬季即将来临，崇礼也会变成一片白色的世界，在这里选上一间酒店，随时享受滑雪的乐趣。
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/wKgED1uh_AuAG_iBAAiEN4c5dis002.png" />
                    <div class="img-bag">
                      <h2>带娃爱住</h2>
                      <p>
                        “塞外山城”张家口是亲子游的热门目的地。带上宝贝，领略壮观的长城要隘、去张北草原自驾、到崇礼...
                      </p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="r-more">
              <a href="#">查看该地区全部酒店</a>
            </div>
          </div>
        </div>
        <div class="yj-box">
          <div class="yj">
            <div class="navbar clearfix">
              <ul class="tn-nav">
                <li class="active">张家口游记</li>
              </ul>
            </div>
            <div class="yj-content">
              <div class="tn-list">
                <div class="tn-item clearfix">
                  <div class="tn-image">
                    <img
                      src="./images/CoUBUl9LlEmAYtFOAAb26xVFYtY535.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="tn-wrapper">
                    <dl>
                      <dt>
                        <a href="#" class="title-link"
                          >张家口大境门 西太平山野长城</a
                        >
                      </dt>
                      <dd>
                        <a href="#"
                          >上看到的小野花。 感觉好漂亮呀！
                          还有这个像小西红柿的，不知道是什么东西，闻着味道怪怪的。
                          重点来喽，先来一个全景
                          我是一只沿着长城上边走到了对面的山顶。
                          也真是佩服自己的勇气。 城墙有一段还是挺高的。
                          走在上边儿一定要注意。 长城高就有差不多七八米。
                          终...</a
                        >
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="tn-item clearfix">
                  <div class="tn-image">
                    <img
                      src="./images/wKgE2l1Hrh2ARsPUABWBeO2zU2Y005.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="tn-wrapper">
                    <dl>
                      <dt>
                        <a href="#" class="title-link"
                          >好玩的探险游｜宝石谷+7010雷达基地</a
                        >
                      </dt>
                      <dd>
                        <a href="#"
                          >Day1｜
                          这趟宝石谷，雷达基地早就是念念已久的行程了，但是一直没下定决心，主要是车不行。最近看到很多轿车都去到了心就开始痒痒，也要去来一趟。结果……去了之后才发现，多亏没开我的锐志来，要不真的哭死了。
                          这次除了我跟媳妇儿之外还有4个小伙伴一起，开始计划开两辆车的...</a
                        >
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="tn-item clearfix">
                  <div class="tn-image">
                    <img
                      src="./images/wKgBs1c7HiKAe116AA2bkwlWcec11.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="tn-wrapper">
                    <dl>
                      <dt>
                        <a href="#" class="title-link"
                          >流年无恙 --- 别样张家口</a
                        >
                      </dt>
                      <dd>
                        <a href="#"
                          >1、此行两日游，小众景点，更多的是人文情怀。

                          2.、十分感谢 @清角吹寒-Po 的游记《京郊的楼兰古城，科罗拉多大峡谷，北魏悬空寺--开阳堡、朝阳堡、桑干河大峡谷》 游记链接：http://www.mafengwo.cn/i/3388521.html
                          
                          张家口市是河北省下辖地级市，又称“张垣”、“武城”。
                          
                          ...</a
                        >
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="tn-item clearfix">
                  <div class="tn-image">
                    <img
                      src="./images/wKgED1u9dTWACzgjAAWkzM58-YA26.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="tn-wrapper">
                    <dl>
                      <dt>
                        <a href="#" class="title-link"
                          >张家口张北县草原天路游记(附照片和航拍视频)</a
                        >
                      </dt>
                      <dd>
                        <a href="#"
                          >计划了一周，终于在8.24周五下午，我和朋友共三人发小开车从北京顺着高速去了张北县。到了张北一下车明显感觉气温和北京差距很大，至少有10°C，建议去玩的人多穿一件，因为张北县已经属于坝上，外加早晚温差大，所以很冷。去的时候时间不是很好，如果再早去一周，就能赶上篝火...</a
                        >
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="tn-item clearfix">
                  <div class="tn-image">
                    <img
                      src="./images/wKgE2l1tGgqAcf6lABJCh_Zkdsk544.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="tn-wrapper">
                    <dl>
                      <dt>
                        <a href="#" class="title-link"
                          >三角翼&UTV越野车，这是一个女生脱缰旅行的日记</a
                        >
                      </dt>
                      <dd>
                        <a href="#"
                          >自入夏以来，跟AJ其实已经自驾去了很多地方，转眼秋天，继续出发。在网页里翻翻翻，叮~去张家口的草原天路吧！因为看到了五色天路旅游度假区的三角翼飞行和UTV越野车，立马收拾行李出发~
 

                          下面是我在「五色天路」一天の日记：
                          难得在张北草原天路看见这么符合我要（zhuang）...</a
                        >
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="tn-item clearfix">
                  <div class="tn-image">
                    <img
                      src="./images/wKgEaVy9fx6AM0VQACEsN_BLQJA18.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="tn-wrapper">
                    <dl>
                      <dt>
                        <a href="#" class="title-link"
                          >自驾4天：北京周边带娃好出去之张家口</a
                        >
                      </dt>
                      <dd>
                        <a href="#"
                          >出发
                          古驿、古堡、古城 - 张家口 2018.2.2-5
                          
                          这次自驾重点是张家口地区的部分古迹。此行是轿车+城市越野，且上有90岁的姥爷、下有6岁的闺女，故选择的都是非常好走的铺装道路。此行两车七人，本人、我母亲、我家娃及我姥爷、我舅舅全家。
                          此次行程设计的比较松散，因姥爷岁数...</a
                        >
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="zb-box">
          <div class="zb">
            <h2 class="r-title">张家口周边目的地</h2>
            <ul class="zb-list">
              <li class="item">
                <div class="img">
                  <a href="#">
                    <img
                      class="lazy"
                      height="200"
                      width="320"
                      src="./images/CoUBUl_ZydWAFJLPAAVNFTCqozw74.jpeg"
                      style="display: inline"
                    />
                  </a>
                </div>
                <dl class="caption">
                  <dt>
                    <a href="#"
                      ><strong>北京</strong></a
                    >
                  </dt>
                  <dd>
                    <a href="#">八达岭长城</a>
                    <span class="divide"></span>
                    <a href="#">故宫</a>
                    <span class="divide"></span>
                    <a href="#">北京环球度假区</a>
                  </dd>
                </dl>
              </li>
              <li class="item">
                <div class="img">
                  <a href="#">
                    <img
                      class="lazy"
                      height="200"
                      width="320"
                      src="./images/CoUBUl_pqLeAZrRJAAGlkWFtDLw53.jpeg"
                      style="display: inline"
                    />
                  </a>
                </div>
                <dl class="caption">
                  <dt>
                    <a href="#"><strong>大同</strong></a>
                  </dt>
                  <dd>
                    <a href="#">云冈石窟</a>
                    <span class="divide"></span>
                    <a href="#">悬空寺</a>
                    <span class="divide"></span>
                    <a href="#">恒山</a>
                  </dd>
                </dl>
              </li>
              <li class="item">
                <div class="img">
                  <a href="#">
                    <img
                      class="lazy"
                      height="200"
                      width="320"
                      src="./images/wKgB6lSgy1GABGGoAAivmY1UIQA647.png"
                      style="display: inline"
                    />
                  </a>
                </div>
                <dl class="caption">
                  <dt>
                    <a href="#"><strong>延庆</strong></a>
                  </dt>
                  <dd>
                    <a href="#">八达岭长城</a>
                    <span class="divide"></span>
                    <a href="#">野鸭湖国家湿地公园</a>
                    <span class="divide"></span>
                    <a href="#">玉渡山风景区</a>
                  </dd>
                </dl>
              </li>


              <li class="item">
                <div class="img">
                  <a href="#">
                    <img
                      class="lazy"
                      height="200"
                      width="320"
                      src="./images/wKgB6lSgzsKAACBuAAdgTInbmRs903.png"
                      style="display: inline"
                    />
                  </a>
                </div>
                <dl class="caption">
                  <dt>
                    <a href="#"><strong>怀柔</strong></a>
                  </dt>
                  <dd>
                    <a href="#">慕田峪长城</a>
                    <span class="divide"></span>
                    <a href="#">红螺寺</a>
                    <span class="divide"></span>
                    <a href="#">黄花城水长城</a>
                  </dd>
                </dl>
              </li>
              <li class="item">
                <div class="img">
                  <a href="#">
                    <img
                      class="lazy"
                      height="200"
                      width="320"
                      src="./images/wKgB4lMUI5GAHLQVAAEahCep-Wg76.jpeg"
                      style="display: inline"
                    />
                  </a>
                </div>
                <dl class="caption">
                  <dt>
                    <a href="#"><strong>张北</strong></a>
                  </dt>
                  <dd>
                    <a href="#">张北草原</a>
                    <span class="divide"></span>
                    <a href="#">张北草原天路</a>
                    <span class="divide"></span>
                    <a href="#">宝元岔</a>
                  </dd>
                </dl>
              </li>
              <li class="item">
                <div class="img">
                  <a href="#">
                    <img
                      class="lazy"
                      height="200"
                      width="320"
                      src="./images/wKgB6lSg0cWANkv0AAVlgn8VTJM419.png"
                      style="display: inline"
                    />
                  </a>
                </div>
                <dl class="caption">
                  <dt>
                    <a href="#"><strong>延庆</strong></a>
                  </dt>
                  <dd>
                    <a href="#">古北水镇</a>
                    <span class="divide"></span>
                    <a href="#">司马台长城</a>
                    <span class="divide"></span>
                    <a href="#">黑龙潭自然风景区</a>
                  </dd>
                </dl>
              </li>

              <li class="item">
                <div class="img">
                  <a href="#">
                    <img
                      class="lazy"
                      height="200"
                      width="320"
                      src="./images/wKgB6lSg5JaAX0zYAAUmCmn6LiU163.png"
                      style="display: inline"
                    />
                  </a>
                </div>
                <dl class="caption">
                  <dt>
                    <a href="#"><strong>门头沟</strong></a>
                  </dt>
                  <dd>
                    <a href="#">潭柘寺</a>
                    <span class="divide"></span>
                    <a href="#">司马台长城</a>
                    <span class="divide"></span>
                    <a href="#">白瀑寺</a>
                  </dd>
                </dl>
              </li> <li class="item">
                <div class="img">
                  <a href="#">
                    <img
                      class="lazy"
                      height="200"
                      width="320"
                      src="./images/wKgB6lP27tmAcytUAAcr1BqFBtA83.jpeg"
                      style="display: inline"
                    />
                  </a>
                </div>
                <dl class="caption">
                  <dt>
                    <a href="#"><strong>草原天路</strong></a>
                  </dt>
                  <dd>
                    <a href="#">翠云山银河滑雪场</a>
                    <span class="divide"></span>
                    <a href="#">翠云山银河滑雪场</a>
                    <span class="divide"></span>
                    <a href="#">宝元岔</a>
                  </dd>
                </dl>
              </li> <li class="item">
                <div class="img">
                  <a href="#">
                    <img
                      class="lazy"
                      height="200"
                      width="320"
                      src="./images/wKgB6lSg7ACAEy3LAAYPJw8BxpY365.png"
                      style="display: inline"
                    />
                  </a>
                </div>
                <dl class="caption">
                  <dt>
                    <a href="#"><strong>房山</strong></a>
                  </dt>
                  <dd>
                    <a href="#">周口店坡峰岭风景区</a>
                    <span class="divide"></span>
                    <a href="#">房山十渡风景名胜区</a>
                    <span class="divide"></span>
                    <a href="#">黑龙潭自然风景区</a>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
