<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>张家口</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-wraper">
          <div class="logo">
            <a href="/"></a>
          </div>
          <ul class="nav-list">
            <li>
              <a href="./index.html">首页</a>
            </li>
            <li>
              <a href="./mudidi.html">目的地</a>
            </li>
            <li>
              <a href="./luxian.html">路线</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="shadow"></div>
      <div class="placeTop">
        <div class="wrapper">
          <div class="title">
            <h1>张家口</h1>
            <span class="en">Zhangjiakou</span>
          </div>
        </div>
      </div>
      <div class="lx-content">
        <div class="wrapper wiki-wrapper clearfix">
          <div class="wiki-aside">
            <ul class="wiki-nav">
              <li class="on">
                <a href="#">概况</a>
              </li>
              <li class="item-last">
                <a href="#">路线推荐</a>
              </li>
            </ul>
          </div>
          <div class="wiki-cont">
            <div class="wiki-title clearfix">
              <h1 class="h1">概况</h1>
            </div>
            <div class="anchor-nav">
              <a href="#">简介</a>
              <span class="split"></span><a href="#">最佳旅行时间</a>
              <span class="split"></span><a href="#">建议游玩天数</a>
              <span class="split"></span><a href="#">当地气候</a>
              <span class="split"></span><a href="#">语言</a>
            </div>
            <div id="intro_unstrt-desc" class="part">
              <div class="h2">简介</div>
              <p>
                张家口位于中国河北省西北部，是一座有着悠久历史和灿烂文化的北方名城，自古即为兵防重镇和进入蒙俄及东欧市场的陆路商埠，是奠定中华民族融合统一的重要圣地，有优越的地理位置和区位优势。张家口不仅有浓厚的历史底蕴，自然景观也很丰富，是京郊游的主要目的地之一，张家口有青山绿水，也有大漠孤烟，坝上草原及崇礼滑雪场深受游客欢迎。
              </p>
            </div>
            <div id="intro_unstrt-travelseason" class="part">
              <div class="h2">最佳旅行时间</div>
              <p>四季皆宜，秋季最佳。</p>
            </div>
            <div id="intro_unstrt-traveltime" class="part">
              <div class="h2">建议游玩天数</div>
              <p>1天</p>
            </div>
            <div id="intro_unstrt-travelweather" class="part">
              <div class="h2">当地气候</div>
              <p>寒温带大陆性半干旱气候，四季分明</p>
            </div>
            <div id="intro_unstrt-travellanguage" class="part">
              <div class="h2">语言</div>
              <p>晋语-张呼片</p>
            </div>
            <div class="user-view">
              <div class="h3">以下蜂蜂刚刚浏览了这篇攻略：</div>
              <ul class="clearfix">
                <li>
                  <a href="#">
                    <img
                      src="./images/wKgE2l1O5-eAExWEAAEpFagWt8s02.jpeg"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
                <li>
                  <a href="#" title="双儿1119">
                    <img
                      src="./images/wKgBEFqH8t2AC-t1AAAHNOL0ANc81.jpeg"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="./images/wKgEaVy2voeAVWpnAAqKvnwwDyI16.jpeg"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="./images/wKgBZ1kRLkiAJWnxAACwgjAjjJ436.jpeg"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="./images/wKgBm02Re0bUSHfAAAAfOiZ-d_w80.jpeg"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      src="./images/wKgBpVYkbGGAdVUJAArPSg0wmKc22.jpeg"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
                <li>
                  <a href="/u/81667507.html">
                    <img
                      src="./images/wKgED1uqIs-AMYTwAAAX-VIKIo0071.png"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
