<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>张家口</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-wraper">
          <div class="logo">
            <a href="/"></a>
          </div>
          <ul class="nav-list">
            <li>
              <a href="./index.html">首页</a>
            </li>
            <li>
              <a href="./mudidi.html">目的地</a>
            </li>
            <li>
              <a href="./luxian.html">路线</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="shadow"></div>
      <div class="placeTop">
        <div class="wrapper">
          <div class="title">
            <h1>张家口</h1>
            <span class="en">Zhangjiakou</span>
          </div>
        </div>
      </div>
      <div class="mdd-content row-top5">
        <div class="wrapper">
          <h2 class="title">必游景点TOP5</h2>
          <div class="item clearfix">
            <div class="info">
              <div class="middle">
                <h3>
                  <span class="num">1</span>
                  <a href="#">太舞滑雪小镇 </a
                  ><a href="#">
                    <span class="rev-total"><em>30</em> 条点评</span>
                  </a>
                </h3>
                <p>
                  太舞滑雪场总规划200条雪道初、中、高级占比3:4:3，既能保证专业的竞技赛事，又能满足初、中级爱好者的上雪需求。
                </p>
              </div>
            </div>
            <div class="pic">
              <a href="#">
                <div class="large">
                  <img
                    src="./images/CoUBUmGvB8-AQezKAAY5DpIdvg4545.png"
                    width="380"
                    height="270"
                  />
                </div>
                <div>
                  <img
                    src="./images/wKgE2l05qQ-AQjPsAAR-E-Y3lSM02.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
                <div>
                  <img
                    src="./images/wKgBZ1n8RxCAP5kjAAQCyDip5y408.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
              </a>
            </div>
          </div>
          <div class="item clearfix">
            <div class="info">
              <div class="middle">
                <h3>
                  <span class="num">2</span>
                  <a href="#">富龙滑雪场 </a
                  ><a href="#">
                    <span class="rev-total"><em>21</em> 条点评</span>
                  </a>
                </h3>
                <p>
                  位于张家口市崇礼区东侧，城区至雪场步行5分钟可达，滑雪场形成与城市的无缝对接，十分便利。
                </p>
              </div>
            </div>
            <div class="pic">
              <a href="#">
                <div class="large">
                  <img
                    src="./images/wKgBZ1n4HhKAKgu3ACZqUxP-diI72.jpeg"
                    width="380"
                    height="270"
                  />
                </div>
                <div>
                  <img
                    src="./images/wKgEaVxpPjeASifRAD60_Ap-32s30.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
                <div>
                  <img
                    src="./images/wKgBZ1os3pyAGipcADGz-v5sSgc02.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
              </a>
            </div>
          </div>
          <div class="item clearfix">
            <div class="info">
              <div class="middle">
                <h3>
                  <span class="num">3</span>
                  <a href="#">万龙滑雪场 </a
                  ><a href="#">
                    <span class="rev-total"><em>139</em> 条点评</span>
                  </a>
                </h3>
                <p>
                  距离张家口市区车程约60公里，适合具有一定水平的滑雪爱好者，硬件配备，周边服务也是特别完善。
                </p>
                <div class="links">
                  这里还包含景点：
                  <a href="#">万龙快餐厅儿童乐园</a>
                  <a href="#">万龙温泉儿童戏水区</a>
                  <a href="#">边场滑雪</a>
                  <a href="#">万龙滑雪场龙宫温泉</a>
                </div>
              </div>
            </div>
            <div class="pic">
              <a href="#">
                <div class="large">
                  <img
                    src="./images/CoUBGWGvG0eAdlKfAALKclxRdnI65.jpeg"
                    width="380"
                    height="270"
                  />
                </div>
                <div>
                  <img
                    src="./images/CoUBGWGvG4uAcMJxAAJhEIVbbZo07.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
                <div>
                  <img
                    src="./images/wKgED1wA8tmAO5f2AAI8cDZcfvQ84.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
              </a>
            </div>
          </div>
          <div class="item clearfix">
            <div class="info">
              <div class="middle">
                <h3>
                  <span class="num">4</span>
                  <a href="#">多乐美地滑雪场 </a
                  ><a href="#">
                    <span class="rev-total"><em>41</em> 条点评</span>
                  </a>
                </h3>
                <p>
                  雪场90%的雪道都是由人工造雪机铺设而成的,采用暄雪铺设,为滑雪者提供最优质的雪质。
                </p>
                <div class="links">
                  这里还包含景点：
                  <a href="#">多乐美地儿童乐园</a>
                  <a href="#">多乐美地原始家园</a>
                </div>
              </div>
            </div>
            <div class="pic">
              <a href="#">
                <div class="large">
                  <img
                    src="./images/CoNDZ2Gxv_8chZmOAANxWWd9vQU.jpeg"
                    width="380"
                    height="270"
                  />
                </div>
                <div>
                  <img
                    src="./images/wKgBZ1n4JdaACfSbAADvpsDq2qM71.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
                <div>
                  <img
                    src="./images/wKgBZ1n4JdaAP6R_AAB9tQiJ10o53.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
              </a>
            </div>
          </div>
          <div class="item clearfix">
            <div class="info">
              <div class="middle">
                <h3>
                  <span class="num">5</span>
                  <a href="#">暖泉古镇 </a
                  ><a href="#">
                    <span class="rev-total"><em>258</em> 条点评</span>
                  </a>
                </h3>
                <p>因四季水质温热而得名，是中国历史文化名镇</p>
                <div class="links">
                  这里还包含景点：
                  <a href="#">蔚州暖泉书院</a>
                  <a href="#">暖泉华严寺</a>
                  <a href="#">西古堡村</a>
                  <a href="#">天下第一堡打树花剧场</a>
                  <a href="#">暖泉中小堡村</a>
                  <a href="#">王敏书屋</a>
                  <a href="#">北官堡堡门</a>
                  <a href="#">北官堡村</a>
                  <a href="#">蔚县暖泉古镇古堡缘农家院</a>
                </div>
              </div>
            </div>
            <div class="pic">
              <a href="#">
                <div class="large">
                  <img
                    src="./images/wKgBZ1nRgDqASmhIABk3XuRnQMQ29.jpeg"
                    width="380"
                    height="270"
                  />
                </div>
                <div>
                  <img
                    src="./images/wKgE2l0cYKWAF_74AA7ne7yK0xE350.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
                <div>
                  <img
                    src="./images/wKgBEFtZNUmAXJ6sAAcFTm_i-4U31.jpeg"
                    width="185"
                    height="130"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="hot-box">
        <div class="hot">
          <h2 class="title">热门景点</h2>
          <div class="bd">
            <div class="grid grid-two">
              <div class="figure">
                <a href="#">
                  <img
                    src="./images/wKgBEFs3lkCAH9YTAAM0dks8PXc10.jpeg"
                    width="485"
                    height="320"
                  />
                  <h3 class="title">张北草原</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>张北草原</h3>
                        <p>蓝天、白云、草地和羊群完美结合</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="grid">
              <div class="figure">
                <a href="#">
                  <img
                    src="./images/wKgB3FEd2HqAcHv9AA89wuWFRnA09.jpeg"
                    width="242"
                    height="155"
                  />
                  <h3 class="title">真武庙</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>真武庙</h3>
                        <p>庙内东西墙面上的道教题材壁画是一大看点</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="figure">
                <a
                  href="#"
                >
                  <img
                    src="./images/wKgED1wA8xiABWLfAAKyYBxtaEY57.jpeg"
                    width="242"
                    height="155"
                  />
                  <h3 class="title">翠云山银河滑雪场</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>翠云山银河滑雪场</h3>
                        <p>
                          雪质优良，现已经建有6条不同等级的滑雪道、三条牵引索道。为满足年龄不同的滑雪爱好者，还设置了儿童娱乐区、夜间滑雪场及射箭大厅、高山滑索等休闲设施。
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="grid">
              <div class="figure">
                <a href="#">
                  <img
                    src="./images/wKgBpVXNdKuAdUjkAAMmzj_uur400.jpeg"
                    width="242"
                    height="155"
                  />
                  <h3 class="title">梳妆楼元墓</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>梳妆楼元墓</h3>
                        <p>俗传为辽代萧太后的“梳妆楼”，其实是元代蒙古贵族墓</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="figure">
                <a
                  href="#"
                >
                  <img
                    src="./images/wKgED1urrKOAPIH2AANjJ6_YLJA05.jpeg"
                    width="242"
                    height="155"
                  />
                  <h3 class="title">天漠自然风景区</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>天漠自然风景区</h3>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="grid">
              <div class="figure">
                <a
                  href="#"
                >
                  <img
                    src="./images/wKgBZ1n1jWmAcgBPAAEJxMXYwtU05.jpeg"
                    width="242"
                    height="155"
                  />
                  <h3 class="title">汤INN温泉假日酒店...</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>汤INN温泉假日酒店(张家口)</h3>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="figure">
                <a href="#" >
                  <img
                    src="./images/CoUBUl83ptGAPPc8ABp5eXivujE858.jpeg"
                    width="242"
                    height="155"
                  />
                  <h3 class="title">茶山村</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>茶山村</h3>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="grid grid-two">
              <div class="figure">
                <a href="#">
                  <img
                    src="./images/wKgE2l0_sTqAI_-4AAih9uIZY_Q091.jpeg"
                    width="485"
                    height="320"
                  />
                  <h3 class="title">大境门</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>大境门</h3>
                        <p>
                          大境门，是明长城的一个著名关隘，位于张家口市区北端外长城的大境口。拥有350年的悠久历史，在历史上有重要的地位。
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="grid">
              <div class="figure">
                <a href="#">
                  <img
                    src="./images/wKgED1unnimAZWfXADxIoslQ3EA58.jpeg"
                    width="242"
                    height="155"
                  />
                  <h3 class="title">赤城温泉</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>赤城温泉</h3>
                        <p>史称“关外第一泉”，历史悠久的天然温泉</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="figure">
                <a
                  href="#"
                >
                  <img
                    src="./images/wKgE2l13Y5uAKqfPAADLWksB5Dw107.pneg"
                    width="242"
                    height="155"
                  />
                  <h3 class="title">富龙四季小镇</h3>
                  <div class="mask-container">
                    <div class="mask">
                      <div class="middle">
                        <h3>富龙四季小镇</h3>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-allScenic">
        <div class="wrapper">
          <h2 class="title">张家口全部景点</h2>
          <div class="bd">
            <ul class="scenic-list clearfix">
              <li>
                <a href="#">
                  <div class="img">
                    <img
                      src="./images/CoUBUmGvB8-AQezKAAY5DpIdvg4545.png"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>太舞滑雪小镇</h3>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="img">
                    <img
                      src="./images/wKgBZ1n4HhKAKgu3ACZqUxP-diI72.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>富龙滑雪场</h3>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="img">
                    <img
                      src="./images/CoUBGWGvG0eAdlKfAALKclxRdnI65.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>万龙滑雪场</h3>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="img">
                    <img
                      src="./images/CoNDZ2Gxv_8chZmOAANxWWd9vQU.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>多乐美地滑雪场</h3>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="img">
                    <img
                      src="./images/wKgBZ1nRgDqASmhIABk3XuRnQMQ29.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>暖泉古镇</h3>
                </a>
              </li>
              <li>
                <a href="#" title="张北草原">
                  <div class="img">
                    <img
                      src="./images/wKgBEFs3lkCAH9YTAAM0dks8PXc10.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>张北草原</h3>
                </a>
              </li>
              <li>
                <a href="#" title="真武庙">
                  <div class="img">
                    <img
                      src="./images/wKgB3FEd2HqAcHv9AA89wuWFRnA09.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>真武庙</h3>
                </a>
              </li>
              <li>
                <a href="#" title="翠云山银河滑雪场">
                  <div class="img">
                    <img
                      src="./images/wKgED1wA8xiABWLfAAKyYBxtaEY57.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>翠云山银河滑雪场</h3>
                </a>
              </li>
              <li>
                <a href="#" title="梳妆楼元墓">
                  <div class="img">
                    <img
                      src="./images/wKgBpVXNdKuAdUjkAAMmzj_uur400.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>梳妆楼元墓</h3>
                </a>
              </li>
              <li>
                <a href="#" title="张北草原天路">
                  <div class="img">
                    <img
                      src="./images/wKgE2l0sR_aAZRwkABLFgebQ4qQ97.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>张北草原天路</h3>
                </a>
              </li>
              <li>
                <a href="#" title="天漠自然风景区">
                  <div class="img">
                    <img
                      src="./images/wKgED1urrKOAPIH2AANjJ6_YLJA05.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>天漠自然风景区</h3>
                </a>
              </li>
              <li>
                <a href="#" title="汤INN温泉假日酒店(张家口)">
                  <div class="img">
                    <img
                      src="./images/wKgBZ1n1jWmAcgBPAAEJxMXYwtU05.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>汤INN温泉假日酒店(张家口)</h3>
                </a>
              </li>
              <li>
                <a href="#" title="茶山村">
                  <div class="img">
                    <img
                      src="./images/CoUBUl83ptGAPPc8ABp5eXivujE858.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>茶山村</h3>
                </a>
              </li>
              <li>
                <a href="#" title="大境门">
                  <div class="img">
                    <img
                      src="./images/wKgE2l0_sTqAI_-4AAih9uIZY_Q091.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>大境门</h3>
                </a>
              </li>
              <li>
                <a href="#" title="赤城温泉">
                  <div class="img">
                    <img
                      src="./images/wKgED1unnimAZWfXADxIoslQ3EA58.jpeg"
                      width="192"
                      height="130"
                    />
                  </div>
                  <h3>赤城温泉</h3>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
