* {
	margin: 0;
	padding: 0;
	line-height: 50px;
	box-sizing: border-box;

}

*::before,
*::after {
box-sizing: border-box;
}

@font-face {
	font-family: ttt;
	src: url('../Fonts/kastler.svg'),
		url('../Fonts/kastler.eot'),
		url('../Fonts/kastler.ttf'),
		url('../Fonts/kastler.woff');
}

#container {
	width: 100%;
	height: auto;
	background-color: white;
	/* background-image: url(../æµœpng); */
	margin: auto;
	z-index: 1;
}

#header {
	float: left;
	width: 100%;
	height: 55px;
	/* margin-top: 0px; */
	line-height: 55px;
	/* margin-left: 60px; */
	box-shadow: 5px;
	border-radius: 15px;
	z-index: 1;
	position: fixed;
	background-color: white;
}

.ming {
	float: left;
	margin-top: -15px;
	margin-left: 10px;
	/* background-color: white; */
}

.ming h1 {
	font-size: 50px;
	color: darkblue;
	letter-spacing: 2px;
	position: fixed;
}
.data p{
	font-size: 20px;
	text-align: center;
	margin-left: 14px;
}
#nav {
	float: left;
	height: 32px;
	/* background-color: peru; */
	margin-top: 15px;
	margin-right: 10px;
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 66;
}

.nav {
	position: relative;
	z-index: 66;
}

.nav li {
	/* margin-top: 15px; */
	/* border: 1px dashed pink; */
	line-height: 36px;
	width: 120px;
	list-style: none;
	/* background: paleturquoise; */
	text-align: center;
	float: right;
}

.nav a {
	text-decoration: none;
	color: black;
	font-size: 30px;

}

.nav ul li a:hover {
	color: darkblue;
	display: block;
}

.nav ul ul li a:hover {
	color: darkblue;
}

.nav ul ul {
	display: none;
}

.nav ul li:hover ul {
	display: block;
}
#dingwei {
	margin-top: 10px;
	text-align: center;
	font-family: "arial black";
}

#dingwei .glyphicon h1 {
	font-size: 36px;
	margin-top: 10px;
	width: 100%;
	height: 100px;
}