* {
	margin: 0;
	padding: 0;
	line-height: 50px;
	box-sizing: border-box;

}

*::before,
*::after {
box-sizing: border-box;
}

@font-face {
	font-family: ttt;
	src: url('../Fonts/kastler.svg'),
		url('../Fonts/kastler.eot'),
		url('../Fonts/kastler.ttf'),
		url('../Fonts/kastler.woff');
}

#container {
	width: 100%;
	height: auto;
	background-color: white;
	/* background-image: url(../äºpng); */
	margin: auto;
	z-index: 1;
}

#header {
	float: left;
	width: 100%;
	height: 55px;
	/* margin-top: 0px; */
	line-height: 55px;
	/* margin-left: 60px; */
	box-shadow: 5px;
	border-radius: 15px;
	z-index: 1;
	position: fixed;
	background-color: white;
}

.ming {
	float: left;
	margin-top: -15px;
	margin-left: 10px;
	/* background-color: white; */
}

.ming h1 {
	font-size: 50px;
	color: darkblue;
	letter-spacing: 2px;
	position: fixed;
}
.data p{
	font-size: 20px;
	text-align: center;
	margin-left: 14px;
}
#nav {
	float: left;
	height: 32px;
	/* background-color: peru; */
	margin-top: 15px;
	margin-right: 10px;
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 66;
}

.nav {
	position: relative;
	z-index: 66;
}

.nav li {
	/* margin-top: 15px; */
	/* border: 1px dashed pink; */
	line-height: 36px;
	width: 120px;
	list-style: none;
	/* background: paleturquoise; */
	text-align: center;
	float: right;
}

.nav a {
	text-decoration: none;
	color: black;
	font-size: 30px;

}

.nav ul li a:hover {
	color: darkblue;
	display: block;
}

.nav ul ul li a:hover {
	color: darkblue;
}

.nav ul ul {
	display: none;
}

.nav ul li:hover ul {
	display: block;
}

#dingwei {
	margin-top: 10px;
	text-align: center;
	font-family: "arial black";
}

#dingwei .glyphicon h1 {
	font-size: 36px;
	margin-top: 10px;
	width: 100%;
	height: 100px;
}

#xinwen1 {
	margin-top: 5px;
	height: 300px;
}

#xinwen1 .left {
	margin-left: 45px;
	width: 600px;
	position: absolute;
}

#xinwen1 .left .t1{
	font-size: 40px;
}
.t1{
	width: 30%;
}
.t1 .l1{
	font-size: 36px;
	margin-top: 25px;
	margin-left: 25px;
}
#xinwen1 .right {
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	/* position: relative; */
}

#xinwen2 {
	/* margin-top: 200px; */
	height: 300px;
}

#xinwen2 .left {
	margin-top: 49px;
	margin-left: 45px;
	width: 600px;
	/* position: absolute; */
}
#xinwen2 .left .t1{
	font-size: 40px;
}
#xinwen2 .right {
	margin-top: -265px;
	margin-right: 20px;
	float: right;
	/* position: relative; */
}

#xinwen3 {
	margin-bottom: 150px;
	height: 176px;
}

#xinwen3 .left {
	margin-left: 45px;
	width: 600px;
	position: absolute;
}
#xinwen3 .left .t1{
	font-size: 40px;
}
#xinwen3 .right {
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	/* position: relative; */
}

#xinwen4 {
	margin-top: 20px;
	height: 300px;
}

#xinwen4 .left {
	margin-top: 15px;
	margin-left: 45px;
	width: 600px;
	position: absolute;
}
#xinwen4 .left .t1{
	font-size: 40px;
}
#xinwen4 .right {
	margin-top: 10px;
	margin-right: 20px;
	float:   right;
	/* position: relative; */
}

#footer {
	height: 60px;
	line-height: 60px;
	text-align: center;
	clear: both;
	color: white;
	background-color: #000000;
}
