<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <title>2022两会</title>
    <link rel="stylesheet" href="./index.css" />
    <script src="./js/jquery1.42.min.js"></script>
    <script src="./js/jquery.SuperSlide.2.1.3.js"></script>
    <script src="./js/TouchSlide.1.1.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="banner">
          <img src="./images/banner.png" alt="" />
        </div>
      </header>
      <div class="video-main">
        <div class="video-wrap">
          <video src="" poster="./images/photo001.png" controls></video>
        </div>
      </div>
      <div class="block">
        <div class="title">
          <div class="left"></div>
          <div class="content">要点</div>
          <div class="right"></div>
        </div>
        <div class="phone-title">
          <img src="./images/phoneIcon.jpg" alt="" />
          <span>要点</span>
        </div>
        <div class="article">
          <div class="article-left">
            <div class="line top"></div>
            <ul class="list">
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span
                    >国务委员兼外交部长王毅就中国外交政策和对外关系回答中外记者提问</span
                  >
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅宣布外交部将为湖北举行全球特别推介会</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：希望更多外国记者成为“新时代的斯诺”</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：中拉以实际行动诠释了“天涯若比邻”</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span
                    >王毅谈缅甸局势：中方愿为缓和紧张局势发挥建设性作用</span
                  >
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅谈南海问题：排除干扰，推进“南海行为准则”磋商</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：希望美方拿出诚意，尽快重返伊核协议</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span
                    >王毅：欢迎美方重返《巴黎协定》，期待美方承担应尽责任</span
                  >
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：将推出协助海外同胞接种疫苗的“春苗行动”</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span
                    >王毅谈帮助海外同胞抗疫：全体外交人员尽锐出动，日夜奋战</span
                  >
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span
                    >王毅：中印应相互成就而不是相互消耗，加强合作而不是
                    彼此防范</span
                  >
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span
                    >王毅谈新发展格局：动能更强、载重力更大的“中国快车”
                    欢迎各国一路同行</span
                  >
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span
                    >王毅：把“一带一路”建设成各方共同发展、共同繁荣的
                    康庄大道</span
                  >
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span
                    >王毅：一个中国原则是中美关系政治基础和不可逾越的红 线</span
                  >
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：开创中国－东盟关系更加精彩的下一个30年</span>
                </a>
                <div class="line"></div>
              </li>
            </ul>
          </div>
          <div class="article-right">
            <div class="line top"></div>
            <ul class="list">
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span
                    >王毅回应对新疆的污蔑：别有用心的造谣，彻头彻尾的谎言</span
                  >
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅谈中日关系：保持定力，走向成熟稳定</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：制度差异不应成为对立对抗的理由</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅谈中国入世20年的四个重要启示</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：让多边主义的火炬照亮人类未来的道路</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：中阿关系逆势前行，继续焕发生机活力</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：让疫苗真正成为“人民的疫苗” </span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：中欧有着广泛共同利益，不是制度性对手</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span> 王毅谈联合国改革必须做到“三点坚持” </span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：中国这一票永远属于发展中国家</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：推动中美关系“辞旧迎新”，重回正轨</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：落实“爱国者治港”，完全合宪合法，正当合理</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span> 王毅谈中非合作：南南合作样板、国际对非合作表率</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：党的领导是外交事业不断走向胜利的根本保障</span>
                </a>
                <div class="line"></div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"></span>
                  <span>王毅：世界越是动荡不宁，中俄合作越要坚定前行</span>
                </a>
                <div class="line"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="title">
          <div class="left"></div>
          <div class="content">全文</div>
          <div class="right"></div>
        </div>
        <div class="phone-title">
          <img src="./images/phoneIcon.jpg" alt="" />
          <span>全文</span>
        </div>
        <div class="section">
          <h2>
            国务委员兼外交部长王毅就中国外交政策和对外关系回答中外记者提问
          </h2>
          <div class="paragraph">
            <p>
              2021年3月7日，十三届全国人大四次会议在人民大会堂举行视频记者会，国务委员兼外交部长王毅就中国外交政策和对外关系回答中外记者提问。
            </p>
            <p>
              王毅：各位记者朋友，大家好！今年的记者会仍然是一场以视频方式同大家见面的特殊记者会。中国虽然已经有效控制住疫情，但还有不少国家仍在同病毒奋勇抗争。只要还有一个国家存在疫情，国际社会团结抗疫的努力就不应停止；只要还有一个人感染病毒，我们就都有责任及时伸出援手。团结就是力量，坚持就是胜利，曙光已在前头。中国将会继续与各国团结合作，为人类彻底战胜疫情而不懈努力。下面，我愿回答大家的提问。
            </p>
            <h3>
              中央广播电视总台央视记者：您如何评价过去一年的中国外交？今年中国外交有哪些重点和亮点？
            </h3>
            <p>
              王毅：2020年，中国与世界各国一道，共同走过了极不平凡的历程。在以习近平同志为核心的党中央坚强领导下，中国外交为国家担当，为人民负重，对世界尽责，全力应对前所未有的挑战，积极发挥中国应有的作用。
            </p>
            <p>
              一年来，最精彩的是元首外交。习近平主席以“云外交”的创新方式，同各国领导人共商合作大计，展现了大国领袖的世界情怀，也为国际社会团结抗疫指明了方向，注入了动力。
            </p>
            <p>
              　一年来，最坚定的是捍卫国家利益。我们坚决反对世界上的霸权霸道霸凌，坚决顶回对中国内政的无理干涉。中国的主权不容侵犯，中华民族的尊严不容诋毁，中国人民的正当权利必须维护。
            </p>
            <p>
              一年来，投入精力最大的是抗疫外交。我们为国内抗疫尽心尽责，同国际社会守望相助，开展了新中国成立以来规模最大的紧急人道主义行动，为全球抗疫做出了中国贡献。
            </p>
            <p>
              一年来，最牵挂的是海外同胞的安危。疫情之下，我们及时向有需要的海外公民伸出援手，全力以赴提供保护救助，把外交为民扛在肩上，落到实处。
            </p>
            <p>
              一年来，最关注的是把握全球治理的方向。面对单边主义肆虐，中国旗帜鲜明予以抵制，以实际行动践行多边主义，维护国际关系准则。针对保护主义抬头，我们身体力行扩大开放，发挥中国超大型市场优势，为各国提供更多发展机遇。
            </p>
            <p>
              对中国而言，2021年是具有划时代意义的一年。我们将迎来中国共产党百年华诞，中国外交也将开启新的征程。
            </p>
            <p>
              我们将牢记党和国家重托，积极发展同各国的友好关系，不断增进中国同世界的相互理解，继续为中华民族伟大复兴营造良好外部环境。
            </p>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="title">
          <div class="left"></div>
          <div class="content">精彩视频</div>
          <div class="right"></div>
        </div>
        <div class="phone-title">
          <img src="./images/phoneIcon.jpg" alt="" />
          <span>精彩视频</span>
        </div>
        <div id="carousel_video">
          <div class="bd">
            <ul class="video-list">
              <li>
                <video src="" poster="./images/photo002.png"></video>
                <p>王毅回答记者提问(一)</p>
              </li>
              <li>
                <video src="" poster="./images/photo003.png"></video>
                <p>王毅回答记者提问(二)</p>
              </li>
              <li>
                <video src="" poster="./images/photo004.png"></video>
                <p>王毅回答记者提问(三)</p>
              </li>
              <li>
                <video src="" poster="./images/photo005.png"></video>
                <p>王毅回答记者提问(四)</p>
              </li>
              <li>
                <video src="" poster="./images/photo006.png"></video>
                <p>王毅回答记者提问(五)</p>
              </li>
              <li>
                <video src="" poster="./images/photo007.png"></video>
                <p>王毅回答记者提问(六)</p>
              </li>
            </ul>
            <ul class="video-list">
              <li>
                <video src="" poster="./images/photo002.png"></video>
                <p>王毅回答记者提问(一)</p>
              </li>
              <li>
                <video src="" poster="./images/photo003.png"></video>
                <p>王毅回答记者提问(二)</p>
              </li>
              <li>
                <video src="" poster="./images/photo004.png"></video>
                <p>王毅回答记者提问(三)</p>
              </li>
              <li>
                <video src="" poster="./images/photo005.png"></video>
                <p>王毅回答记者提问(四)</p>
              </li>
              <li>
                <video src="" poster="./images/photo006.png"></video>
                <p>王毅回答记者提问(五)</p>
              </li>
              <li>
                <video src="" poster="./images/photo007.png"></video>
                <p>王毅回答记者提问(六)</p>
              </li>
            </ul>
            <ul class="video-list">
              <li>
                <video src="" poster="./images/photo002.png"></video>
                <p>王毅回答记者提问(一)</p>
              </li>
              <li>
                <video src="" poster="./images/photo003.png"></video>
                <p>王毅回答记者提问(二)</p>
              </li>
              <li>
                <video src="" poster="./images/photo004.png"></video>
                <p>王毅回答记者提问(三)</p>
              </li>
              <li>
                <video src="" poster="./images/photo005.png"></video>
                <p>王毅回答记者提问(四)</p>
              </li>
              <li>
                <video src="" poster="./images/photo006.png"></video>
                <p>王毅回答记者提问(五)</p>
              </li>
              <li>
                <video src="" poster="./images/photo007.png"></video>
                <p>王毅回答记者提问(六)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="title">
          <div class="left"></div>
          <div class="content">精彩图片</div>
          <div class="right"></div>
        </div>
        <div class="phone-title">
          <img src="./images/phoneIcon.jpg" alt="" />
          <span>精彩图片</span>
        </div>
        <div class="image-wrap">
          <div class="image-big">
            <a href="#">
              <img src="./images/photo009.png" alt="" />
              <p>
                <span>王毅回答记者提问</span>
              </p>
            </a>
          </div>
          <div class="image-small-box">
            <ul class="image-small-list">
              <li class="on" data-text="王毅回答记者提问">
                <a href="javascript:void(0)">
                  <img src="./images/photo009.png" alt="" />
                </a>
              </li>
              <li data-text="王毅回答记者提问2">
                <a href="javascript:void(0)">
                  <img src="./images/photo010.png" alt="" />
                </a>
              </li>
              <li data-text="王毅回答记者提问3">
                <a href="javascript:void(0)">
                  <img src="./images/photo011.png" alt="" />
                </a>
              </li>
              <li data-text="王毅回答记者提问4">
                <a href="javascript:void(0)">
                  <img src="./images/photo012.png" alt="" />
                </a>
              </li>
              <li data-text="王毅回答记者提问5">
                <a href="javascript:void(0)">
                  <img src="./images/photo012.png" alt="" />
                </a>
              </li>
              <li data-text="王毅回答记者提问6">
                <a href="javascript:void(0)">
                  <img src="./images/photo012.png" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="phone-carousel">
          <div id="carousel">
            <div class="hd">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="bd">
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/photo009.png" alt="" />
                    <p class="text">
                      <span>王毅回答记者提问</span>
                    </p>
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/photo009.png" alt="" />
                    <p class="text">
                      <span>王毅回答记者提问2</span>
                    </p>
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/photo009.png" alt="" />
                    <p class="text">
                      <span>王毅回答记者提问3</span>
                    </p>
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/photo009.png" alt="" />
                    <p class="text">
                      <span>王毅回答记者提问4</span>
                    </p>
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/photo009.png" alt="" />
                    <p class="text">
                      <span>王毅回答记者提问5</span>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <script>
            TouchSlide({ slideCell: "#carousel", autoPlay: true });
          </script>
        </div>
      </div>
      <footer>
        <p>中华人民共和国外交部　版权所有</p>
        <p>
          联系我们　地址：北京市朝阳区朝阳门南大街2号　邮编：100701　电话：+86-10-65961114
        </p>
        <p>网站标识码：bm02000004　京ICP备06038296号　京公网安备110105002097</p>
        <img src="./images/bouttom-photo.png" alt="" />
      </footer>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>
