/* eyoucms.com 易优CMS -- 好用,免费,安全 */

/*common css*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,input,textarea,div,tr,td{margin:0;padding:0; list-style:none;font-family:"microsoft yahei", Arial, Helvetica, sans-serif;}
a{ color:#333; text-decoration:none}
table{border-collapse:collapse;border-spacing:0;}
img{ border:none;max-width: 100%;}
.C{ clear:both}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1;}
.left{float:left}
.right{ float:right}