
<!DOCTYPE html>
<html>
<head lang="en">
<!-- 声明文档使用的字符编码 -->
<meta charset='utf-8'>

<!-- 优先使用 IE 最新版本和 Chrome -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>公司新闻_某某公司</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="./favicon.ico" rel="shortcut icon" type="image/x-icon" />

<!-- 公共部分css-->
<link rel="stylesheet" href="./template/pc/skin/css/bootstrap.css" />
<link rel="stylesheet" href="./template/pc/skin/css/bootstrap-paginator.css" />
<link rel="stylesheet" href="./template/pc/skin/css/owl.carousel.css" />
<link rel="stylesheet" href="./template/pc/skin/css/owl.theme.default.min.css" />
<link rel="stylesheet" href="./template/pc/skin/css/reset.css" />
<!-- 公共部分js-->
<script src="./template/pc/skin/js/jquery_1.12.4.min.js"></script>
<script src="./template/pc/skin/js/bootstrap.js"></script>
<script src="./template/pc/skin/js/bootstrap-paginator.js"></script>
<script src="./template/pc/skin/js/html5shiv.js"></script>
<script src="./template/pc/skin/js/respond.js"></script>
<script src="./template/pc/skin/js/owl.carousel.min.js"></script>
<script src="./template/pc/skin/js/swiper-2.7.6.min.js"></script>
<script src="./template/pc/skin/js/jquery.superslide.2.1.1.js"></script>

<!-- 私有的css-->
<link rel="stylesheet" href="./template/pc/skin/css/css.css" />
<link rel="stylesheet" href="./template/pc/skin/css/index.css" />

<!-- 私有的js-->
<script src="./template/pc/skin/js/function.js"></script>
</head>
<body>
<div id="header" class="clearfix"> 
  
  <!-- logo-->
  <div class="left logo"> <a href="https://demoall.yiyocms.com./"><img src="./uploads/allimg/20190427/482f8e50caa7508aae977fd7192228bf.png" alt="某某公司" /> </a> </div>
  
  <!--pc_menu -->
  <div class="pc_menu right"> 
    <!--pc导航-->
    <ul class="menu hidden-sm hidden-xs clearfix">
        <li class="nLi "> <a href="./index.html">
          <h4>首页</h4>
          <h5>HOME</h5>
          </a> </li>
              <li class="nLi "> <a href="./guanyuwomen.html">
          <h4>关于我们</h4>
          <h5>About Us</h5>
          </a>         <ul class="sub">
                      <li><a href="./gongsijianjie.html">公司简介</a></li>
                    </ul>
           </li>
              <li class="nLi "> <a href="./xinwenzhongxin.html">
          <h4>新闻中心</h4>
          <h5>News</h5>
          </a>         <ul class="sub">
                      <li><a href="./gongsixinwen.html">公司新闻</a></li>
                      <li><a href="./xingyexinwen.html">行业新闻</a></li>
                    </ul>
           </li>
              <li class="nLi "> <a href="./chanpinzhanshi.html">
          <h4>产品展示</h4>
          <h5>PRODUCT</h5>
          </a>         <ul class="sub">
                      <li><a href="./zhushixilie.html">主食系列</a></li>
                      <li><a href="./chongpaoxilie.html">冲泡系列</a></li>
                      <li><a href="./tiandianxilie.html">甜点系列</a></li>
                    </ul>
           </li>
              <li class="nLi "> <a href="./liuyanban.html">
          <h4>留言板</h4>
          <h5>Feedback</h5>
          </a>  </li>
              <li class="nLi "> <a href="./yinshichangshi.html">
          <h4>饮食常识</h4>
          <h5>Manual</h5>
          </a>         <ul class="sub">
                      <li><a href="./yinshizhishi.html">饮食知识</a></li>
                    </ul>
           </li>
              <li class="nLi "> <a href="./lianxiwomen.html">
          <h4>联系我们</h4>
          <h5>CONRACT</h5>
          </a>  </li>
            </ul>
  </div>
  
  <!--手机导航ico-->
  <div class="menu_icon hidden-md hidden-lg"> <img src="./template/pc/skin/img/menuicon.png" alt=""> </div>
</div>
<div id="banner">
  <div id="owl-demo" class="owl-carousel">  <a class="item"> <img src="./uploads/allimg/20190427/ad688de6794ebc798c55d20ebc054544.jpg" alt="首页幻灯2"> </a>  <a class="item"> <img src="./uploads/allimg/20190427/64c40133ca111bee9bc0ee0c21e7f372.jpg" alt="首页幻灯1"> </a>  </div>
</div>

<div id="content">
<div class="titlehead">
  <div class="container">
    <div class="row clearfix">
      <h2><span>新闻中心</span><em>News</em> <i class="phone-menuicon visible-xs-block"> <img src="./template/pc/skin/img/2.png" alt=""> </i></h2>
      <div class="crumb hidden-xs"> <img src="./template/pc/skin/img/home.png" alt="" /><span>您所在的位置是： <a href='./' class=' '>首页</a> &gt; <a href='./xinwenzhongxin/' class=' '>新闻中心</a> &gt; <a href='./xinwenzhongxin/gongsixinwen/'>公司新闻</a></span></div>
    </div>
  </div>
</div>
<div class="subinside">
  <div class="container">
    <div class="row"> <div class="_aside col-sm-3 col-xs-12">
  <ul class="sidemenu">
        <li class="sub1"><a class="sub1_a sl" href="./xinwenzhongxin/gongsixinwen/"><span>公司新闻</span></a></li>
        <li class="sub1"><a class="sub1_a sl" href="./xinwenzhongxin/xingyexinwen/"><span>行业新闻</span></a></li>
      </ul>
</div>

      <div class="col-sm-9 col-xs-12 main">
        <div class="article">
          <div class="newsid_b">
            <ul class="clearfix">
                            <li> <a href="./xinwenzhongxin/gongsixinwen/9.html" class="clearfix">
                <h4>黄豆的营养价值</h4>
                <h5>2019-04-27</h5>
                <p>大豆不单单指黄豆，它还包含黑豆和青豆。大豆营养全面，含量丰富，其中蛋白质的含量比猪肉高2倍，是鸡蛋含量的2.5倍。蛋白质的含量不仅高，而且质量好。大豆蛋白质的氨基酸组成和动物蛋白质近似，其中氨基酸比较接近人体需要的比值，...</p>
                <span>more>></span> </a> </li>
                            <li> <a href="./xinwenzhongxin/gongsixinwen/8.html" class="clearfix">
                <h4>黄豆的工业应用</h4>
                <h5>2019-04-27</h5>
                <p>豆油：由大豆加工生产的豆油是重要的食用油之一，属半干性油，是一种良好的植物油。它是人体不饱和脂肪酸的重要来源，能起到降低胆固醇的作用，对高血压、心血管疾病也有辅助治疗功效。大豆油经过精炼形成的精炼大豆油主要供食用。豆油经...</p>
                <span>more>></span> </a> </li>
                            <li> <a href="./xinwenzhongxin/gongsixinwen/7.html" class="clearfix">
                <h4>什么是黑色食品</h4>
                <h5>2019-04-27</h5>
                <p>黑色食品是指含有天然黑色素的动植物食品，不论是动物还是植物，由于含有天然黑色素，其色泽均呈乌黑或深紫、深褐色。有些品种外皮乌黑；有的品种一黑到底，表里如一，如黑枸杞、黑米、黑芝麻、黑木耳、香菇、紫菜、海带及乌骨鸡等。人工...</p>
                <span>more>></span> </a> </li>
                            <li> <a href="./xinwenzhongxin/gongsixinwen/6.html" class="clearfix">
                <h4>黑米的功效</h4>
                <h5>2019-04-27</h5>
                <p> 黑米具有滋阴补肾、健脾暖肝、补血益气、增智补脑、增强新陈代谢、明目活血、治少年白发、供孕妇、产妇补虚养生等功能。对贫血、高血压、神经衰弱、慢性肾炎等疾病均有疗效。维生素B，(是普通大米的2倍)、B2、B6、B12、铁(...</p>
                <span>more>></span> </a> </li>
                            <li> <a href="./xinwenzhongxin/gongsixinwen/5.html" class="clearfix">
                <h4>黑芝麻的功效</h4>
                <h5>2019-04-27</h5>
                <p>【功能：润肠通便、补气益肾、美化肌肤、补脑强身】  芝麻越嚼越香，因此在很早以前芝麻就已成为韩国人饭桌上必不可少的食物，白芝麻已经是人们所熟知的食物了，而药用则以又黑又有光泽的黑芝麻为多。  《东医宝鉴》认为，胡麻（黑芝...</p>
                <span>more>></span> </a> </li>
                            <li> <a href="./xinwenzhongxin/gongsixinwen/4.html" class="clearfix">
                <h4>黑米的食用方法</h4>
                <h5>2019-04-27</h5>
                <p>食用方法：为了更多地保存营养，黑米往往不像白米那样精加工，而是多半在脱壳之后以“糙米”的形式直接食用。这种口感较粗的黑米最适合用来煮粥，而不是做成米饭。  煮粥时，为了使它较快地变软，最好预先浸泡一下，让它充分吸收水分。...</p>
                <span>more>></span> </a> </li>
                          </ul>
          </div>
          <div class="pagination_box hidden-xs">
            <ul class='pagination'>
               <li class="disabled"><span>上一页</span></li> <li class="active"><span >1</span></li><li><a   href="./xinwenzhongxin/gongsixinwen/lists_7_2.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">2</a></li> <li><a   href="./xinwenzhongxin/gongsixinwen/lists_7_2.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">下一页</a></li>            </ul>
          </div>
          <div class="pagination_box visible-xs">
            <ul class='pagination'>
               <li class="disabled"><span>上一页</span></li> <li class="active"><span >1</span></li><li><a   href="./xinwenzhongxin/gongsixinwen/lists_7_2.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">2</a></li> <li><a   href="./xinwenzhongxin/gongsixinwen/lists_7_2.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">下一页</a></li>            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="wap_menu hidden-md hidden-lg">
  <li class="menu_tit"><span>x</span> 快速导航</li>
  <li class="menu_lists">
    <div class="wap_menu1">
      <p class="left"><a href="https://demoall.yiyocms.com./">首页</a></p>
    </div>
  </li>
    <li class="menu_lists">
    <div class="wap_menu1">
      <p class="left"><a href="./guanyuwomen/">关于我们</a></p>
            <p class="right">+</p>
       </div>
        <div class="wap_menu2">  <a href="./guanyuwomen/gongsijianjie/"><i></i><span class="sl">公司简介</span> </a>  </div>
     </li>
    <li class="menu_lists">
    <div class="wap_menu1">
      <p class="left"><a href="./xinwenzhongxin/">新闻中心</a></p>
            <p class="right">+</p>
       </div>
        <div class="wap_menu2">  <a href="./xinwenzhongxin/gongsixinwen/"><i></i><span class="sl">公司新闻</span> </a>  <a href="./xinwenzhongxin/xingyexinwen/"><i></i><span class="sl">行业新闻</span> </a>  </div>
     </li>
    <li class="menu_lists">
    <div class="wap_menu1">
      <p class="left"><a href="./chanpinzhanshi/">产品展示</a></p>
            <p class="right">+</p>
       </div>
        <div class="wap_menu2">  <a href="./chanpinzhanshi/zhushixilie/"><i></i><span class="sl">主食系列</span> </a>  <a href="./chanpinzhanshi/chongpaoxilie/"><i></i><span class="sl">冲泡系列</span> </a>  <a href="./chanpinzhanshi/tiandianxilie/"><i></i><span class="sl">甜点系列</span> </a>  </div>
     </li>
    <li class="menu_lists">
    <div class="wap_menu1">
      <p class="left"><a href="./liuyanban/">留言板</a></p>
       </div>
     </li>
    <li class="menu_lists">
    <div class="wap_menu1">
      <p class="left"><a href="./yinshichangshi/">饮食常识</a></p>
            <p class="right">+</p>
       </div>
        <div class="wap_menu2">  <a href="./yinshichangshi/yinshizhishi/"><i></i><span class="sl">饮食知识</span> </a>  </div>
     </li>
    <li class="menu_lists">
    <div class="wap_menu1">
      <p class="left"><a href="./lianxiwomen/">联系我们</a></p>
       </div>
     </li>
  </ul>
<div class="black_cloth hidden-lg hidden-md"></div>
<div id="footer">
  <div class="copyright">
    <div class="container">
      <div class="row clearfix">
        <div class="footleft">
          <p>地理位置</p>
          <div class="address"> <img src="./uploads/allimg/20190427/585f7810639556447372230ad15e141e.jpg" /> </div>
        </div>
        <div class="footright">
          <div class="top hidden-lg hidden-md hidden-sm"> <img src="./template/pc/skin/img/quik_ico7.png" alt=""> </div>
          <ul class="pc_footer_nav clearfix">
                        <li><a href="./guanyuwomen/">关于我们</a></li>
                        <li><a href="./xinwenzhongxin/">新闻中心</a></li>
                        <li><a href="./chanpinzhanshi/">产品展示</a></li>
                        <li><a href="./liuyanban/">留言板</a></li>
                        <li><a href="./yinshichangshi/">饮食常识</a></li>
                        <li><a href="./lianxiwomen/">联系我们</a></li>
                      </ul>
          <div class="add clearfix">
            <p class="left"> 地址：江西省南昌市 <br />
              电话：0898-08980898<br />
              手机：13876555555<br />
              邮箱：admin@youweb.com<br />
            </p>
            <div class="code right"> <img src="./uploads/allimg/20190427/f69cf497c1faf5ade7416b058811b731.jpg" />
              <p>扫一扫，关注我们</p>
            </div>
          </div>
           <div class="m-link1">
        <div class="item"> <span>友情链接:</span>
          <ul class="ul-link1">
                        <li><a href="http://www.baidu.com" target="_blank">百度 </a></li>
                        <li><a href="http://www.qq.com" target="_blank">腾讯 </a></li>
                        <li><a href="http://www.sina.com.cn" target="_blank">新浪 </a></li>
                        <li><a href="http://www.taobao.com" target="_blank">淘宝 </a></li>
                        <li><a href="http://www.weibo.com" target="_blank">微博 </a></li>
                      </ul>
        </div>
      </div>
          <p class="copyright_con">Copyright © 2012-2018 某某公司 版权所有<a href="http://www.beian.miit.gov.cn/" rel="nofollow" target="_blank">琼ICP备xxxxxxxx号</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pad hidden-lg hidden-md hidden-sm"></div>
<div class="wap_footer hidden-lg hidden-md hidden-sm">
  <dl class="navigation">
    <a>
    <dt> <img src="./template/pc/skin/img/quik_ico1.png" alt=""> </dt>
    <dd>导航</dd>
    </a>
  </dl>
  <dl>
    <a href="tel:0898-08980898">
    <dt> <img src="./template/pc/skin/img/quik_ico2.png" alt=""> </dt>
    <dd>电话</dd>
    </a>
  </dl>
  <dl>
    <a href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes">
    <dt> <img src="./template/pc/skin/img/quik_ico3.png" alt=""> </dt>
    <dd>客服</dd>
    </a>
  </dl>
  <dl>
     <a href="./lianxiwomen/">
    <dt> <img src="./template/pc/skin/img/quik_ico4.png" alt=""> </dt>
    <dd>地图</dd>
    </a>   </dl>
  <dl>
    <a class="w_searchButton">
    <dt> <img src="./template/pc/skin/img/quik_ico5.png" alt=""> </dt>
    <dd>搜索</dd>
    </a>
  </dl>
</div>
<div class="wap_search_input">   <form  method="get" action="./search.html" name="search">
    <input type="hidden" name="typeid" id="typeid" value="" /><input type="hidden" name="channel" id="channel" value="" /><input type="hidden" name="notypeid" id="notypeid" value="" /><input type="hidden" name="flag" id="flag" value="" /><input type="hidden" name="noflag" id="noflag" value="" />    <input type="text" name="keywords" placeholder="请输入搜索关键字">
    <p id="btnA">搜索</p>
  </form>
   </div>
</body>
</html>
